.hero {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 0;

    background: url("assets/images/svg/index-bg.svg") center no-repeat;
    background-size: cover;
  }

  &__background {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }

  &__images {
    position: relative;
    z-index: 2;

    height: 100%;
  }

  &__svg {
    position: absolute;
    bottom: 0;
    
    &--first {
      left: 0;
      transform: scale(0.3) rotate(90deg) !important;
      display: none;
      @media (min-width: $breakpoint) {
        display: block;
      }
    }
    &--second {
      left: calc((#{$grid-part-d} * 2 - #{$grid-gap-d}) + 60px);
      transform: scale(0.3) rotate(90deg) !important;
      display: none;
      @media (min-width: $breakpoint) {
        display: block;
      }
    }
    &--third {
      left: calc((#{$grid-part-d} * 4 - #{$grid-gap-d} * 2) + 60px);
      transform: scale(0.3) rotate(90deg) !important;
      display: none;
      @media (min-width: $breakpoint) {
        display: block;
      }
    }
    &--fourth {
      left: calc((#{$grid-part-d} * 5 - #{$grid-gap-d}) + 60px);
      transform: scale(0.3) rotate(90deg) !important;
      display: none;
      @media (min-width: $breakpoint) {
        display: block;
      }
    }
    &--fifth {
      right: calc((#{$grid-part-d} * 4) + 60px);
      transform: scale(0.3) rotate(-90deg) !important;
      display: none;
      @media (min-width: $breakpoint) {
        display: block;
      }
    }
    &--sixth {
      right: calc(#{$grid-part-d} + 60px);
      transform: scale(0.3) rotate(-90deg) !important;
    }
    &--seventh {
      right: 30px;
      transform: scale(0.3) rotate(-90deg) !important;
    }
    &--eighth {
      right: 30px;
      transform: scale(0.3) rotate(-90deg) !important;
      display: none;
      @media (min-width: $breakpoint) {
        display: block;
      }
    }
    
  }
}