.modal-search {
  $comp: &;
  position: fixed;
  z-index: 2;
  top: 15px;
  @media (min-width: $breakpoint) {
    top: 30px;
  }
  left: 0;
  right: 0;

  width: 100%;
  flex-shrink: 0;

  transform: translateY(-130%);
  transition: $transition;

  // &--catalog {
  //   #{$comp}__col {

  //     &:nth-child(1) {
  //       @media (min-width: $breakpoint) {
  //         width: calc(#{$grid-part-d} * 3 - #{$grid-gap-d});
  //       }
  //     }

  //     &:nth-child(2) {
  //       @media (min-width: $breakpoint) {
  //         padding-left: calc(#{$grid-gap-d});

  //         width: calc(#{$grid-part-d} * 12);
  //       }
  //     }
  //   }
  // }

  &__container {
    padding: 30px 0;
    @media (min-width: $breakpoint) {
      padding: 50px 0;
    }
    position: relative;

    overflow: hidden;
    background-color: #F5F5F5;
    border-radius: 20px;
  }

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: $breakpoint - 1px) {
      // padding: 0 30px;

      flex-wrap: wrap;
    }
  }

  &__col {
    flex-shrink: 0;
    &:nth-child(1) {
      padding: 0 15px;
      width: 100%;
      @media (min-width: $breakpoint) {
        padding: 0;
        padding-left: calc(#{$grid-part-d});

        width: calc(#{$grid-part-d} * 15 - #{$grid-gap-d});
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }

    &:nth-child(2) {
      @media (min-width: $breakpoint) {
        padding: 0 20px;
      }
      @media (max-width: $breakpoint - 1px) {
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 1;
      }
    }
  }

  &__title {
    white-space: nowrap;
    @include fsl(22px, 100%);
    @media (max-width: $breakpoint - 1px) {
      padding-bottom: 15px;

      text-align: center;
    }
  }

  &__form {
    width: 100%;
    @media (min-width: $breakpoint) {
      padding-left: calc(#{$grid-part-d});
    }
  }

  &__line {
    @media (max-width: $breakpoint - 1px) {
      display: none;
    } 
  }
}