$breakpoint: 1280px;

.card {
  $comp: &;

  @media (max-width: $breakpoint - 1px) {
    &:nth-child(1) {
      margin-bottom: 15px;
    }
  }

  &--height-100p {
    height: 100%;

    #{$comp}__frame {
      height: 100%;
    }

    #{$comp}__container {
      height: 100%;
    }
  }

  &__frame {
    position: relative;
    z-index: 0;

    height: 100%;
    overflow: hidden;

    background-color: $color-light-green;
    border-radius: 0 70px 0 0;
    @media (min-width: $breakpoint) {
      border-radius: 0 150px 0 0;
    }

    &--alt {
      background-color: $color-yellow;
      border-radius: 0 0 70px 70px;
      @media (min-width: $breakpoint) {
        border-radius: 0 150px 150px 0;
      }
    }
  }

  &__layout {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  &__container {
    position: relative;
    z-index: 2;

    padding: 20px 30px 30px;
    height: 100%;
    min-height: 253px;
    @media (min-width: $breakpoint) {
      min-height: 393px;
    }
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &--alt {
      @media (max-width: $breakpoint - 1px) {
        min-height: 345px;
      }
    }
  }

  &__title {
    color: $color-grey-white;

    &--black {
      color: $color-black;
    }
  }
  &__text {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.2;
    @media (min-width: $breakpoint) {
      font-size: 38px;
    }

    &--large {
      font-weight: 900;
      font-size: 90px;
      @media (min-width: $breakpoint) {
        font-size: 150px;
      }
      line-height: 1;
    }
  }

  &__button {
    margin-top: 30px;

    display: flex;
  }
}

.social {
  @media (min-width: $breakpoint) {
    padding: 30px 0;
    margin-left: 20px;

    width: calc((#{$grid-part-d}) * 5 - 40px);
    flex-shrink: 0;

    border: 1px solid $color-border-white;
    border-radius: 240px;
  }

  &__list {
    @media (min-width: $breakpoint) {
      // padding-left: 90px;
    }

    @media (max-width: $breakpoint - 1px) {
      height: 100px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
    }
  }

  &__item {
    // display: flex;
    // align-items: center;

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    @media (max-width: $breakpoint - 1px) {
      width: calc((100vw - (#{$grid-gap-m}* 2)) / 2);
      &:nth-child(2n) {
        margin-bottom: 0;
      }
    }
  }

  &__row {
    display: flex;
    align-items: center;
    @media (min-width: $breakpoint) {
      justify-content: space-between;
    }
  }
  &__col {
    flex-shrink: 0;

    &:nth-child(2) {
      margin-left: 10px;
    }

    @media (min-width: $breakpoint) {
      &:nth-child(1) {
        padding-left: calc(#{$grid-part-d} - #{$grid-gap-d});
        width: calc(#{$grid-part-d} * 2 - #{$grid-gap-d} * 2);
        display: flex;
        justify-content: flex-end;
      }
      &:nth-child(2) {
        padding-right: calc(#{$grid-part-d});
        margin-left: $grid-gap-d;
        width: calc(#{$grid-part-d} * 3 - #{$grid-gap-d});
      }
    }
  }

  &__img {
    width: 45px;
    height: 45px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid $color-border-white;
    border-radius: 50%;
  }

  &__link {
    // margin-left: 10px;
    @media (min-width: $breakpoint) {
      // margin-left: 20px;
    }

    text-decoration: none;
    color: $color-white;
    font-size: 14px;
  }
}

.grid-test {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 2000;

  width: 100vw;
  overflow: hidden;
  pointer-events: none;

  &__row {
    display: flex;
    justify-content: space-between;
  }

  &__col {
    width: calc(#{$grid-col-m});
    @media (min-width: $breakpoint) {
      width: calc(#{$grid-col-d});
    }
    flex-shrink: 0;
    min-height: 100vh;

    background-color: rgba($color: black, $alpha: 0.1);

    &:nth-child(even) {
      @media (max-width: $breakpoint - 1px) {
        display: none;
      }
    }
  }
}

.section {
  padding-bottom: 60px;
  @media (min-width: $breakpoint) {
    padding-bottom: 200px;
  }

  background-color: $color-grey;
}

.row {
  margin: 0;

  display: flex;
  @media (min-width: $breakpoint) {
    align-items: stretch;
    justify-content: space-between;
  }

  @media (max-width: $breakpoint - 1px) {
    flex-direction: column;
  }

  &__side {
    flex-shrink: 0;
    @media (min-width: $breakpoint) {
      width: calc((#{$grid-part-d}) * 6 - #{$grid-gap-d});
    }
  }

  &__main {
    flex-shrink: 0;
    @media (min-width: $breakpoint) {
      width: calc((#{$grid-part-d}) * 12 - #{$grid-gap-d});
    }
  }
}

.button {
  padding: 18px 30px;
  @media (min-width: $breakpoint) {
    padding: 28px 40px;

    font-size: 18px;
    border-radius: 25px;
  }
  color: $color-black;
  background-color: $color-yellow;
  font-weight: 700;
  font-size: 16px;
  line-height: 0.8;
  border-radius: 15px;
}
