// главная
.index {
  // рецепты
  &__recipes {

  }
  &__recipes-row {
    @media (min-width: $breakpoint) {
      cursor: none;
    }
  }
  &__recipes-side {
    @media (min-width: $breakpoint) {
      cursor: auto;
    }
  }
  &__recipes-slide {
    &,
    & * {
      @media (min-width: $breakpoint) {
        cursor: none;
        user-select: none;
      }
    }
  }
  &__recipes-cursor {
    position: fixed;
    z-index: 2000;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);

    display: flex;
    @media (max-width: $breakpoint - 1px) {
      display: none;
    }
    pointer-events: none;

    opacity: 0;
    transition: opacity 0.25s;
  }
}

.catalog-modal {
  $comp: &;

  position: fixed;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);

  height: 100%;
  @media (max-width: $breakpoint) {
    display: none;
  }
  overflow: hidden;

  background-color: $color-white;
  border-radius: 0 40px 40px 0;
  transition: $transition;

  &__row {
    height: 100%;
    display: flex;
  }
  &__col {
    height: 100%;

    &:nth-child(1) {
      width: calc(#{$col-pad-d} + #{$col-part-d} * 4 - #{$col-gap-d});

      background-color: $color-grey;
      border-radius: 0 40px 40px 0;
    }
    &:nth-child(2) {
      width: calc(#{$col-part-d} * 4);
    }
  }

  &__inner {
    padding-top: 160px;
    height: 100%;
  }

  $offset: 30px;
  $offset-active: 11px;
  &__categories-wrapper {
    @mixin pseudo() {
      position: absolute;
      z-index: 2;
      left: 0;
      right: 0;

      content: '';
      width: 100%;
      height: $offset - $offset-active;
      pointer-events: none;

      background: linear-gradient($color-white, rgba($color-white, 0)); // для safari (особенность transparent в gradient)
    }

    position: relative;
    z-index: 0;

    margin-top: -$offset;
    height: calc(100% + #{$offset});

    &::before {
      @include pseudo();

      top: 0;
    }
    &::after {
      @include pseudo();

      bottom: 0;
      transform: rotate(180deg);
    }

    &--grey {
      &::before,
      &::after {
        background: linear-gradient($color-grey, rgba($color-grey, 0)); // для safari (особенность transparent в gradient)
      }
    }
  }
  &__categories {
    @include scrollbar-hidden();

    position: relative;
    z-index: 1;

    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  }
  &__categories-container {
    padding: $offset 0;
  }

  &__categories-list {
    padding-left: $col-pad-d;
  }
  &__categories-item {
    position: relative;
    z-index: 0;

    padding: 0 32px;
    display: flex;

    &:not(:first-child) {
      margin-top: 20px;
    }

    &::before {
      position: absolute;
      z-index: -1;
      top: 50%;
      left: 0;
      right: 0;
      transform: translateY(-50%);

      content: '';
      width: 100%;
      height: calc(100% + (11px * 2));
      pointer-events: none;

      background-color: $color-white;
      border-radius: 50px 0 0 50px;
      opacity: 0;
      transition: $transition;
    }

    &[data-category-active] {
      &::before {
        opacity: 1;
      }

      #{$comp}__categories-button {
        color: $color-green;
      }
    }
  }
  &__categories-button {
    @include fsl(16px, 120%);

    cursor: pointer;
    transition: $transition;

    &:hover {
      color: $color-green;
    }
  }

  &__scrollbar {
    position: absolute;
    z-index: 1;
    top: $offset;
    bottom: $offset;
    left: $col-pad-d / 2;
    transform: translateX(-50%);

    width: 4px;
    pointer-events: none;
    
    background-color: $color-white;
    border-radius: 2px;
  }
  &__scrollbar-thumb {
    position: absolute;
    top: 0;

    width: 100%;
    height: 25%;

    background-color: $color-green;
    border-radius: 2px;
  }

  &__sub-list {
    @keyframes category-sub-list {
      0% {
        transform: translateY(30px);

        opacity: 0;
      }
      100% {
        transform: none;

        opacity: 1;
      }
    }

    padding: 0 60px;

    animation: category-sub-list $transition;
  }
  &__sub-item {
    display: flex;

    &:not(:first-child) {
      margin-top: 20px;
    }
  }
  &__sub-link {
    @include fsl(16px, 120%);
    transition: $transition;

    &:hover {
      color: $color-green;
    }
  }
}

.test {
  min-height: 100vh;
}

.select {
  position: relative;
  z-index: 0;

  @media (min-width: $breakpoint) {
    max-width: 207px;
  }

  &--default {
    .select2 {
      $comp: &;
    
      &-hidden-accessible {
        border: 0!important;
        clip: rect(0 0 0 0)!important;
        -webkit-clip-path: inset(50%)!important;
        clip-path: inset(50%)!important;
        height: 1px!important;
        overflow: hidden!important;
        padding: 0!important;
        position: absolute!important;
        width: 1px!important;
        white-space: nowrap!important;
      }
    
      &-container {
    
        &--default .select2-selection--single {
          padding: 18px 30px;
    
          display: block;
          position: relative;
          display: flex;
          align-items: center;
    
          border: 1px solid $color-light-green;
          border-radius: 20px;
          cursor: pointer;
          transition: background-color $transition;
    
          &:hover {
            background-color: $color-light-green;
    
            #{$comp}-selection__rendered {
              color: $color-white;
            }
    
            .select2-selection__arrow {
              border-color: $color-white;
            }
          }
        }
    
        &--default.select2-container--open .select2-selection--single {
          background: $color-light-green;
          border-radius: 20px 20px 0 0;
    
          .select2-selection__rendered {
            color: $color-white;
          }
    
          .select2-selection__arrow {
            margin-top: 0;
    
            transform: rotate(225deg);
            border-color: $color-white;
          }
        }
    
        &--default .select2-selection--single .select2-selection__arrow {
          margin-top: -3px;
    
          width: 10px;
          height: 10px;
          position: absolute;
          right: 30px;
    
          border-bottom: 2px solid $color-black;
          border-right: 2px solid $color-black;
          transform: rotate(45deg);
          transition: $transition;
        }
      }
    
      &.select2-container {
        width: 100%;
        display: inline-block;
      }
    
      &-search.select2-search--dropdown {
        display: none;
      }
    
      &-dropdown.select2-dropdown--below {
        margin-top: -6px;
        padding-bottom: 18px;
    
        display: inline-block;
    
        background: $color-light-green;
        border-radius: 0 0 20px 20px;
      }
    
      &-selection__rendered {
        width: 127px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        @include fsl(16px, 100%);
        transition: $transition;
      }
    
      &-results__options {
        max-height: 150px;
        overflow-y: auto;
    
        @include fsl(16px, 80%);
        color: $color-white;
    
        li {
          padding: 5px 30px;
    
          cursor: pointer;
    
          &:hover {
            background-color: $color-green;
          }
        }
      }
      
    }
  }
}
