// главная
.index {
  // рецепты
  &__recipes {

  }
  &__recipes-row {
    @media (min-width: $breakpoint) {
      cursor: none;
    }
  }
  &__recipes-side {
    @media (min-width: $breakpoint) {
      cursor: auto;
    }
  }
  &__recipes-slide {
    &,
    & * {
      @media (min-width: $breakpoint) {
        cursor: none;
        user-select: none;
      }
    }
  }
  &__recipes-cursor {
    position: fixed;
    z-index: 2000;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);

    display: flex;
    @media (max-width: $breakpoint - 1px) {
      display: none;
    }
    pointer-events: none;

    opacity: 0;
    transition: opacity 0.25s;
  }

  h1 {
    margin-left: 14px;
    width: 233px;
    @media (min-width: $breakpoint) {
      margin-left: 80px;
      width: 418px;
    }

    @include f-alt();
    @include fsl(50px, 80%);
    @media (min-width: $breakpoint) {
      @include fsl(90px);
    }
    color: $color-white;
  }
  h2 {
    margin-bottom: 15px;

    @include f-alt();
    @include fsl(30px, 80%);
    @media (min-width: $breakpoint) {
      margin-bottom: 40px;

      @include fsl(70px, 80%);
    }
  }
}

.catalog-modal {
  $comp: &;

  position: fixed;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);

  height: 100%;
  @media (max-width: $breakpoint) {
    display: none;
  }
  overflow: hidden;

  background-color: $color-white;
  border-radius: 0 40px 40px 0;
  transition: $transition;

  &__row {
    height: 100%;
    display: flex;
  }
  &__col {
    height: 100%;

    &:nth-child(1) {
      width: calc(#{$col-pad-d} + #{$col-part-d} * 4 - #{$col-gap-d});

      background-color: $color-grey;
      border-radius: 0 40px 40px 0;
    }
    &:nth-child(2) {
      width: calc(#{$col-part-d} * 4);
    }
  }

  &__inner {
    padding-top: 160px;
    height: 100%;
  }

  $offset: 30px;
  $offset-active: 11px;
  &__categories-wrapper {
    @mixin pseudo() {
      position: absolute;
      z-index: 2;
      left: 0;
      right: 0;

      content: '';
      width: 100%;
      height: $offset - $offset-active;
      pointer-events: none;

      background: linear-gradient($color-white, rgba($color-white, 0)); // для safari (особенность transparent в gradient)
    }

    position: relative;
    z-index: 0;

    margin-top: -$offset;
    height: calc(100% + #{$offset});

    &::before {
      @include pseudo();

      top: 0;
    }
    &::after {
      @include pseudo();

      bottom: 0;
      transform: rotate(180deg);
    }

    &--grey {
      &::before,
      &::after {
        background: linear-gradient($color-grey, rgba($color-grey, 0)); // для safari (особенность transparent в gradient)
      }
    }
  }
  &__categories {
    @include scrollbar-hidden();

    position: relative;
    z-index: 1;

    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  }
  &__categories-container {
    padding: $offset 0;
  }

  &__categories-list {
    padding-left: $col-pad-d;
  }
  &__categories-item {
    position: relative;
    z-index: 0;

    padding: 0 32px;
    display: flex;

    &:not(:first-child) {
      margin-top: 20px;
    }

    &::before {
      position: absolute;
      z-index: -1;
      top: 50%;
      left: 0;
      right: 0;
      transform: translateY(-50%);

      content: '';
      width: 100%;
      height: calc(100% + (11px * 2));
      pointer-events: none;

      background-color: $color-white;
      border-radius: 50px 0 0 50px;
      opacity: 0;
      transition: $transition;
    }

    &[data-category-active] {
      &::before {
        opacity: 1;
      }

      #{$comp}__categories-button {
        color: $color-green;
      }
    }
  }
  &__categories-button {
    @include fsl(16px, 120%);

    cursor: pointer;
    transition: $transition;

    &:hover {
      color: $color-green;
    }
  }

  &__scrollbar {
    position: absolute;
    z-index: 1;
    top: $offset;
    bottom: $offset;
    left: $col-pad-d / 2;
    transform: translateX(-50%);

    width: 4px;
    pointer-events: none;
    
    background-color: $color-white;
    border-radius: 2px;
  }
  &__scrollbar-thumb {
    position: absolute;
    top: 0;

    width: 100%;
    height: 25%;

    background-color: $color-green;
    border-radius: 2px;
  }

  &__sub-list {
    @keyframes category-sub-list {
      0% {
        transform: translateY(30px);

        opacity: 0;
      }
      100% {
        transform: none;

        opacity: 1;
      }
    }

    padding: 0 60px;

    animation: category-sub-list $transition;
  }
  &__sub-item {
    display: flex;

    &:not(:first-child) {
      margin-top: 20px;
    }
  }
  &__sub-link {
    @include fsl(16px, 120%);
    transition: $transition;

    &:hover {
      color: $color-green;
    }
  }

  &__close {
    position: absolute;
    z-index: 0;
    top: 30px;
    left: 60px;
  }
}

.qwe {
  min-height: 100vh;

  background-color: gainsboro;
}

.product-announcement {
  $comp: &;

  $width-m: 165px;
  $width-d: 243px;

  $offset-m: 8px;
  $offset-d: 11px;

  $frame-m: $width-m - ($offset-m * 2);
  $frame-d: $width-d - ($offset-d * 2);
  
  position: relative;
  z-index: 0;

  padding: $offset-m 0 10px;
  @media (min-width: $breakpoint) {
    padding: $offset-d 0 15px;
  }
  width: $width-m;
  height: 231px;
  @media (min-width: $breakpoint) {
    width: $width-d;
    height: 340px;
  }
  display: flex;
  flex-direction: column;

  background-color: $color-white;
  border-radius: 197px;
  cursor: pointer;
  transition: $transition;

  &:hover {
    box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.03);

    #{$comp}__frame {
      transform: scale(#{1 + (($offset-m * 2) / $frame-m)});
      @media (min-width: $breakpoint) {
        transform: scale(#{1 + (($offset-d * 2) / $frame-d)});
      }
    }

    #{$comp}__label {
      transform: rotate(25deg);
    }
  }

  &--responsive {
    width: 100%;
  }

  &--small {
    $width: 221px;
    $frame: $width - ($offset-d * 2);

    padding: $offset-d 0 20px;
    width: $width;
    height: 302px;

    &:hover {
      #{$comp}__frame {
        transform: scale(#{1 + (($offset-d * 2) / $frame)});
      }
    }

    #{$comp}__frame {
      width: $frame;
      height: $frame;
    }

    #{$comp}__title-wrapper {
      $line-height: 16px;
      $line-count: 2;

      max-height: $line-height * $line-count;
    }
    #{$comp}__title {
      @include fsl(13px);
    }

    #{$comp}__price-text {
      @include fsl(16px);
    }
  }
  &--large {
    $width: 414px;
    $frame: $width - ($offset-d * 2);

    padding: $offset-d 0 30px;
    width: $width;
    height: 563px;

    &:hover {
      #{$comp}__frame {
        transform: scale(#{1 + (($offset-d * 2) / $frame)});
      }
    }

    #{$comp}__frame {
      width: $frame;
      height: $frame;
    }
    
    #{$comp}__title-wrapper {
      $line-height: 22px;
      $line-count: 3;

      max-height: $line-height * $line-count;
    }
    #{$comp}__title {
      @include fsl(18px);
    }

    #{$comp}__price-text {
      @include fsl(24px);
    }
  }

  &__frame {
    position: relative;
    z-index: 0;

    margin: 0 auto;
    width: $frame-m;
    height: $frame-m;
    @media (min-width: $breakpoint) {
      width: $frame-d;
      height: $frame-d;
    }
    flex-shrink: 0;
    pointer-events: none;
    overflow: hidden;

    border-radius: 50%;
    transition: $transition;
  }
  &__img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    max-width: 100%;
    max-height: 100%;
  }

  &__label {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    
    @media (max-width: $breakpoint - 1px) {
      max-width: 55px;
    }
    pointer-events: none;

    transition: $transition;
  }
  &__label-background {
    display: flex;

    svg {
      height: auto;
    }
  }
  &__label-text {
    @include f-alt();
    @include fsl(20px, 80%);
    @media (min-width: $breakpoint) {
      @include fsl(28px);
    }

    position: absolute;
    z-index: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    white-space: nowrap;
  }
  &__label-subtext {
    font-size: 10px;
    @media (min-width: $breakpoint) {
      font-size: 14px;
    }

    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
  }

  &__bottom {
    margin-top: $offset-m;
    @media (min-width: $breakpoint) {
      margin-top: $offset-d;
    }
    padding: 0 20px;
    @media (min-width: $breakpoint) {
      padding: 0 30px;
    }
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__title-wrapper {
    $line-height-m: 12px; // 10px * 120%
    $line-height-d: 18px; // ~ 15px * 120%
    $line-count: 3;

    max-height: $line-height-m * $line-count;
    @media (min-width: $breakpoint) {
      max-height: $line-height-d * $line-count;
    }
    overflow: hidden;
  }
  &__title {
    @include fsl(10px, 120%);
    @media (min-width: $breakpoint) {
      @include fsl(15px);
    }
    text-align: center;
  }

  &__price {
    display: flex;
    justify-content: center;
  }
  &__price-text {
    @include fsl(10px, 120%);
    @media (min-width: $breakpoint) {
      @include fsl(15px);
    }
    white-space: nowrap;

    &:last-child {
      margin-left: 10px;
    }

    &--old {
      color: $color-light-grey;
      text-decoration-line: line-through;
    }
  }
}
.product-announcement-list {
  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
  }
  &__item {
    @mixin margin($cols) {
      margin-top: 15px;
      margin-left: 15px;
      @media (min-width: $breakpoint) {
        margin-top: 50px;
        margin-left: 20px;
      }

      &:nth-child(-n + #{$cols}) {
        margin-top: 0;
      }
      &:nth-child(#{$cols}n + 1) {
        margin-left: 0;
      }
    }
    @mixin width($cols) {
      width: calc((100% - (15px * #{$cols - 1})) / #{$cols});
      @media (min-width: $breakpoint) {
        width: calc((100% - (20px * #{$cols - 1})) / #{$cols});
      }
    }
    @mixin pos($cols) {
      @include margin($cols);
      @include width($cols);
    }

    flex-shrink: 0;

    @media (max-width: $breakpoint-s - 1px) {
      @include pos(2);
    }
    @media (min-width: $breakpoint-s) and (max-width: $breakpoint-m - 1px) {
      @include pos(3);
    }
    @media (min-width: $breakpoint-m) and (max-width: $breakpoint-t - 1px) {
      @include pos(4);
    }
    @media (min-width: $breakpoint-t) and (max-width: $breakpoint - 1px) {
      @include pos(5);
    }
    @media (min-width: $breakpoint) and (max-width: $breakpoint-ll - 1px) {
      @include pos(4);
    }
    @media (min-width: $breakpoint-ll) and (max-width: $breakpoint-xl - 1px) {
      @include pos(5);
    }
    @media (min-width: $breakpoint-xl) {
      @include pos(6);
    }
  }
}

// location autocomplete
.ui-helper-hidden-accessible {
  display: none !important;
}

[data-autocomplete-place] {
  .ui-autocomplete {
    padding: 20px;

    border: none;
    border-radius: 20px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.04);
  }

  .ui-menu-item {
    min-height: 18px;
    display: flex;

    &:not(:first-child) {
      margin-top: 20px;
    }
  }
  .ui-menu-item-wrapper {
    @include f-main(400);
    @include fsl(16px, 80%);

    border: none;
    transition: $transition;

    &.ui-state-active {
      background: none;
      color: $color-green;
    }
  }
}

// модификации swiper слайдера
.swiper-container {
  &--visible {
    overflow: visible;
  }
  &--slide-width-auto {
    .swiper-slide {
      width: auto;
    }
  }
  &--slide-height-max {
    .swiper-slide {
      height: auto;
    }
  }
}

.video-modal {
  $comp: &;

  position: fixed;
  z-index: 10000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: calc(70px + 30px);
  padding-bottom: 60px;
  @media (max-width: $breakpoint - 1px) {
    padding: calc(40px + 15px);
    padding-bottom: 30px;
  }
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  pointer-events: none;

  background-color: rgba($color-black, 0.34);
  opacity: 0;
  transition: $transition;

  &--active {
    visibility: visible;
    pointer-events: all;
    
    opacity: 1;

    // ?
    #{$comp}__yt {
      visibility: visible;
      pointer-events: all;
      
      opacity: 1;
    }
  }

  &__container {
    position: relative;
    z-index: 0;

    width: 100%;
    height: 100%;
    max-width: calc(1036px + 70px * 2);
    max-height: calc(583px + 70px * 2);
  }

  &__yt {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    width: 100%;
    height: 100%;
    // ?
    visibility: hidden;
    pointer-events: none;
    
    // ?
    opacity: 0;
  }

  &__close {
    position: absolute;
    bottom: 100%;
    left: 100%;
  }
}

@keyframes fade-left {
  0% {transform: rotate(720deg); left: 0;}
  100% {transform: rotate(0deg); left: calc(#{$grid-part-d} * 2);} 
}
@keyframes fade-left-further {
  0% {transform: rotate(720deg); left: 0;}
  100% {transform: rotate(0deg); left: calc(#{$grid-part-d} * 5);} 
}

@keyframes fade-right {
  0% {transform: rotate(-720deg); right: 0;}
  100% {transform: rotate(0deg); right: calc(#{$grid-part-d} * 3 - #{$grid-gap-d});} 
}
@keyframes fade-right-further {
  0% {transform: rotate(-720deg); right: 0;}
  100% {transform: rotate(0deg); right: calc(#{$grid-part-d} * 4 - #{$grid-gap-d});} 
}
