extends ../layouts/master.pug



block content 
    .section--grey
        .section__frame.section__frame--white
            .container
                .block
                    .block__wrapper
                        h3.block__title 
                            |О нас
                        .block__list
                            ul.block-list
                                li.block-list__item 
                                    p.block-list__item-text 
                                        |Главная
                                li.block-list__item
                                    .block-list__item-icon 
                                        +leaflet-svg 
                                    p.block-list__item-text.block-list__item-text--active
                                        |О нас
            
    .section--grey 
        .container 
            .about-info 
                .about-info__inner 
                    .about-info__wrapper 
                        h3.about-info__title 
                            |«Дубки. Продукты от производителя» — торговая сеть продуктовых магазинов «у дома». Широкий ассортимент от мясколбасных изделий до молочной продукции — все от производителей.
                    .about-info__description
                        p.about-info__text 
                            |Помимо продуктов питания, наша сеть радует клиентов вкусными готовыми блюдами. В магазинах новой концепции мы готовим:


    .section--grey
        .container 
            .about-card
                .about-card__inner
                    .about-card__row 
                        .about-card__col 
                            .action-catalog 
                                .action-catalog__card.action-catalog__card--big
                                    .action-catalog__frame 
                                        img.action-catalog__img(src="assets/images/action-catalog-1.jpg", alt="")
                                    .action-catalog__discont 
                                        +top-icon-svg
                                        .action-catalog__discont-content 
                                            .action-catalog__discont-num
                                                |23
                                            .action-catalog__discont-text
                                                |позиции по акции
                                    .action-catalog__content
                                        h4.action-catalog__title
                                            |Мясная гастрономия
                                        ul.action-catalog__content-list 
                                            li.action-catalog__content-item 
                                                |Вареные колбасы
                                            li.action-catalog__content-item 
                                                |Ветчина
                                            li.action-catalog__content-item 
                                                |Деликатесы
                                            li.action-catalog__content-item 
                                                |Копченые колбасы
                                            li.action-catalog__content-item 
                                                |Паштеты
                                            li.action-catalog__content-item 
                                                |Сардельки
                                            li.action-catalog__content-item 
                                                |Сосиски
                        .about-card__col 
                            .action-catalog 
                                .about-card__item--hidden
                                    .action-catalog__card.action-catalog__card--big
                                        .action-catalog__frame 
                                            img.action-catalog__img(src="assets/images/action-catalog-1.jpg", alt="")
                                        .action-catalog__discont 
                                            +top-icon-svg
                                            .action-catalog__discont-content 
                                                .action-catalog__discont-num
                                                    |23
                                                .action-catalog__discont-text
                                                    |позиции по акции
                                        .action-catalog__content
                                            h4.action-catalog__title
                                                |Мясная гастрономия
                                            ul.action-catalog__content-list 
                                                li.action-catalog__content-item 
                                                    |Вареные колбасы
                                                li.action-catalog__content-item 
                                                    |Ветчина
                                                li.action-catalog__content-item 
                                                    |Деликатесы
                                                li.action-catalog__content-item 
                                                    |Копченые колбасы
                                                li.action-catalog__content-item 
                                                    |Паштеты
                                                li.action-catalog__content-item 
                                                    |Сардельки
                                                li.action-catalog__content-item 
                                                    |Сосиски
                        .about-card__col 
                            .action-catalog
                                .about-card__item
                                    .action-catalog__card
                                        .action-catalog__frame 
                                            img.action-catalog__img(src="assets/images/action-catalog-2.jpg", alt="")
                                        .action-catalog__discont 
                                            +top-icon-svg
                                            .action-catalog__discont-content 
                                                .action-catalog__discont-num
                                                    |23
                                                .action-catalog__discont-text
                                                    |позиции по акции
                                        h4.action-catalog__title
                                            |Мясная гастрономия
                                
                                .about-card__item
                                    .action-catalog__card
                                        .action-catalog__frame 
                                            img.action-catalog__img(src="assets/images/action-catalog-2.jpg", alt="")
                                        .action-catalog__discont 
                                            +top-icon-svg
                                            .action-catalog__discont-content 
                                                .action-catalog__discont-num
                                                    |23
                                                .action-catalog__discont-text
                                                    |позиции по акции
                                        h4.action-catalog__title
                                            |Мясная гастрономия

    .section--light-green
        .container 
            .about
                .about__inner 
                    .about__wrapper 
                        .about__indent
                            h3.about__title 
                                |Мы работаем 
                                span.about__title-span
                                    |на клиента
                                |, мы работаем 
                                span.about__title-span 
                                    |для клиента 
                                |и все что мы делаем только 
                                span.about__title-span 
                                    |во благо клиента
                                |. 
                    .about__indent 
                        h4.about__subtitle 
                            |Ориентируемся на мнение клиента и постоянно улучшаем
                        .about__list
                            ul.block-list--straight.block-list--white
                                li.block-list__item
                                    .block-list__item-icon 
                                        +leaflet-svg 
                                    p.block-list__item-text
                                        |Сервисное обслуживание
                                li.block-list__item
                                    .block-list__item-icon 
                                        +leaflet-svg 
                                    p.block-list__item-text
                                        |Ассортиментную политику
                                li.block-list__item
                                    .block-list__item-icon 
                                        +leaflet-svg 
                                    p.block-list__item-text
                                        |Качество продуктов питания
                                li.block-list__item
                                    .block-list__item-icon 
                                        +leaflet-svg 
                                    p.block-list__item-text
                                        |Ценовое предложение

    .section--light-green
        .container 
            .shops-format 
                .shops-format__inner 
                    .shops-format__wrapper
                        h3.shops-format__title 
                            |Форматы магазинов
                    .shops-format__row
                        .shops-format__col
                            .button.button--l 
                                |Магазины «у дома»
                        .shops-format__col
                            .button.button--l.button--l-transparent
                                |Магазины «самообслуживания»

    .section--grey 
        .container 
            .section__inner 
                .shops 
                    .shops__row 
                        .shops__col 
                            .shops__content 
                                .shops__container 
                                    h3.shops__title 
                                        |Магазины «у дома»
                                    .shops__wrapper
                                        p.shops__text 
                                            |Небольшие по площади магазины, предназначенные для ежедневных покупок, с хорошим выбором продуктов питания по низким ценам.
                        .shops__col
                            .shops-card 
                                .shops-card__container 
                                    .shops-card__frame 
                                        img.shops-card__image(src="assets/images/shops-card-1.jpg", alt="")
                                    .shops-card__buttons
                                        .product-card--alt
                                            .product-card__item.product-card__item--black
                                                .product-card__item-thumb
                                                    .product-card__item-button 
                                                        +cursor-svg('product-card__item-icon product-card__item-icon--revers')
                                            .product-card__item.product-card__item--black
                                                .product-card__item-thumb 
                                                    .product-card__item-button 
                                                        +cursor-svg('product-card__item-icon')

    .section--grey 
        .container 
            .section__inner
                .gifts 
                    .gifts__inner 
                        .gifts__wrapper 
                            h3.gifts__title 
                                |Скидки и подарки
                        .gifts__row 
                            .gifts__col
                                .gifts__item 
                                    .gifts__img 
                                        +smile-svg
                                    p.gifts__text 
                                        |Eженедельно на продукты первой необходимости предоставляется скидка до 40%
                            .gifts__col
                                .gifts__item 
                                    .gifts__img 
                                        +smile-svg
                                    p.gifts__text 
                                        |В праздничные дни сеть дарит своим клиентам подарочные купоны 
                                        span 
                                            +quest-svg
                            .gifts__col
                                .gifts__item
                                    .gifts__img 
                                        +smile-svg
                                    p.gifts__text 
                                        |Часто проходят дегустации новинок и продуктов «хитов»

    .section--grey 
        .container 
            .section__inner 
                .video 
                    .video__wrapper 
                        .video__container 
                            .video__bg
                                img.video__img(src="assets/images/video-bg.jpg", alt="")
                            .video__button 
                                .video-button.video-button--big
                                    +play-svg('video__button-icon')

    .section--grey 
        .container 
            .section__inner 
                .contact 
                    .contact__wrapper 
                        h3.contact__title 
                            |Получая обратную связь от клиента, мы тщательно анализируем и результатом работы является:
                    .contact__inner 
                        ul.contact-list 
                            li.contact-list__item  
                                .contact-list__icon 
                                    +ball-svg
                                p.contact-list__text 
                                    |Удобное расположение магазинов у дома
                            li.contact-list__item  
                                .contact-list__icon 
                                    +ball-svg
                                p.contact-list__text 
                                    |Понятная навигация внутри магазина
                            li.contact-list__item  
                                .contact-list__icon 
                                    +ball-svg
                                p.contact-list__text 
                                    |Радушная атмосфера, которая создается профессиональным трудом торгового отдела
                    .contact__row 
                        .contact__col
                            p.contact__text 
                                |Горячая линия
                            .contact__link
                                a.contact__phone(href="#") 
                                    |8 800 333-82-54
                        .contact__col
                            p.contact__text 
                                |Instagram
                            .contact__button
                                .button
                                    .button__text 
                                        |Перейти
                                    .button__wrapper.button__wrapper--alt 
                                        .button__wrapper.button__wrapper--alt
                                            +cursor-svg('button__icon') 
                        .contact__col
                            p.contact__text 
                                |Книга отзывов и предложений в каждой точке продаж

    .section--grey 
        .section__inner
            .frame 
                .container 
                    .progress
                        .progress__container
                            h3.progress__title 
                                |К 2021 году сеть «Дубки. Продукты от производителя» выросла до 700 магазинов разных форматов.
                            .progress__wrapper 
                                p.progress__text 
                                    |За эти годы из региональной компании мы стали федеральной торговой сетью, представленной в 35 регионах.
                                .progress__item
                                    p.progress__text 
                                        |Мы поддерживаем местных производителей и заключает прямые договоры с локальными региональными поставщиками продуктов питания.
                            .progress__stat 
                                .progress__stat-num 
                                    |35
                                .progress__stat-text 
                                    |регионов России

    .section--grey 
        .container 
            .section__inner 
                .partners 
                    .partners__wrapper 
                        h3.partners__title 
                            |Партнеры
                    .partners__row 
                        - for (i = 0; i < 7; i++)
                            .partners__item 
                                a.partners-card(href="#") 
                                    .partners-card__container 
                                        .partners-card__image 
                                            img.partners-card__img(src="assets/images/partners-card-1.jpg", alt="")
                                        .partners-card__content
                                            h4.partners-card__title 
                                                |Комбинат «Дубки»
                                            p.partners-card__text 
                                                |Крупнейшем в России производитель мясо-колбасной, молочной и кондитерской продукцией

    .section--grey 
        .container 
            .section__inner
                .banner.banner--second
                    .banner__frame 
                        .banner__layout 
                        .banner__row 
                            .banner__col
                                h3.banner__title
                                    |Каталог акций
                            .banner__col
                                .banner__icon 
                                    +big-arrow-svg