extends ../layouts/master.pug



block header 
    +header({
        mod: 'dark',
    })

block content 
    .section--positioned
        .section__frame.section__frame--white
            .container
                .block
                    .block__wrapper
                        h3.block__title 
                            |О нас
                        .block__list
                            ul.block-list
                                li.block-list__item 
                                    p.block-list__item-text 
                                        |Главная
                                li.block-list__item
                                    .block-list__item-icon 
                                        +leaflet-svg 
                                    p.block-list__item-text.block-list__item-text--active
                                        |О нас

    .section
        .intro 
            .intro__frame
                .intro__bg(data-parallax-ratio="5")
                
    .section 
        .container 
            .about-info 
                .about-info__frame 
                    .about-info__layout.data-animation-aos(data-aos="fade-up")
                        img.about-info__svg(src="assets/images/svg/about-1.svg", alt="")(data-aos="fade-up")
                        img.about-info__img(src="assets/images/svg/about-2.svg", alt="")(data-aos="fade-up")
                        img.about-info__img.about-info__img--small(src="assets/images/svg/about-3.svg", alt="")(data-aos="fade-up")
                        img.about-info__image(src="assets/images/svg/about-4.svg", alt="")(data-aos="fade-up")
                        img.about-info__layout-image.about-info__layout-image--small(src="assets/images/svg/about-6.svg", alt="")(data-aos="fade-up")
                        img.about-info__layout-image(src="assets/images/svg/about-5.svg", alt="")(data-aos="fade-up")
                    .about-info__inner 
                        .about-info__wrapper 
                            h3.about-info__title(data-aos="fade-up")
                                |«Дубки. Продукты от производителя» — торговая сеть продуктовых магазинов «у дома». Широкий ассортимент от мясколбасных изделий до молочной продукции — все от производителей.
                        .about-info__description
                            p.about-info__text(data-aos="fade-up")
                                |Помимо продуктов питания, наша сеть радует клиентов вкусными готовыми блюдами. В магазинах новой концепции мы готовим:

    .section
        .container 
            .about-card
                .about-card__inner
                    .about-card__row 
                        .about-card__col 
                            .action-catalog.action-catalog--second(data-aos="fade-up")
                                .action-catalog__card.action-catalog__card--big.about-card__wrapper
                                    .action-catalog__container 
                                        img.action-catalog__image(src="assets/images/baking.jpg", alt="")
                                    .action-catalog__logo 
                                            img.action-catalog__svg(src="assets/images/svg/logo-catalog.svg", alt="")
                                    .action-catalog__content
                                        h4.action-catalog__title
                                            a(href="#")
                                                |Ароматная выпечка
                                        ul.action-catalog__content-list 
                                            a.action-catalog__content-item(href="#")
                                                |Хлеб
                                            a.action-catalog__content-item(href="#")
                                                |Пирожки
                                            a.action-catalog__content-item(href="#")
                                                |Ватрушки
                                            a.action-catalog__content-item(href="#")
                                                |Слойки
                                            a.action-catalog__content-item(href="#")
                                                |Пончики
                                            a.action-catalog__content-item(href="#")
                                                |Пирожные и торты
                        .about-card__col 
                            .action-catalog.action-catalog--second(data-aos="fade-up")
                                .about-card__item--hidden
                                    .action-catalog__card.action-catalog__card--big.about-card__wrapper
                                        .action-catalog__container 
                                            img.action-catalog__image(src="assets/images/chicken-grill.jpg", alt="")
                                        .action-catalog__logo 
                                            img.action-catalog__svg(src="assets/images/svg/logo-catalog.svg", alt="")
                                        .action-catalog__content
                                            h4.action-catalog__title
                                                a(href="#")
                                                    |Блюда гриль
                                            ul.action-catalog__content-list 
                                                a.action-catalog__content-item(href="#")
                                                    |Курица
                                                a.action-catalog__content-item(href="#")
                                                    |Ребра
                                                a.action-catalog__content-item(href="#")
                                                    |Свиная шея
                                                a.action-catalog__content-item(href="#")
                                                    |Голень индейки
                        .about-card__col 
                            .action-catalog.action-catalog--second
                                .about-card__item(data-aos="fade-up")
                                    a(href="#").action-catalog__card.about-card__wrapper
                                        .action-catalog__container 
                                            img.action-catalog__image(src="assets/images/salads.jpg", alt="")
                                        .action-catalog__logo 
                                            img.action-catalog__svg(src="assets/images/svg/logo-catalog.svg", alt="")
                                        h4.action-catalog__title
                                            |Салаты
                                .about-card__item(data-aos="fade-up")
                                    a(href="#").action-catalog__card.about-card__wrapper
                                        .action-catalog__container 
                                            img.action-catalog__image(src="assets/images/hot-dishes.jpg", alt="")
                                        .action-catalog__logo 
                                            img.action-catalog__svg(src="assets/images/svg/logo-catalog.svg", alt="")
                                        h4.action-catalog__title
                                            |Горячие блюда

    .section
        .frame--green
            .frame__layout
                .frame__image 
                    .frame__img
            .container 
                .about
                    .about__layout(data-aos="fade-up")
                        img.about__bg(src="assets/images/svg/about-bg.svg", alt="")
                        img.about__background.about__background--first(src="assets/images/svg/about-bg-1.svg", alt="")(data-parallax-ratio="5")
                        img.about__background.about__background--second(src="assets/images/svg/about-bg-2.svg", alt="")(data-parallax-ratio="10")
                        img.about__background.about__background--third(src="assets/images/svg/about-bg-3.svg", alt="")(data-parallax-ratio="15")
                    .about__inner 
                        .about__wrapper 
                            .about__indent
                                h3.about__title(data-aos="fade-up")
                                    |Мы работаем 
                                    span.about__title-span
                                        |на клиента
                                    |, мы работаем 
                                    span.about__title-span 
                                        |для клиента 
                                    |и все что мы делаем только 
                                    span.about__title-span 
                                        |во благо клиента
                                    |. 
                        .about__indent 
                            h4.about__subtitle(data-aos="fade-up")
                                |Ориентируемся на мнение клиента и постоянно улучшаем
                            .about__list
                                .news-page
                                    ul.news-page__list(data-aos="fade-up")
                                        li.news-page__item 
                                            .news-page__item-icon
                                                +leaflet-svg 
                                            p.news-page__item-text.news-page__item-text--white
                                                |Сервисное обслуживание
                                        li.news-page__item 
                                            .news-page__item-icon
                                                +leaflet-svg 
                                            p.news-page__item-text.news-page__item-text--white
                                                |Ассортиментную политику
                                        li.news-page__item 
                                            .news-page__item-icon
                                                +leaflet-svg 
                                            p.news-page__item-text.news-page__item-text--white
                                                |Качество продуктов питания
                                        li.news-page__item 
                                            .news-page__item-icon
                                                +leaflet-svg 
                                            p.news-page__item-text.news-page__item-text--white
                                                |Ценовое предложение

    .section--light-green
        .frame-about
            .container 
                .shops-format 
                    .shops-format__inner 
                        .shops-format__wrapper
                            h3.shops-format__title(data-aos="fade-up")
                                |Форматы магазинов
                        .shops-format__row(data-aos="fade-up")
                            .shops-format__col
                                .shops-format__button.shops-format__button--active(data-tab="#at-home")
                                    |Магазины «у дома»
                            .shops-format__col
                                .shops-format__button(data-tab="#self-service")
                                    |Магазины «самообслуживания»

    .section
        .frame-about.frame-about--second
            .container 
                .section__inner 
                    .shops.shops--active(id="at-home")
                        .shops__row 
                            .shops__col 
                                .shops__content(data-aos="fade-up")
                                    .shops__container 
                                        h3.shops__title
                                            |Магазины «у дома»
                                        .shops__wrapper
                                            p.shops__text
                                                |Небольшие по площади магазины, предназначенные для ежедневных покупок, с хорошим выбором продуктов питания по низким ценам.
                            .shops__col
                                .shops-card(data-aos="fade-up")
                                    .shops-card__container(data-slider-prev-id="2" data-slider-next-id="1") 
                                        .shops-card__frame.swiper-container
                                            .swiper-wrapper 
                                                img.shops-card__img.swiper-slide(src="assets/images/shops-card-1.jpg", alt="")
                                                img.shops-card__img.swiper-slide(src="assets/images/shops-card-1.jpg", alt="")
                                                img.shops-card__img.swiper-slide(src="assets/images/shops-card-1.jpg", alt="")
                                                img.shops-card__img.swiper-slide(src="assets/images/shops-card-1.jpg", alt="")
                                                img.shops-card__img.swiper-slide(src="assets/images/shops-card-1.jpg", alt="")
                                        .shops-card__buttons
                                            .button-slide.button-slide--second(data-slider-id="2")
                                                .button-slide__button
                                                    +cursor-svg('button-slide__icon button-slide__icon--revers')
                                            .button-slide(data-slider-id="1")
                                                .button-slide__button
                                                    +cursor-svg('button-slide__icon')
                    .shops(id="self-service")
                        .shops__row 
                            .shops__col 
                                .shops__content(data-aos="fade-up")
                                    .shops__container 
                                        h3.shops__title
                                            |Магазины «у дома»
                                        .shops__wrapper
                                            p.shops__text
                                                |Магазины с более широким ассортиментом, чем у магазинов «у дома», с «островами» гастрономии, где представлены салаты, горячие блюда и блюда гриль, свежая выпечка, торты и пирожные с выделенной зоной кафе.
                            .shops__col
                                .shops-card(data-aos="fade-up")
                                    .shops-card__container(data-slider-prev-id="4" data-slider-next-id="3") 
                                        .shops-card__frame.swiper-container
                                            .swiper-wrapper 
                                                img.shops-card__img.swiper-slide(src="assets/images/shops-card-1.jpg", alt="")
                                                img.shops-card__img.swiper-slide(src="assets/images/shops-card-1.jpg", alt="")
                                                img.shops-card__img.swiper-slide(src="assets/images/shops-card-1.jpg", alt="")
                                                img.shops-card__img.swiper-slide(src="assets/images/shops-card-1.jpg", alt="")
                                                img.shops-card__img.swiper-slide(src="assets/images/shops-card-1.jpg", alt="")
                                        .shops-card__buttons
                                            .button-slide.button-slide--second(data-slider-id="4")
                                                .button-slide__button
                                                    +cursor-svg('button-slide__icon button-slide__icon--revers')
                                            .button-slide(data-slider-id="3")
                                                .button-slide__button
                                                    +cursor-svg('button-slide__icon')

    .section
        .container 
            .section__inner
                .gifts 
                    .gifts__layout
                        img.gifts__layout-img.animation(src="assets/images/svg/gift-1.svg", alt="")
                        img.gifts__layout-img.gifts__layout-img--distant.animation(src="assets/images/svg/gift-2.svg", alt="")
                        img.gifts__layout-image.gifts__layout-image--distant.animation(src="assets/images/svg/gift-3.svg", alt="")
                        img.gifts__layout-image.animation(src="assets/images/svg/gift-4.svg", alt="")
                    .gifts__inner 
                        .gifts__wrapper 
                            h3.gifts__title(data-aos="fade-up") 
                                |Скидки и подарки
                        .gifts__row
                            .gifts__col(data-aos="fade-up")
                                .gifts__item 
                                    .gifts__img 
                                        img.gifts__image(src="assets/images/svg/gifts-1.svg", alt="")
                                    p.gifts__text.gifts__text--mobile
                                        |Eженедельно на продукты первой необходимости предоставляется скидка до 40%
                            .gifts__col(data-aos="fade-up")
                                .gifts__item 
                                    .gifts__img 
                                        img.gifts__image(src="assets/images/svg/gifts-2.svg", alt="")
                                    .gifts__text.gifts__text--mobile
                                        |В праздничные дни сеть дарит своим клиентам подарочные купоны 
                                        span.question
                                            +quest-svg('question__mark')
                                            .question__content 
                                                |В своей работе мы учитываем потребности местных сообществ, с которыми взаимодействуем, а также потребности различных групп стейкхолдеров, на которых влияют наши решения. Мы гордимся своей благотворительной деятельностью и поддержкой важных инициатив, включая защиту окружающей среды.
                            .gifts__col(data-aos="fade-up")
                                .gifts__item
                                    .gifts__img 
                                        img.gifts__image(src="assets/images/svg/gifts-3.svg", alt="")
                                    p.gifts__text.gifts__text--mobile
                                        |Часто проходят дегустации новинок и продуктов «хитов»
                        .gifts__row
                            .gifts__col(data-aos="fade-up")
                                .gifts__item 
                                    p.gifts__text 
                                        |Eженедельно на продукты первой необходимости предоставляется скидка до 40%
                            .gifts__col(data-aos="fade-up")
                                .gifts__item 
                                    .gifts__text 
                                        |В праздничные дни сеть дарит своим клиентам подарочные купоны 
                                        span.question
                                            +quest-svg('question__mark')
                                            .question__content 
                                                |В своей работе мы учитываем потребности местных сообществ, с которыми взаимодействуем, а также потребности различных групп стейкхолдеров, на которых влияют наши решения. Мы гордимся своей благотворительной деятельностью и поддержкой важных инициатив, включая защиту окружающей среды.
                            .gifts__col(data-aos="fade-up")
                                .gifts__item
                                    p.gifts__text 
                                        |Часто проходят дегустации новинок и продуктов «хитов»

    .section
        .container 
            .section__inner 
                .video(data-aos="fade-up")
                    .video__frame 
                        .video__layout
                            img.video__layout-img(src="assets/images/svg/video-1.svg", alt="")
                            img.video__layout-img.video__layout-img--second(src="assets/images/svg/video-2.svg", alt="")
                        .video__wrapper 
                            .video__container 
                                .video__bg
                                    img.video__img(src="assets/images/video-bg.jpg", alt="")
                                .video__button 
                                    .video-button.video-button--big
                                        +play-svg('video__button-icon')

    .section
        .container 
            .section__inner 
                .contact 
                    .contact__layout 
                        img.contact__layout-img(src="assets/images/svg/contact-1.svg", alt="")
                        img.contact__layout-image(src="assets/images/svg/contact-2.svg", alt="")
                    .contact__wrapper 
                        h3.contact__title(data-aos="fade-up") 
                            |Получая обратную связь от клиента, мы тщательно анализируем и результатом работы является:
                    .contact__inner 
                        .contact__image(data-aos="fade-up") 
                            img(src="assets/images/svg/about-img-1.svg", alt="")
                        ul.contact-list(data-aos="fade-up")
                            li.contact-list__item  
                                .contact-list__icon 
                                    +ball-svg
                                p.contact-list__text 
                                    |Удобное расположение магазинов у дома
                            li.contact-list__item  
                                .contact-list__icon 
                                    +ball-svg
                                p.contact-list__text 
                                    |Понятная навигация внутри магазина
                            li.contact-list__item  
                                .contact-list__icon 
                                    +ball-svg
                                p.contact-list__text 
                                    |Радушная атмосфера, которая создается профессиональным трудом торгового отдела
                    .contact__row
                        .contact__col(data-aos="fade-up")
                            p.contact__text 
                                |Горячая линия
                            .contact__link
                                a.contact__phone(href="#") 
                                    |8 800 333-82-54
                        .contact__col(data-aos="fade-up")
                            p.contact__text 
                                |Instagram
                            .contact__button
                                .button
                                    .button__text 
                                        |Перейти
                                    .button__wrapper.button__wrapper--alt 
                                        .button__wrapper.button__wrapper--alt
                                            +cursor-svg('button__icon button__svg') 
                        .contact__col(data-aos="fade-up")
                            .contact__text 
                                |Книга отзывов и предложений в каждой точке продаж
                                span.question
                                    +quest-svg('question__mark')
                                    .question__content 
                                        |В своей работе мы учитываем потребности местных сообществ, с которыми взаимодействуем, а также потребности различных групп стейкхолдеров, на которых влияют наши решения. Мы гордимся своей благотворительной деятельностью и поддержкой важных инициатив, включая защиту окружающей среды.

    .section
        .section__inner
            .frame 
                .container 
                    .progress
                        .progress__container
                            .progress__layout 
                                .progress__image(data-aos="fade-up")
                            h3.progress__title(data-aos="fade-up")
                                |К 2021 году сеть «Дубки. Продукты от производителя» выросла до 700 магазинов разных форматов.
                            .progress__wrapper 
                                p.progress__text(data-aos="fade-up")
                                    |За эти годы из региональной компании мы стали федеральной торговой сетью, представленной в 35 регионах.
                                .progress__item
                                    p.progress__text(data-aos="fade-up") 
                                        |Мы поддерживаем местных производителей и заключает прямые договоры с локальными региональными поставщиками продуктов питания.
                            .progress__stat 
                                .progress__stat-num(data-aos="fade-up") 
                                    |35
                                .progress__stat-text(data-aos="fade-up")
                                    |регионов России

    .section
        .container 
            .section__inner 
                .partners 
                    .partners__wrapper 
                        h3.partners__title(data-aos="fade-up") 
                            |Партнеры
                    .partners__row
                        - for (i = 0; i < 7; i++)
                            .partners__item(data-aos="fade-up") 
                                a.partners-card(href="#") 
                                    .partners-card__container 
                                        .partners-card__image 
                                            img.partners-card__img(src="assets/images/partners-card-1.jpg", alt="")
                                        .partners-card__content
                                            h4.partners-card__title 
                                                |Комбинат «Дубки»
                                            p.partners-card__text 
                                                |Крупнейшем в России производитель мясо-колбасной, молочной и кондитерской продукцией
    
    .section 
        .container 
            .section__inner
                a(href="#").banner
                    .banner__inner
                        .banner__frame(data-aos="fade-up") 
                            img.banner__img.banner__img--desctop(src="assets/images/dubki-banner-d.jpeg", alt="")
                            img.banner__img.banner__img--mobile(src="assets/images/dubki-banner-m.jpeg", alt="")
            

block footer 
    +footer({
        mod: 'light-grey',
    })