extends ../layouts/master.pug

block variables


block header 
  +header({
    mod: 'dark',
  })

block content
  .section--grey
    .section__frame.section__frame--white
      .container 
        .block
          .block__wrapper
            h3.block__title(data-aos="fade-up")  
              |Акционный каталог
            .block__list
              ul.block-list(data-aos="fade-up") 
                li.block-list__item 
                  p.block-list__item-text 
                    |Главная
                li.block-list__item
                  .block-list__item-icon
                    +leaflet-svg 
                  p.block-list__item-text.block-list__item-text--active
                    |Акционный каталог
  .section--grey.section--catalog
    .container
      .section__inner
        .stocks
          .stocks__list
            .stocks__item
              .stock
                .stock__layout
                  img.stock__background(src='assets/images/stock-1.jpeg')
                  .stock__mark
                    +stock-mark-svg.stock__mark-svg
                    .stock__mark-content
                      .stock__mark-amount
                        |23
                      .stock__mark-text
                        |позиции
                        br
                        |по акции
                h3.stock__title
                  .stock__title-link
                    |Мясная гастрономия
                ul.stock__list.stock__list--row
                  .stock__col
                    li.stock__item
                      a.stock__item-link(href='#')
                        |Вареные колбасы
                    li.stock__item
                      a.stock__item-link(href='#')
                        |Ветчина
                    li.stock__item
                      a.stock__item-link(href='#')
                        |Деликатесы
                    li.stock__item
                      a.stock__item-link(href='#')
                        |Копченые колбасы
                  .stock__col
                    li.stock__item
                      a.stock__item-link(href='#')
                        |Паштеты
                    li.stock__item
                      a.stock__item-link(href='#')
                        |Сардельки
                    li.stock__item
                      a.stock__item-link(href='#')
                        |Сосиски
            .stocks__item
              .stock
                .stock__layout
                  img.stock__background(src='assets/images/stock-2.jpeg')
                  .stock__mark
                    +stock-mark-svg.stock__mark-svg
                    .stock__mark-content
                      .stock__mark-amount
                        |12
                      .stock__mark-text
                        |позиции
                        br
                        |по акции
                h3.stock__title
                  a.stock__title-link(href='#')
                    |Мясо охлажденное
                ul.stock__list
                  li.stock__item
                    a.stock__item-link(href='#')
                      |Курица гриль
                  li.stock__item
                    a.stock__item-link(href='#')
                      |Свинина
            .stocks__item
              .stock
                .stock__layout
                  img.stock__background(src='assets/images/stock-3.jpeg')
                  .stock__mark
                    +stock-mark-svg.stock__mark-svg
                    .stock__mark-content
                      .stock__mark-amount
                        |11
                      .stock__mark-text
                        |позиции
                        br
                        |по акции
                h3.stock__title
                  a.stock__title-link(href='#')
                    |Молочные продукты, сыры, масло
                ul.stock__list
                  li.stock__item
                    a.stock__item-link(href='#')
                      |Кисломолочные продукты
                  li.stock__item
                    a.stock__item-link(href='#')
                      |Масло
                  li.stock__item
                    a.stock__item-link(href='#')
                      |Молоко
                  li.stock__item
                    a.stock__item-link(href='#')
                      |Сыры
            .stocks__item
              .stock
                .stock__layout
                  img.stock__background(src='assets/images/stock-4.jpeg')
                  .stock__mark
                    +stock-mark-svg.stock__mark-svg
                    .stock__mark-content
                      .stock__mark-amount
                        |8
                      .stock__mark-text
                        |позиции
                        br
                        |по акции
                h3.stock__title
                  a.stock__title-link(href='#')
                    |Замороженные полуфабрикаты
                ul.stock__list
                  li.stock__item
                    a.stock__item-link(href='#')
                      |Весовые полуфабрикаты
                  li.stock__item
                    a.stock__item-link(href='#')
                      |Готовые блюда
                  li.stock__item
                    a.stock__item-link(href='#')
                      |Тесто
                  li.stock__item
                    a.stock__item-link(href='#')
                      |Штучные полуфабрикаты
            .stocks__item
              .stock
                .stock__layout
                  img.stock__background(src='assets/images/stock-5.jpeg')
                  .stock__mark
                    +stock-mark-svg.stock__mark-svg
                    .stock__mark-content
                      .stock__mark-amount
                        |15
                      .stock__mark-text
                        |позиции
                        br
                        |по акции
                h3.stock__title
                  a.stock__title-link(href='#')
                    |Кондитерские изделия
                ul.stock__list.stock__list--row
                  .stock__col
                    li.stock__item
                      a.stock__item-link(href='#')
                        |Вафли
                    li.stock__item
                      a.stock__item-link(href='#')
                        |Зефир, мармелад, пастила
                    li.stock__item
                      a.stock__item-link(href='#')
                        |Конфеты вес
                    li.stock__item
                      a.stock__item-link(href='#')
                        |Конфеты наборы
                    li.stock__item
                      a.stock__item-link(href='#')
                        |Крекер
                  .stock__col
                    li.stock__item
                      a.stock__item-link(href='#')
                        |Печенье
                    li.stock__item
                      a.stock__item-link(href='#')
                        |Пряники
                    li.stock__item
                      a.stock__item-link(href='#')
                        |Торты, пирожные
                    li.stock__item
                      a.stock__item-link(href='#')
                        |Шоколад
            .stocks__item
              .stock
                .stock__layout
                  img.stock__background(src='assets/images/stock-6.jpeg')
                  .stock__mark
                    +stock-mark-svg.stock__mark-svg
                    .stock__mark-content
                      .stock__mark-amount
                        |4
                      .stock__mark-text
                        |позиции
                        br
                        |по акции
                h3.stock__title
                  a.stock__title-link(href='#')
                    |Бакалея
                ul.stock__list
                  li.stock__item
                    a.stock__item-link(href='#')
                      |Крупы
                  li.stock__item
                    a.stock__item-link(href='#')
                      |Каши
                  li.stock__item
                    a.stock__item-link(href='#')
                      |Макаронные изделия
                  li.stock__item
                    a.stock__item-link(href='#')
                      |Молоко сгущенное
            .stocks__item
              a.stock(href='#')
                .stock__layout
                  img.stock__background(src='assets/images/stock-7.jpeg')
                  .stock__mark
                    +stock-mark-svg.stock__mark-svg
                    .stock__mark-content
                      .stock__mark-amount
                        |15
                      .stock__mark-text
                        |позиции
                        br
                        |по акции
                h3.stock__title
                  .stock__title-link
                    |Вода, напитки
            .stocks__item
              a.stock(href='#')
                .stock__layout
                  img.stock__background(src='assets/images/stock-8.jpeg')
                  .stock__mark
                    +stock-mark-svg.stock__mark-svg
                    .stock__mark-content
                      .stock__mark-amount
                        |18
                      .stock__mark-text
                        |позиции
                        br
                        |по акции
                h3.stock__title
                  .stock__title-link
                    |Рыба
            .stocks__item
              a.stock(href='#')
                .stock__layout
                  img.stock__background(src='assets/images/stock-9.jpeg')
                  .stock__mark
                    +stock-mark-svg.stock__mark-svg
                    .stock__mark-content
                      .stock__mark-amount
                        |11
                      .stock__mark-text
                        |позиции
                        br
                        |по акции
                h3.stock__title
                  .stock__title-link
                    |Снеки
            .stocks__item
              a.stock(href='#')
                .stock__layout
                  img.stock__background(src='assets/images/stock-10.jpeg')
                  .stock__mark
                    +stock-mark-svg.stock__mark-svg
                    .stock__mark-content
                      .stock__mark-amount
                        |3
                      .stock__mark-text
                        |позиции
                        br
                        |по акции
                h3.stock__title
                  .stock__title-link
                    |Овощи
            .stocks__item
              a.stock(href='#')
                .stock__layout
                  img.stock__background(src='assets/images/stock-11.jpeg')
                  .stock__mark
                    +stock-mark-svg.stock__mark-svg
                    .stock__mark-content
                      .stock__mark-amount
                        |14
                      .stock__mark-text
                        |позиции
                        br
                        |по акции
                h3.stock__title
                  .stock__title-link
                    |Приправы
            .stocks__item
              a.stock(href='#')
                .stock__layout
                  img.stock__background(src='assets/images/stock-12.jpeg')
                  .stock__mark
                    +stock-mark-svg.stock__mark-svg
                    .stock__mark-content
                      .stock__mark-amount
                        |17
                      .stock__mark-text
                        |позиции
                        br
                        |по акции
                h3.stock__title
                  .stock__title-link
                    |Мясо замороженное
            .stocks__item
              .stock
                .stock__layout
                  img.stock__background(src='assets/images/stock-13.jpeg')
                  .stock__mark
                    +stock-mark-svg.stock__mark-svg
                    .stock__mark-content
                      .stock__mark-amount
                        |9
                      .stock__mark-text
                        |позиции
                        br
                        |по акции
                h3.stock__title
                  a.stock__title-link(href='#')
                    |Чай, кофе
                ul.stock__list
                  li.stock__item
                    a.stock__item-link(href='#')
                      |Кофе, кофейные напитки
                  li.stock__item
                    a.stock__item-link(href='#')
                      |Прикасса
                  li.stock__item
                    a.stock__item-link(href='#')
                      |Чай, чайные напитки
            .stocks__item
              .stock
                .stock__layout
                  img.stock__background(src='assets/images/stock-14.jpeg')
                  .stock__mark
                    +stock-mark-svg.stock__mark-svg
                    .stock__mark-content
                      .stock__mark-amount
                        |29
                      .stock__mark-text
                        |позиции
                        br
                        |по акции
                h3.stock__title
                  a.stock__title-link(href='#')
                    |Консервы
                ul.stock__list
                  li.stock__item
                    a.stock__item-link(href='#')
                      |Консервы овощные
                  li.stock__item
                    a.stock__item-link(href='#')
                      |Консервы рыбные
                  li.stock__item
                    a.stock__item-link(href='#')
                      |Мясные консервы
                  li.stock__item
                    a.stock__item-link(href='#')
                      |Мясорастительные консервы
            .stocks__item
              .stock
                .stock__layout
                  img.stock__background(src='assets/images/stock-15.jpeg')
                  .stock__mark
                    +stock-mark-svg.stock__mark-svg
                    .stock__mark-content
                      .stock__mark-amount
                        |32
                      .stock__mark-text
                        |позиции
                        br
                        |по акции
                h3.stock__title
                  a.stock__title-link(href='#')
                    |Хлебобулочные изделия
                ul.stock__list
                  li.stock__item
                    a.stock__item-link(href='#')
                      |Мелкоштучная выпечка
                  li.stock__item
                    a.stock__item-link(href='#')
                      |Хлеб
            .stocks__item
              .stock
                .stock__layout
                  img.stock__background(src='assets/images/stock-16.jpeg')
                  .stock__mark
                    +stock-mark-svg.stock__mark-svg
                    .stock__mark-content
                      .stock__mark-amount
                        |16
                      .stock__mark-text
                        |позиции
                        br
                        |по акции
                h3.stock__title
                  a.stock__title-link(href='#')
                    |Соусы
                ul.stock__list
                  li.stock__item
                    a.stock__item-link(href='#')
                      |Кетчуп
                  li.stock__item
                    a.stock__item-link(href='#')
                      |Майонезный соус
                  li.stock__item
                    a.stock__item-link(href='#')
                      |Соусы
            .stocks__item
              a.stock(href='#')
                .stock__layout
                  img.stock__background(src='assets/images/stock-17.jpeg')
                  .stock__mark
                    +stock-mark-svg.stock__mark-svg
                    .stock__mark-content
                      .stock__mark-amount
                        |16
                      .stock__mark-text
                        |позиции
                        br
                        |по акции
                h3.stock__title
                  .stock__title-link
                    |Готовые блюда
            

block footer
  +footer({
    mod: 'catalog-grey',
  })


  //- .action-catalog__row 
            .action-catalog__col
              .action-catalog__card.action-catalog__card--big
                .action-catalog__frame 
                  img.action-catalog__img(src="assets/images/action-catalog-1.jpg", alt="")
                .action-catalog__discont 
                  +top-icon-svg
                  .action-catalog__discont-content 
                    .action-catalog__discont-num
                      |23
                    .action-catalog__discont-text
                      |позиции по акции
                .action-catalog__content
                  h4.action-catalog__title
                    |Мясная гастрономия
                  ul.action-catalog__content-list 
                    a.action-catalog__content-item(href='#')
                      |Вареные колбасы
                    a.action-catalog__content-item(href='#') 
                      |Ветчина
                    a.action-catalog__content-item(href='#') 
                      |Деликатесы
                    a.action-catalog__content-item(href='#') 
                      |Копченые колбасы
                    a.action-catalog__content-item(href='#') 
                      |Паштеты
                    a.action-catalog__content-item(href='#') 
                      |Сардельки
                    a.action-catalog__content-item(href='#') 
                      |Сосиски  
            .action-catalog__col
              ul.action-catalog__list 
                - for (i = 0; i < 4; i++)
                  a.action-catalog__card.action-catalog__card--primary(href='#')
                    .action-catalog__frame 
                      img.action-catalog__img(src="assets/images/action-catalog-2.jpg", alt="")
                    .action-catalog__discont 
                      +top-icon-svg
                      .action-catalog__discont-content 
                        .action-catalog__discont-num
                          |23
                        .action-catalog__discont-text
                          |позиции по акции
                    h4.action-catalog__title
                      |Мясная гастрономия
