extends ../layouts/master.pug



block content
  .section--grey
    .section__frame.section__frame--white
      .container 
        .block
          .block__wrapper
            h3.block__title(data-aos="fade-up")  
              |Акционный каталог
            .block__list
              ul.block-list(data-aos="fade-up") 
                li.block-list__item 
                  p.block-list__item-text 
                    |Главная
                li.block-list__item
                  .block-list__item-icon
                    +leaflet-svg 
                  p.block-list__item-text.block-list__item-text--active
                    |Акционный каталог
  .section--grey.section--catalog
    .container
      .section__inner
        .action-catalog
          ul.action-catalog__list
            - for (i = 0; i < 3; i++)
                .action-catalog__card.action-catalog__card--big(data-aos="fade-up") 
                  .action-catalog__frame 
                    img.action-catalog__img(src="assets/images/action-catalog-1.jpg", alt="")
                  .action-catalog__discont 
                    +top-icon-svg
                    .action-catalog__discont-content 
                      .action-catalog__discont-num
                        |23
                      .action-catalog__discont-text
                        |позиции по акции
                  .action-catalog__content
                    h4.action-catalog__title
                      |Мясная гастрономия
                    ul.action-catalog__content-list 
                      a.action-catalog__content-item(href='#')
                        |Вареные колбасы
                      a.action-catalog__content-item(href='#') 
                        |Ветчина
                      a.action-catalog__content-item(href='#') 
                        |Деликатесы
                      a.action-catalog__content-item(href='#') 
                        |Копченые колбасы
                      a.action-catalog__content-item(href='#') 
                        |Паштеты
                      a.action-catalog__content-item(href='#') 
                        |Сардельки
                      a.action-catalog__content-item(href='#') 
                        |Сосиски  
                a.action-catalog__card(href='#')(data-aos="fade-up") 
                  .action-catalog__frame 
                    img.action-catalog__img(src="assets/images/action-catalog-3.jpg", alt="")
                  .action-catalog__discont 
                    +top-icon-svg
                    .action-catalog__discont-content 
                      .action-catalog__discont-num
                        |23
                      .action-catalog__discont-text
                        |позиции по акции
                  h4.action-catalog__title
                    |Мясная гастрономия
                a.action-catalog__card(href='#')(data-aos="fade-up") 
                  .action-catalog__frame 
                    img.action-catalog__img(src="assets/images/action-catalog-3.jpg", alt="")
                  .action-catalog__discont 
                    +top-icon-svg
                    .action-catalog__discont-content 
                      .action-catalog__discont-num
                        |23
                      .action-catalog__discont-text
                        |позиции по акции
                  h4.action-catalog__title
                    |Мясная гастрономия
                  a.action-catalog__card(href='#')(data-aos="fade-up") 
                    .action-catalog__frame 
                      img.action-catalog__img(src="assets/images/action-catalog-3.jpg", alt="")
                    .action-catalog__discont 
                      +top-icon-svg
                      .action-catalog__discont-content 
                        .action-catalog__discont-num
                          |23
                        .action-catalog__discont-text
                          |позиции по акции
                    h4.action-catalog__title
                      |Мясная гастрономия
                  a.action-catalog__card(href='#')(data-aos="fade-up") 
                    .action-catalog__frame 
                      img.action-catalog__img(src="assets/images/action-catalog-3.jpg", alt="")
                    .action-catalog__discont 
                      +top-icon-svg
                      .action-catalog__discont-content 
                        .action-catalog__discont-num
                          |23
                        .action-catalog__discont-text
                          |позиции по акции
                    h4.action-catalog__title
                      |Мясная гастрономия


              
block footer
  +footer({
    mod: 'catalog-grey',
  })


  //- .action-catalog__row 
            .action-catalog__col
              .action-catalog__card.action-catalog__card--big
                .action-catalog__frame 
                  img.action-catalog__img(src="assets/images/action-catalog-1.jpg", alt="")
                .action-catalog__discont 
                  +top-icon-svg
                  .action-catalog__discont-content 
                    .action-catalog__discont-num
                      |23
                    .action-catalog__discont-text
                      |позиции по акции
                .action-catalog__content
                  h4.action-catalog__title
                    |Мясная гастрономия
                  ul.action-catalog__content-list 
                    a.action-catalog__content-item(href='#')
                      |Вареные колбасы
                    a.action-catalog__content-item(href='#') 
                      |Ветчина
                    a.action-catalog__content-item(href='#') 
                      |Деликатесы
                    a.action-catalog__content-item(href='#') 
                      |Копченые колбасы
                    a.action-catalog__content-item(href='#') 
                      |Паштеты
                    a.action-catalog__content-item(href='#') 
                      |Сардельки
                    a.action-catalog__content-item(href='#') 
                      |Сосиски  
            .action-catalog__col
              ul.action-catalog__list 
                - for (i = 0; i < 4; i++)
                  a.action-catalog__card.action-catalog__card--primary(href='#')
                    .action-catalog__frame 
                      img.action-catalog__img(src="assets/images/action-catalog-2.jpg", alt="")
                    .action-catalog__discont 
                      +top-icon-svg
                      .action-catalog__discont-content 
                        .action-catalog__discont-num
                          |23
                        .action-catalog__discont-text
                          |позиции по акции
                    h4.action-catalog__title
                      |Мясная гастрономия