extends ../layouts/master.pug



block content 
  .section--grey
    .section__frame.section__frame--white
      .container 
        .block
          .block__wrapper
            h3.block__title 
              |Акционный каталог
            ul.block__list
              li.block__item 
                p.block__item-text 
                  |Главная
              li.block__item
                .block__item-icon
                  +leaflet-svg 
                p.block__item-text 
                  |Акционный каталог
              
  .section--grey.section--catalog
    .container
      .action-catalog
        .action-catalog__row 
          .action-catalog__card.action-catalog__card--big
            .action-catalog__frame 
              img.action-catalog__img(src="assets/images/action-catalog-1.jpg", alt="")
            .action-catalog__discont 
              +top-icon-svg
              .action-catalog__discont-content 
                .action-catalog__discont-num
                  |23
                .action-catalog__discont-text
                  |позиции по акции
            .action-catalog__content
              h4.action-catalog__title
                |Мясная гастрономия
              ul.action-catalog__content-list 
                li.action-catalog__content-item 
                  |Вареные колбасы
                li.action-catalog__content-item 
                  |Ветчина
                li.action-catalog__content-item 
                  |Деликатесы
                li.action-catalog__content-item 
                  |Копченые колбасы
                li.action-catalog__content-item 
                  |Паштеты
                li.action-catalog__content-item 
                  |Сардельки
                li.action-catalog__content-item 
                  |Сосиски  
          ul.action-catalog__list 
            - for (i = 0; i < 4; i++)
              li.action-catalog__card.action-catalog__card--primary
                .action-catalog__frame 
                  img.action-catalog__img(src="assets/images/action-catalog-2.jpg", alt="")
                .action-catalog__discont 
                  +top-icon-svg
                  .action-catalog__discont-content 
                    .action-catalog__discont-num
                      |23
                    .action-catalog__discont-text
                      |позиции по акции
                h4.action-catalog__title
                  |Мясная гастрономия
        ul.action-catalog__list.action-catalog__list--wide 
          - for (i = 0; i < 9; i++)
              li.action-catalog__card.action-catalog__card--secondary
                .action-catalog__frame 
                  img.action-catalog__img(src="assets/images/action-catalog-3.jpg", alt="")
                .action-catalog__discont 
                  +top-icon-svg
                  .action-catalog__discont-content 
                    .action-catalog__discont-num
                      |23
                    .action-catalog__discont-text
                      |позиции по акции
                h4.action-catalog__title
                  |Мясная гастрономия



    
  .grid-test
    .container
      .grid-test__row
        - for (let i=0; i<18; i++)
          .grid-test__col
