extends ../layouts/master.pug


block header 
  +header({
    mod: 'dark',
  })

block content
  .section.section--header
    .container
      .banner 
        .banner__inner
          .banner__frame 
            img.banner__img.banner__img--desctop(src="assets/images/banner-desctop-1.jpg", alt="")
            img.banner__img.banner__img--mobile(src="assets/images/banner-mobile-1.png", alt="")
  .section
    .container 
      .block
        .block__inner
          h3.block__title(data-aos="fade-up")
            |Мясная гастрономия
          .block__list
            ul.block-list(data-aos="fade-up")
                li.block-list__item 
                  p.block-list__item-text 
                    |Главная
                li.block-list__item
                  .block-list__item-icon
                    +leaflet-svg 
                  p.block-list__item-text 
                    |Акционный каталог
                li.block-list__item
                  .block-list__item-icon 
                    +leaflet-svg 
                  p.block-list__item-text.block-list__item-text--active
                    |Мясная гастрономия
  .section.section--catalog
    .container 
      .category 
        .category__row(data-aos="fade-up")
          p.category__section
            |По категории
          ul.category__list 
            li.category__item.category__item--active
              |Все
            li.category__item
              |Сосиски
            li.category__item
              |Вареные колбасы
            li.category__item
              |Деликатесы
            li.category__item
              |Ветчина
            li.category__item
              |Копченые колбасы
            li.category__item
              |Паштет
            li.category__item
              |Сардельки
        .category__row(data-aos="fade-up")
          p.category__section
            |По скидке
          ul.category__list 
            li.category__item.category__item--active
              |Все
            li.category__item
              |-15%
            li.category__item
              |-19%
            li.category__item
              |-25%
            li.category__item
              |-30%
  .section.section--catalog
    .container 
      .section__inner
        .catalog 
          ul.catalog__list 
            - for (i = 0; i < 9; i++)
              li.catalog__item(data-aos="fade-up")
                .top-slide.top-slide--catalog
                  .top-slide__discont
                    .top-slide__discont-icon
                      +top-icon-svg('catalog__icon')
                    .top-slide__discont-text.top-slide__discont-text--catalog
                      |-40%
                      .top-slide__discont-subtext
                        |3 по 1
                  .top-slide__container.top-slide__container--catalog
                    .top-slide__frame
                      img.top-slide__image--catalog.top-slide__image(src="assets/images/catalog-photo-1.jpg", alt="")
                    .top-slide__info
                      .top-slide__description
                        p.top-slide__text.top-slide__text--catalog
                          |Ветчина из Говядины 
                        p.top-slide__text.top-slide__text--catalog 
                          |ТМ Русские колбасы 
                        p.top-slide__text.top-slide__text--catalog.top-slide__text--crop
                          |1 кг очень много текста не хватает места
                      .top-slide__price.top-slide__price--catalog
                        span 
                          |760 ₽
                        |610 ₽
              li.catalog__item(data-aos="fade-up")
                .top-slide.top-slide--catalog
                  .top-slide__discont
                    .top-slide__discont-icon
                      +top-icon-svg('catalog__icon')
                    .top-slide__discont-text.top-slide__discont-text--catalog
                      |-30%
                  .top-slide__container.top-slide__container--catalog
                    .top-slide__frame
                      img.top-slide__image--catalog.top-slide__image(src="assets/images/catalog-photo-1.jpg", alt="")
                    .top-slide__info
                      .top-slide__description
                        p.top-slide__text.top-slide__text--catalog
                          |Ветчина из Говядины 
                        p.top-slide__text.top-slide__text--catalog 
                          |ТМ Русские колбасы 
                        p.top-slide__text.top-slide__text--catalog.top-slide__text--crop
                          |1 кг очень много текста не хватает места
                      .top-slide__price.top-slide__price--catalog
                        span 
                          |760 ₽
                        |610 ₽
          .wrapper(data-aos="fade-up")
            .button--s
              |Показать еще



block footer 
  +footer({
    mod: 'light-grey',
  })
