extends ../layouts/master.pug


block header 
  +header({
    mod: 'dark',
  })

block content
  .section.section--header
    .container
      .banner 
        .banner__inner
          a(href="#").banner__frame(data-aos="fade-up") 
            img.banner__img.banner__img--desctop(src="assets/images/banner-desctop-1.jpg", alt="")
            img.banner__img.banner__img--mobile(src="assets/images/banner-mobile-1.png", alt="")
  .section
    .container 
      .block
        .block__inner
          h3.block__title(data-aos="fade-up")
            |Мясная гастрономия
          .block__list
            ul.block-list(data-aos="fade-up")
                li.block-list__item 
                  p.block-list__item-text 
                    |Главная
                li.block-list__item
                  .block-list__item-icon
                    +leaflet-svg 
                  p.block-list__item-text 
                    |Акционный каталог
                li.block-list__item
                  .block-list__item-icon 
                    +leaflet-svg 
                  p.block-list__item-text.block-list__item-text--active
                    |Мясная гастрономия
  .section.section--catalog
    .container 
      .category 
        .category__row(data-aos="fade-up")
          p.category__section
            |По категории
          ul.category__list
            a.category__item.category__item--active(href='#')
              |Все
            a.category__item(href='#')
              |Сосиски
            a.category__item(href='#')
              |Вареные колбасы
            a.category__item(href='#')
              |Деликатесы
            a.category__item(href='#')
              |Ветчина
            a.category__item(href='#')
              |Копченые колбасы
            a.category__item(href='#')
              |Паштет
            a.category__item(href='#')
              |Сардельки
        .category__row(data-aos="fade-up")
          p.category__section
            |По скидке
          ul.category__list 
            a.category__item.category__item--active(href='#')
              |Все
            a.category__item(href='#')
              |-15%
            a.category__item(href='#')
              |-19%
            a.category__item(href='#')
              |-25%
            a.category__item(href='#')
              |-30%
  .section.section--catalog
    .container 
      .section__inner
        .product-announcement-list
          .product-announcement-list__list
            mixin product-announcement-1
              a.product-announcement.product-announcement--responsive(href='#')
                .product-announcement__frame
                  img.product-announcement__img(src='assets/images/meat.jpg')
                .product-announcement__bottom
                  .product-announcement__title-wrapper
                    .product-announcement__title
                      |Ветчина из Говядины ТМ Русские колбасы, 1 кг Русские колбасы, 1 кг Русские колбасы, 1 кгВетчина из Говядины ТМ Русские колбасы, 1 кг Русские колбасы, 1 кг Русские колбасы, 1 кг
                  .product-announcement__price
                    .product-announcement__price-text.product-announcement__price-text--old
                      |760 ₽
                    .product-announcement__price-text
                      |610 ₽
                .product-announcement__label
                  .product-announcement__label-background
                    +top-icon-svg
                  .product-announcement__label-text
                    |-20%
                    .product-announcement__label-subtext
                      |3 по 1
            mixin product-announcement-2
              a.product-announcement.product-announcement--responsive(href='#')
                .product-announcement__frame
                  img.product-announcement__img(src='assets/images/catalog-photo-1.jpg')
                .product-announcement__bottom
                  .product-announcement__title-wrapper
                    .product-announcement__title
                      |Ветчина из Говядины ТМ
                  .product-announcement__price
                    .product-announcement__price-text.product-announcement__price-text--old
                      |760 ₽
                    .product-announcement__price-text
                      |610 ₽
                .product-announcement__label
                  .product-announcement__label-background
                    +top-icon-svg
                  .product-announcement__label-text
                    |-30%
            - for (let i=0; i<9; i++)
              .product-announcement-list__item(data-aos='fade-up')
                +product-announcement-1
              .product-announcement-list__item(data-aos='fade-up')
                +product-announcement-2
          .wrapper(data-aos="fade-up")
            .button--s
              |Показать еще



block footer 
  +footer({
    mod: 'light-grey',
  })
