extends ../layouts/master.pug


block content
  .section--grey.section--header
    .container
      .banner 
        .banner__frame 
          .banner__layout 
          .banner__row 
            .banner__col
              h3.banner__title
                |Скидка 25% на всю мясную гастрономию
            .banner__col
              .banner__wrapper
                img.banner__image(src="assets/images/banner.png", alt="")
                .banner__discont 
                  |-25%

  .section--grey
    .container 
      .block
        .block__inner
          h3.block__title 
            |Мясная гастрономия
          ul.block__list
            li.block__item 
              p.block__item-text 
                |Главная
            li.block__item
              .block__item-icon
                +leaflet-svg 
              p.block__item-text 
                |Акционный каталог
            li.block__item
              .block__item-icon 
                +leaflet-svg 
              p.block__item-text.block__item-text--active
                |Мясная гастрономия
            
  .section--grey.section--catalog
    .container 
      .category 
        .category__row
          p.category__section
            |По категории
          ul.category__list 
            li.category__item.category__item--active
              |Все
            li.category__item
              |Сосиски
            li.category__item
              |Вареные колбасы
            li.category__item
              |Деликатесы
            li.category__item
              |Ветчина
            li.category__item
              |Копченые колбасы
            li.category__item
              |Паштет
            li.category__item
              |Сардельки
        .category__row
          p.category__section
            |По скидке
          ul.category__list 
            li.category__item.category__item--active
              |Все
            li.category__item
              |-15%
            li.category__item
              |-19%
            li.category__item
              |-25%
            li.category__item
              |-30%


  .section--grey.section--catalog
    .container 
      .section__inner
        .catalog 
          ul.catalog__list 
            - for (i = 0; i < 18; i++)
              li.top-slide.top-slide--catalog
                .top-slide__discont
                  .top-slide__discont-icon
                    +top-icon-svg('catalog__icon')
                  .top-slide__discont-text.top-slide__discont-text--catalog
                    |-40%
                .top-slide__container.top-slide__container--catalog
                  .top-slide__frame
                    img.top-slide__image--catalog(src="assets/images/catalog-photo-1.jpg", alt="")
                  p.top-slide__text.top-slide__text--catalog
                    |Ветчина из Говядины ТМ Русские колбасы, 1 кг
                  .top-slide__price.top-slide__price--catalog
                    span 
                      |760 ₽
                    |610 ₽
          .catalog__wrapper 
            .catalog__button
              |Показать еще
  

  .grid-test
    .container
      .grid-test__row
        - for (let i=0; i<18; i++)
          .grid-test__col