extends ../layouts/master.pug


block header 
  +header({
    mod: 'dark',
  })

block content
  .section--grey
    .section__frame.section__frame--white
      .container 
        .block
          .block__wrapper
            h3.block__title(data-aos="fade-up") 
              |Контакты
            .block__list
              ul.block-list(data-aos="fade-up") 
                li.block-list__item 
                  p.block-list__item-text 
                    |Главная
                li.block-list__item
                  .block-list__item-icon
                    +leaflet-svg 
                  p.block-list__item-text.block-list__item-text--active
                    |Контакты
              
  .section--grey 
    .section__inner 
      .container 
        .contacts 
          .contacts__inner 
            .contacts__row 
              .contacts__col
                .contacts__media(data-aos="fade-up") 
                  .contacts__question
                    |По вопросам качества продукции
                  .contacts__phone
                    |8 800 333-82-54
                  .contacts__mail
                    |info@dubki-producty.ru
                .social.social--second
                  ul.social__list
                    li.social__item(data-aos="fade-up") 
                      a.social__row.social__row--black(href='#')
                        .social__col
                          .social__img
                            +instagram-svg('contacts__icon')
                        .social__col
                          .social__link
                            |Instagram
                    li.social__item(data-aos="fade-up") 
                      a.social__row.social__row--black(href='#')
                        .social__col
                          .social__img(href="#") 
                            +vk-svg('contacts__icon')
                        .social__col
                          .social__link(href="#")
                            |Вконтакте
                  ul.social__list
                    li.social__item(data-aos="fade-up") 
                      a.social__row.social__row--black(href='#')
                        .social__col
                          .social__img
                            +facebook-svg('contacts__icon')
                        .social__col
                          .social__link
                            |Facebook
                    li.social__item(data-aos="fade-up") 
                      a.social__row.social__row--black(href='#')
                        .social__col
                          .social__img(href="#") 
                            +classmates-svg('contacts__icon')
                        .social__col
                          .social__link(href="#")
                            |Одноклассники
                .contacts__property.contacts__property--desctop
                  .contacts__property-wrapper 
                    h4.contacts__title(data-aos="fade-up")  
                      |Реквезиты
                  .contacts__docs(data-aos="fade-up")  
                    |ИП Кондратьев Юрий Алексеевич 
                    br
                    |ИНН 645204971442 
                    br
                    |ОГРНИП 308645314200049 
                    br
                    |р/с 40802810456390000269 
                    br
                    |Поволжский Банк ПАО Сбербанк г. Самара 
                    br
                    |к/с 30101810200000000607 
                    br
                    |БИК 043601607
                    
              .contacts__col
                .contacts__wrapper
                  h4.contacts__title(data-aos="fade-up") 
                    |Задать вопрос или оставить пожелание
                .contacts__container
                  form.form(action="/" data-type="feedback-form") 
                    .form__item(data-aos="fade-up") 
                      input.form__input(type="text" name="name" placeholder="Имя")
                    .form__item(data-aos="fade-up")  
                      input.form__input(type="text" name="phone" placeholder="Телефон" data-parsley-phone="" data-mask="phone")
                    .form__item(data-aos="fade-up") 
                      input.form__input(type="text" name="email" placeholder="E-mail")
                    .form__item(data-aos="fade-up") 
                      textarea.form__input.form__input--large(name="text" placeholder="Вопрос или пожелание")
                    .form__wrapper--alt
                      .checkbox(data-aos="fade-up") 
                        label.checkbox__label 
                          input.checkbox__input(type="checkbox")
                          .checkbox__box 
                            +check-svg('checkbox__icon')
                          .checkbox__text 
                            |Даю согласание на обработку 
                            a.checkbox__link(href="#") 
                              |персональных данных
                    .form__inner(data-aos="fade-up")   
                      .button.form__btn
                        |Отправить
                  .response
                    .response__container 
                      .response__row 
                        .response__col
                          h3.response__title
                            |Спасибо. Мы получили ваше сообщение и ответимна него в ближайшее время.
                        .response__col
                          .response__wrapper 
                            .button.response__btn
                              |Отправить еще
                .contacts__property.contacts__property--mobile 
                  .contacts__property-wrapper 
                    h4.contacts__title(data-aos="fade-up") 
                      |Реквезиты
                  .contacts__docs(data-aos="fade-up") 
                    |ИП Кондратьев Юрий Алексеевич 
                    br
                    |ИНН 645204971442 
                    br
                    |ОГРНИП 308645314200049 
                    br
                    |р/с 40802810456390000269 
                    br
                    |Поволжский Банк ПАО Сбербанк г. Самара 
                    br
                    |к/с 30101810200000000607 
                    br
                    |БИК 043601607

  
block footer 
  +footer({
    mod: 'catalog-grey',
  })