extends ../layouts/master.pug



block content
  .index
    .section
      .section__inner
        .section__frame.section__frame--top
          .hero 
            .hero__bg(data-layer-ratio="7")
            img.hero__background(src="assets/images/svg/index-bg-2.svg", alt="")(data-layer-ratio="10")
            .hero__images(data-layer-ratio="13")
              img.hero__svg.hero__svg--first(src="assets/images/svg/index-1.svg", alt="")(data-aos="fade-up")
              img.hero__svg.hero__svg--second(src="assets/images/svg/index-2.svg", alt="")(data-aos="fade-up")
              img.hero__svg.hero__svg--third(src="assets/images/svg/index-3.svg", alt="")(data-aos="fade-up")
              img.hero__svg.hero__svg--fourth(src="assets/images/svg/index-4.svg", alt="")(data-aos="fade-up")
              img.hero__svg.hero__svg--fifth(src="assets/images/svg/index-5.svg", alt="")(data-aos="fade-up")
              img.hero__svg.hero__svg--sixth(src="assets/images/svg/index-6.svg", alt="")(data-aos="fade-up")
              img.hero__svg.hero__svg--seventh(src="assets/images/svg/index-7.svg", alt="")(data-aos="fade-up")
              img.hero__svg.hero__svg--eighth(src="assets/images/svg/index-8.svg", alt="")(data-aos="fade-up")
          .container 
            .top
              .top__content(data-aos="fade-up")
                .top__button
                  +rotate-button-svg('top__button-icon')
                h3.top__title
                  |Сейчас по акции
              .top__container
                .top__slider.top__slider--desktop
                  .top__swipers
                    .top__swiper.top__swiper--large
                      .swiper-wrapper
                        - for (i = 0; i < 3; i++)
                          .top__slide.swiper-slide
                            a.product-announcement.product-announcement--large(href='#')
                              .product-announcement__frame
                                img.product-announcement__img(src='assets/images/top-slide-1.jpg')
                              .product-announcement__bottom
                                .product-announcement__title-wrapper
                                  .product-announcement__title
                                    |Ветчина из Говядины ТМ Русские колбасы, 1 кг Русские колбасы, 1 кг Русские колбасы, 1 кгВетчина из Говядины ТМ Русские колбасы, 1 кг Русские колбасы, 1 кг Русские колбасы, 1 кг
                                .product-announcement__price
                                  .product-announcement__price-text.product-announcement__price-text--old
                                    |760 ₽
                                  .product-announcement__price-text
                                    |610 ₽
                              .product-announcement__label
                                .product-announcement__label-background
                                  +top-icon-svg
                                .product-announcement__label-text
                                  |-20%
                                  .product-announcement__label-subtext
                                    |3 по 1
                    .top__swiper
                      .swiper-wrapper
                        - for (i = 0; i < 3; i++)
                          .top__slide.swiper-slide
                            a.product-announcement.product-announcement--small(href='#')
                              .product-announcement__frame
                                img.product-announcement__img(src='assets/images/top-slide-1.jpg')
                              .product-announcement__bottom
                                .product-announcement__title-wrapper
                                  .product-announcement__title
                                    |Ветчина из Говядины ТМ
                                .product-announcement__price
                                  .product-announcement__price-text.product-announcement__price-text--old
                                    |760 ₽
                                  .product-announcement__price-text
                                    |610 ₽
                              .product-announcement__label
                                .product-announcement__label-background
                                  +top-icon-svg
                                .product-announcement__label-text
                                  |-20%
                                  .product-announcement__label-subtext
                                    |3 по 1  
                    .top__swiper
                      .swiper-wrapper
                        - for (i = 0; i < 3; i++)
                          .top__slide.swiper-slide
                            a.product-announcement.product-announcement--small(href='#')
                              .product-announcement__frame
                                img.product-announcement__img(src='assets/images/top-slide-1.jpg')
                              .product-announcement__bottom
                                .product-announcement__title-wrapper
                                  .product-announcement__title
                                    |Ветчина из Говядины ТМ Русские колбасы, 1 кг Русские колбасы, 1 кг Русские колбасы, 1 кгВетчина из Говядины ТМ Русские колбасы, 1 кг Русские колбасы, 1 кг Русские колбасы, 1 кг
                                .product-announcement__price
                                  .product-announcement__price-text.product-announcement__price-text--old
                                    |760 ₽
                                  .product-announcement__price-text
                                    |610 ₽
                              .product-announcement__label
                                .product-announcement__label-background
                                  +top-icon-svg
                                .product-announcement__label-text
                                  |-20%
                                  .product-announcement__label-subtext
                                    |3 по 1
                .top__slider.top__slider--mobile
                  .top__swiper
                    .swiper-wrapper
                      - for (i = 0; i < 3; i++)
                        .swiper-slide
                          a.product-announcement.product-announcement--small(href='#')
                            .product-announcement__frame
                              img.product-announcement__img(src='assets/images/top-slide-1.jpg')
                            .product-announcement__bottom
                              .product-announcement__title-wrapper
                                .product-announcement__title
                                  |Колбаса Прованс
                              .product-announcement__price
                                .product-announcement__price-text.product-announcement__price-text--old
                                  |760 ₽
                                .product-announcement__price-text
                                  |610 ₽
                            .product-announcement__label
                              .product-announcement__label-background
                                +top-icon-svg
                              .product-announcement__label-text
                                |-20%
                                .product-announcement__label-subtext
                                  |3 по 1
                        .swiper-slide
                          a.product-announcement.product-announcement--small(href='#')
                            .product-announcement__frame
                              img.product-announcement__img(src='assets/images/top-slide-1.jpg')
                            .product-announcement__bottom
                              .product-announcement__title-wrapper
                                .product-announcement__title
                                  |Колбаса ПровансКолбаса ПровансКолбаса ПровансКолбаса ПровансКолбаса ПровансКолбаса ПровансКолбаса ПровансКолбаса ПровансКолбаса ПровансКолбаса ПровансКолбаса Прованс
                              .product-announcement__price
                                .product-announcement__price-text.product-announcement__price-text--old
                                  |760 ₽
                                .product-announcement__price-text
                                  |610 ₽
                            .product-announcement__label
                              .product-announcement__label-background
                                +top-icon-svg
                              .product-announcement__label-text
                                |-20%
                                .product-announcement__label-subtext
                                  |3 по 1
                        .swiper-slide
                          a.product-announcement.product-announcement--small(href='#')
                            .product-announcement__frame
                              img.product-announcement__img(src='assets/images/top-slide-1.jpg')
                            .product-announcement__bottom
                              .product-announcement__title-wrapper
                                .product-announcement__title
                                  |Колбаса Прованс
                              .product-announcement__price
                                .product-announcement__price-text.product-announcement__price-text--old
                                  |760 ₽
                                .product-announcement__price-text
                                  |610 ₽
                            .product-announcement__label
                              .product-announcement__label-background
                                +top-icon-svg
                              .product-announcement__label-text
                                |-20%
                                .product-announcement__label-subtext
                                  |3 по 1
    //- card
    .section
      .container
        .section__inner
          .row 
            .row__side 
              .card(data-aos="fade-up")
                .card__frame
                  .card__layout
                    img.card__image(src="assets/images/svg/card-1.svg", alt="")
                    img.card__image.card__image--small(src="assets/images/svg/card-2.svg", alt="")
                  .card__container
                    h3.card__title
                      .card__text.card__text--large
                        |700
                      .card__text
                        |магазинов
                    .card__button
                      .button
                        span 
                          |Где купить
            .row__main
              .card(data-aos="fade-up")
                .card__frame.card__frame--alt
                  .card__layout
                    img.card__img(src="assets/images/svg/card-3.svg", alt="")
                  .card__container.card__container--alt
                    h3.card__title.card__title--black
                      .card__text.card__text--large
                        |35
                      .card__text
                        |регионов России
    //- news            
    .section
      .section__container 
        .section__layout.section__layout--second
          .news-layout
            img.news-layout__img(src="assets/images/svg/index-news.svg", alt="")(data-aos="fade-up")
            img.news-layout__img.news-layout__img--big(src="assets/images/svg/index-news-2.svg", alt="")(data-aos="fade-up")
          .container 
            .section__inner.section__inner--second
              .row 
                .row__side 
                  .section__content 
                    h3.section__title(data-aos="fade-up")
                      |Новости
                    p.section__text(data-aos="fade-up") 
                      |Актуальные акции, скидки и новости компании.
                  .section__button(data-aos="fade-up")  
                    a.button(href="#")
                      span 
                        |Все новости
                .row__main 
                  .news
                    ul.news__list
                      a.news__item(href='#')(data-aos="fade-up")
                        .news__content 
                          p.news__data 
                            |24 апреля 2021
                          h3.news__text
                            |Скидка на сырокопченую колбасу во всех фирменных магазинах
                        .news__container
                          img.news__photo(src="assets/images/news-1.jpg", alt="")
                      a.news__item(href='#')(data-aos="fade-up")
                        .news__content 
                          p.news__data 
                            |24 апреля 2021
                          h3.news__text
                            |Продукция мясокомбината «Дубки» с успехом прошла конкурсные испытания на фестивале качества
                        .news__container
                          img.news__photo(src="assets/images/news-2.jpg", alt="")
                      a.news__item(href='#')(data-aos="fade-up") 
                        .news__content 
                          p.news__data 
                            |24 апреля 2021
                          h3.news__text
                            |Скидка на сырокопченую колбасу во всех фирменных магазинах
                        .news__container
                          img.news__photo(src="assets/images/news-3.jpg", alt="")
                  .news__button(data-aos="fade-up")
                    a.button(href="#")
                      span 
                        |Все новости 
    //- recipes
    .section.index__recipes
      .index__recipes-cursor
        +recipes-cursor-svg.index__recipes-cursor-svg
      .section__frame
        .section__layout 
          img.recipes-layout__img(src="assets/images/svg/recipe-layout-1.svg", alt="")(data-aos="fade-up")
          img.recipes-layout__image(src="assets/images/svg/recipe-layout-2.svg", alt="")(data-aos="fade-up")
          img.recipes-layout__image.recipes-layout__image--small(src="assets/images/svg/recipe-layout-3.svg", alt="")(data-aos="fade-up")
        .container
          .section__inner
            .row.index__recipes-row
              .row__side.index__recipes-side
                .section__content.section__content--white
                  h3.section__title(data-aos="fade-up") 
                    |Рецепты
                  p.section__text(data-aos="fade-up") 
                    |Вкусные и простые рецепты с нашими продуктами. Каждый найдет что-то для себя.
                .section__button(data-aos="fade-up")    
                  a.button(href="#")
                    span 
                      |Все новости 
              .row__main.index__recipes-main
                .index__recipes-slider
                  .swiper-wrapper.slider__inner
                    - for ( i = 0; i < 3; i++ )
                      a.slider__item.swiper-slide.index__recipes-slide(href='#')(data-aos="fade-up")
                        .slider__container
                          .slider__frame
                            img.slider__photo(src="assets/images/slider-1.jpg", alt="")
                          .slider__info 
                            .slider__time.slider__time--green
                              .slider__icon
                                +clock-svg
                              |30 мин
                            .slider__time
                              |Завтрак
                        h3.slider__title
                          |Пицца с грибами и колбасой
                      a.slider__item.slider__item--s.swiper-slide.index__recipes-slide(href='#')(data-aos="fade-up")
                        .slider__container
                          .slider__frame
                            img.slider__photo(src="assets/images/slider-2.jpg", alt="")
                          .slider__info 
                            .slider__time.slider__time--green
                              .slider__icon
                                +clock-svg
                              |30 мин
                            .slider__time
                              |Завтрак
                        h3.slider__title 
                          |Пицца с грибами и колбасой
                      a.slider__item.slider__item--m.swiper-slide.index__recipes-slide(href='#')(data-aos="fade-up")
                        .slider__container
                          .slider__frame
                            img.slider__photo(src="assets/images/slider-1.jpg", alt="")
                          .slider__info 
                            .slider__time.slider__time--green
                              .slider__icon
                                +clock-svg
                              |30 мин
                            .slider__time
                              |Завтрак
                        h3.slider__title
                          |Пицца с грибами и колбасой
                  .slider__button(data-aos="fade-up") 
                    a.button(href="#")
                      span 
                        |Все новости
