.card
  .card__frame
    .card__layout
    .card__container
      h3.card__title
        .card__text.card__text--large
          |700
        .card__text
          |магазинов
      .card__button
        .button
          |Где купить