extends ../layouts/master.pug

block content
  .section--light-green
    .section__frame.section__frame--white
      .container 
        .block
          .block__wrapper
            h3.block__title 
              |Вакансии
            .block__list
              ul.block-list
                li.block-list__item 
                  p.block-list__item-text 
                    |Главная
                li.block-list__item
                  .block-list__item-icon
                    +leaflet-svg 
                  p.block-list__item-text.block-list_item-text--active
                    |Вакансии
  
  .section--grey 
    .rent-frame 
      .container
        .jobs-intro 
          .jobs-intro__inner 
            .jobs-intro__row 
              .jobs-intro__col
              .jobs-intro__col
                ul.jobs-intro__list 
                  li.jobs-intro__item 
                    h3.jobs-intro__title 
                      |Дружная команда
                    p.jobs-intro__text 
                      |Став нашим сотрудником, ты становишься частью большой и дружной команды.
                  li.jobs-intro__item 
                    h3.jobs-intro__title 
                      |Растущий бизнес
                    p.jobs-intro__text 
                      |Наш бизнес растёт и развивается. По всей стране. Открываются новые современные магазины.
                  li.jobs-intro__item 
                    h3.jobs-intro__title 
                      |Интересные задачи
                    p.jobs-intro__text 
                      |Чтобы развивать такой бизнес, нужны специалисты со свежими идеями, готовые ежедневно решать интересные нестандартные задачи.

  .section--grey
    .container 
      .section__inner 
        .jobs 
          .jobs__inner 
            ul.jobs__list 
              li.jobs__item 
                  .jobs__row 
                    .jobs__col
                      h3.jobs__point 
                        .jobs__wrapper 
                          .jobs__num 
                            |1
                        .jobs__title 
                          |Стабильность и надежность
                    .jobs__col
                      ul.news-page__list 
                        li.news-page__item.news-page__item--second 
                          .news-page__item-icon
                            +ball-svg
                          p.news-page__item-text
                            |Отношения сотрудника и работодателя оформлены в соответствии с действующим законодательством
                        li.news-page__item.news-page__item--second 
                          .news-page__item-icon
                            +ball-svg
                          p.news-page__item-text
                            |Заработная плата выплачивается вовремя, уплачиваются все налоги
                        li.news-page__item.news-page__item--second 
                          .news-page__item-icon
                            +ball-svg
                          p.news-page__item-text
                            |Очередные отпуска предоставляются и оплачиваются в соответствии с законодательством
                        li.news-page__item.news-page__item--second 
                          .news-page__item-icon
                            +ball-svg
                          p.news-page__item-text
                            |Больничные листы оплачиваются
                        li.news-page__item.news-page__item--second  
                          .news-page__item-icon
                            +ball-svg
                          p.news-page__item-text
                            |В случае рождения ребенка работник получит все соответствующие выплаты: оплату декретного больничного листа, пособие по уходу за ребенком
                        li.news-page__item.news-page__item--second 
                          .news-page__item-icon
                            +ball-svg
                          p.news-page__item-text
                            |Во время декретного больничного листа и отпуска по уходу за ребенком за работником сохраняется рабочее место
              li.jobs__item 
                  .jobs__row 
                    .jobs__col
                      h3.jobs__point 
                        .jobs__wrapper 
                          .jobs__num 
                            |2
                        .jobs__title 
                          |Стабильность и надежность
                    .jobs__col
                      ul.news-page__list 
                        li.news-page__item.news-page__item--second 
                          .news-page__item-icon
                            +ball-svg
                          p.news-page__item-text
                            |Отношения сотрудника и работодателя оформлены в соответствии с действующим законодательством
                        li.news-page__item.news-page__item--second 
                          .news-page__item-icon
                            +ball-svg
                          p.news-page__item-text
                            |Заработная плата выплачивается вовремя, уплачиваются все налоги
                        
              li.jobs__item 
                  .jobs__row 
                    .jobs__col
                      h3.jobs__point 
                        .jobs__wrapper 
                          .jobs__num 
                            |3
                        .jobs__title 
                          |Стабильность и надежность
                    .jobs__col
                      ul.news-page__list 
                        li.news-page__item.news-page__item--second 
                          .news-page__item-icon
                            +ball-svg
                          p.news-page__item-text
                            |Отношения сотрудника и работодателя оформлены в соответствии с действующим законодательством
                        li.news-page__item.news-page__item--second 
                          .news-page__item-icon
                            +ball-svg
                          p.news-page__item-text
                            |Заработная плата выплачивается вовремя, уплачиваются все налоги
                        li.news-page__item.news-page__item--second 
                          .news-page__item-icon
                            +ball-svg
                          p.news-page__item-text
                            |Очередные отпуска предоставляются и оплачиваются в соответствии с законодательством
                        
              li.jobs__item 
                  .jobs__row 
                    .jobs__col
                      h3.jobs__point 
                        .jobs__wrapper 
                          .jobs__num 
                            |4
                        .jobs__title 
                          |Стабильность и надежность
                    .jobs__col
                      ul.news-page__list 
                        li.news-page__item.news-page__item--second 
                          p.news-page__item-text
                            |Мы создаем дружескую атмосферу, благодаря которой люди идут на работу с удовольствием и выполняют свои служебные обязанности эффективно и с улыбкой.
                        li.news-page__item.news-page__item--second 
                          p.news-page__item-text
                            |Для нас каждый сотрудник ценен, ведь наши кадры делают сеть «Дубки» самой гостеприимной и доброжелательной, куда клиенту хочется приходить снова и снова.

