extends ../layouts/master.pug

block content
  
  .modals 
    .modal(data-fancy-modal='1')
      .modal__container
        .modal__inner
          .modal__wrapper 
            h3.modal__title
              |Откликнуться
          .modal__form
            form.form(action="/") 
              .form__item 
                input.form__input(type="text" name="name" placeholder="Имя")
              .form__item 
                input.form__input(type="text" name="phone" placeholder="Телефон")
              .form__item.form__item--select
                .select 
                  select.select__select(name="city")(style="width: 100%")
                    option(value="saratov", selected) 
                      |Саратов
                    option(value="moscov") 
                      |Москва
                    option(value="spb") 
                      |Санкт-Питербург
                    option(value="voronezh") 
                      |Воронеж
              .form__item 
                textarea.form__input.form__input--large(name="text" placeholder="Вопрос или пожелание")
              .form__wrapper 
                .form__row 
                  .form__row-wrapper
                    button.form__button
                      |Прикрепить резюме
              .checkbox 
                label.checkbox__label 
                  input.checkbox__input(type="checkbox")
                  .checkbox__box 
                    +check-svg('checkbox__icon')
                  .checkbox__text 
                    |Даю согласание на обработку 
                    a.checkbox__link(href="#") 
                      |персональных данных
              .form__inner 
                .button.form__btn
                  |Отправить
      .response.response--big
        .response__container 
          .response__inner
            h3.response__title.response__title--second
              |Запрос отправлен
            p.response__text 
              |Мы свяжемся с вами в ближайшее время.
        .modal__btn 
          .button-modal.button-modal--active.modal__button(data-fancybox-close='1')
            .button-modal__image

  .section--light-green
    .section__frame.section__frame--white
      .container 
        .block
          .block__wrapper
            h3.block__title(data-aos="fade-up") 
              |Вакансии
            .block__list
              ul.block-list(data-aos="fade-up") 
                li.block-list__item 
                  p.block-list__item-text 
                    |Главная
                li.block-list__item
                  .block-list__item-icon
                    +leaflet-svg 
                  p.block-list__item-text.block-list_item-text--active
                    |Вакансии
  
  .section--grey 
    .rent-frame 
      .container
        .jobs-intro 
          .jobs-intro__inner 
            .jobs-intro__row 
              .jobs-intro__col
                .jobs-intro__image 
                  img.jobs-intro__img(src="assets/images/jobs-intro-bg.png", alt="")
              .jobs-intro__col
                ul.jobs-intro__list 
                  li.jobs-intro__item 
                    h3.jobs-intro__title(data-aos="fade-up") 
                      |Дружная команда
                    p.jobs-intro__text(data-aos="fade-up") 
                      |Став нашим сотрудником, ты становишься частью большой и дружной команды.
                  li.jobs-intro__item 
                    h3.jobs-intro__title(data-aos="fade-up") 
                      |Растущий бизнес
                    p.jobs-intro__text(data-aos="fade-up") 
                      |Наш бизнес растёт и развивается. По всей стране. Открываются новые современные магазины.
                  li.jobs-intro__item 
                    h3.jobs-intro__title(data-aos="fade-up") 
                      |Интересные задачи
                    p.jobs-intro__text(data-aos="fade-up") 
                      |Чтобы развивать такой бизнес, нужны специалисты со свежими идеями, готовые ежедневно решать интересные нестандартные задачи.

  .section--grey
    .container 
      .section__inner 
        .jobs 
          .jobs__inner 
            ul.jobs__list 
              li.jobs__item 
                  .jobs__row 
                    .jobs__col
                      h3.jobs__point(data-aos="fade-up")  
                        .jobs__wrapper 
                          .jobs__num 
                            |1
                        .jobs__title 
                          |Стабильность и надежность
                    .jobs__col
                      .news-page
                        ul.news-page__list 
                          li.news-page__item.news-page__item--second(data-aos="fade-up")  
                            .news-page__item-icon
                              +ball-svg
                            p.news-page__item-text
                              |Отношения сотрудника и работодателя оформлены в соответствии с действующим законодательством
                          li.news-page__item.news-page__item--second(data-aos="fade-up")  
                            .news-page__item-icon
                              +ball-svg
                            p.news-page__item-text
                              |Заработная плата выплачивается вовремя, уплачиваются все налоги
                          li.news-page__item.news-page__item--second(data-aos="fade-up") 
                            .news-page__item-icon
                              +ball-svg
                            p.news-page__item-text
                              |Очередные отпуска предоставляются и оплачиваются в соответствии с законодательством
                          li.news-page__item.news-page__item--second(data-aos="fade-up") 
                            .news-page__item-icon
                              +ball-svg
                            p.news-page__item-text
                              |Больничные листы оплачиваются
                          li.news-page__item.news-page__item--second(data-aos="fade-up")  
                            .news-page__item-icon
                              +ball-svg
                            p.news-page__item-text
                              |В случае рождения ребенка работник получит все соответствующие выплаты: оплату декретного больничного листа, пособие по уходу за ребенком
                          li.news-page__item.news-page__item--second(data-aos="fade-up") 
                            .news-page__item-icon
                              +ball-svg
                            p.news-page__item-text
                              |Во время декретного больничного листа и отпуска по уходу за ребенком за работником сохраняется рабочее место
              li.jobs__item 
                  .jobs__row 
                    .jobs__col
                      h3.jobs__point(data-aos="fade-up") 
                        .jobs__wrapper 
                          .jobs__num 
                            |2
                        .jobs__title 
                          |Стабильность и надежность
                    .jobs__col
                      .news-page
                        ul.news-page__list 
                          li.news-page__item.news-page__item--second(data-aos="fade-up") 
                            .news-page__item-icon
                              +ball-svg
                            p.news-page__item-text
                              |Отношения сотрудника и работодателя оформлены в соответствии с действующим законодательством
                          li.news-page__item.news-page__item--second(data-aos="fade-up") 
                            .news-page__item-icon
                              +ball-svg
                            p.news-page__item-text
                              |Заработная плата выплачивается вовремя, уплачиваются все налоги
                        
              li.jobs__item 
                  .jobs__row 
                    .jobs__col
                      h3.jobs__point(data-aos="fade-up") 
                        .jobs__wrapper 
                          .jobs__num 
                            |3
                        .jobs__title 
                          |Стабильность и надежность
                    .jobs__col
                      .news-page
                        ul.news-page__list 
                          li.news-page__item.news-page__item--second(data-aos="fade-up")  
                            .news-page__item-icon
                              +ball-svg
                            p.news-page__item-text
                              |Отношения сотрудника и работодателя оформлены в соответствии с действующим законодательством
                          li.news-page__item.news-page__item--second(data-aos="fade-up")  
                            .news-page__item-icon
                              +ball-svg
                            p.news-page__item-text
                              |Заработная плата выплачивается вовремя, уплачиваются все налоги
                          li.news-page__item.news-page__item--second(data-aos="fade-up")  
                            .news-page__item-icon
                              +ball-svg
                            p.news-page__item-text
                              |Очередные отпуска предоставляются и оплачиваются в соответствии с законодательством
                        
              li.jobs__item 
                  .jobs__row 
                    .jobs__col
                      h3.jobs__point(data-aos="fade-up") 
                        .jobs__wrapper 
                          .jobs__num 
                            |4
                        .jobs__title 
                          |Стабильность и надежность
                    .jobs__col
                      .news-page
                        ul.news-page__list 
                          li.news-page__item.news-page__item--second(data-aos="fade-up")  
                            p.news-page__item-text
                              |Мы создаем дружескую атмосферу, благодаря которой люди идут на работу с удовольствием и выполняют свои служебные обязанности эффективно и с улыбкой.
                          li.news-page__item.news-page__item--second(data-aos="fade-up")  
                            p.news-page__item-text
                              |Для нас каждый сотрудник ценен, ведь наши кадры делают сеть «Дубки» самой гостеприимной и доброжелательной, куда клиенту хочется приходить снова и снова.

  .section--grey 
    .container 
      .section__inner
        .vacancies
          .vacancies__inner 
            h3.vacancies__title(data-aos="fade-up") 
              |Актуальные вакансии
          .vacancies__row
            .vacancies__col(data-aos="fade-up") 
              .vacancies__select 
                .vacancies__select-text 
                  |Город
            .vacancies__col(data-aos="fade-up") 
              ul.vacancies-list 
                - for (i = 0; i < 5; i++)
                  li.vacancies-list__item(data-aos="fade-up") 
                    .vacancies-list__container
                      .vacancies-list__row 
                        .vacancies-list__col
                          h4.vacancies-list__title 
                            |Продавец
                          .vacancies-list__city.vacancies-list__city--mobile
                            |Саратов
                        .vacancies-list__col
                          .vacancies-list__city.vacancies-list__city--desctop
                            |Саратов
                        .vacancies-list__col
                          .vacancies-list__button
                            .vacancies-list__button-item
                            .vacancies-list__button-item
                      .vacancies-list__dropdown
                        .vacancies-list__content 
                          ul.vacancies-list__content-list 
                            li.vacancies-list__content-item 
                              .vacancies-list__content-wrapper 
                                .vacancies-list__content-title 
                                  |Условия
                              .news-page
                                ul.news-page__list 
                                  li.news-page__item.news-page__item--second 
                                    .news-page__item-icon
                                      +ball-svg
                                    p.news-page__item-text
                                      |Достойная оплата
                                  li.news-page__item.news-page__item--second 
                                    .news-page__item-icon
                                      +ball-svg
                                    p.news-page__item-text
                                      |График 3/3, 5/2
                            li.vacancies-list__content-item 
                              .vacancies-list__content-wrapper 
                                .vacancies-list__content-title 
                                  |Обязанности
                              .news-page
                                ul.news-page__list 
                                  li.news-page__item.news-page__item--second 
                                    .news-page__item-icon
                                      +ball-svg
                                    p.news-page__item-text
                                      |Обслуживание покупателей на кассе (наличный и безналичный расчет)
                                  li.news-page__item.news-page__item--second 
                                    .news-page__item-icon
                                      +ball-svg
                                    p.news-page__item-text
                                      |Выкладка товара в зале
                                  li.news-page__item.news-page__item--second 
                                    .news-page__item-icon
                                      +ball-svg
                                    p.news-page__item-text
                                      |Отслеживание сроков годности товара
                                  li.news-page__item.news-page__item--second 
                                    .news-page__item-icon
                                      +ball-svg
                                    p.news-page__item-text
                                      |Проверка наличия ценников
                                  li.news-page__item.news-page__item--second 
                                    .news-page__item-icon
                                      +ball-svg
                                    p.news-page__item-text
                                      |Консультация покупателей в зале

                            li.vacancies-list__content-item 
                              .vacancies-list__content-wrapper 
                                .vacancies-list__content-title 
                                  |Требования
                              .news-page
                                ul.news-page__list 
                                  li.news-page__item.news-page__item--second 
                                    .news-page__item-icon
                                      +ball-svg
                                    p.news-page__item-text
                                      |Ответственность, дисциплинированность, внимательность.
                        .vacancies-list__contact 
                          .vacancies-list__contact-container 
                            .vacancies-list__contact-row
                              .vacancies-list__contact-col
                                .vacancies-list__contact-contacts
                                  .vacancies-list__contact-img 
                                    +mail-svg
                                  .vacancies-list__contact-content 
                                    .vacancies-list__contact-text 
                                      |Почта для связи
                                    a.vacancies-list__contact-link(href="#")
                                      |vakansii@dubki-producty.ru
                              .vacancies-list__contact-col
                                .vacancies-list__contact-button
                                  .button(data-fancy-button='1')
                                    |Откликнуться


