extends ../layouts/master.pug

block content
  .section--light-green
    .section__frame.section__frame--white
      .container 
        .block
          .block__wrapper
            h3.block__title 
              |Вакансии
            .block__list
              ul.block-list
                li.block-list__item 
                  p.block-list__item-text 
                    |Главная
                li.block-list__item
                  .block-list__item-icon
                    +leaflet-svg 
                  p.block-list__item-text.block-list_item-text--active
                    |Вакансии
  
  .section--grey 
    .rent-frame 
      .container
        .jobs-intro 
          .jobs-intro__inner 
            .jobs-intro__row 
              .jobs-intro__col
              .jobs-intro__col
                ul.jobs-intro__list 
                  li.jobs-intro__item 
                    h3.jobs-intro__title 
                      |Дружная команда
                    p.jobs-intro__text 
                      |Став нашим сотрудником, ты становишься частью большой и дружной команды.
                  li.jobs-intro__item 
                    h3.jobs-intro__title 
                      |Растущий бизнес
                    p.jobs-intro__text 
                      |Наш бизнес растёт и развивается. По всей стране. Открываются новые современные магазины.
                  li.jobs-intro__item 
                    h3.jobs-intro__title 
                      |Интересные задачи
                    p.jobs-intro__text 
                      |Чтобы развивать такой бизнес, нужны специалисты со свежими идеями, готовые ежедневно решать интересные нестандартные задачи.