extends ../layouts/master.pug



block content 
  .section--grey 
    .section__frame--clear
      .section__image
      .section__row
        .container 
          .block.block--white
            h3.block__title 
              |Скидка на сырокопченую колбасу во всех фирменных магазинах!
            .block__list
              ul.block-list.block-list--white
                li.block-list__item 
                  p.block-list__item-text 
                    |Главная
                li.block-list__item
                  .block-list__item-icon
                    +leaflet-svg 
                  p.block-list__item-text 
                    |Акционный каталог
                li.block-list__item
                  .block-list__item-icon 
                    +leaflet-svg 
                  p.block-list__item-text.block-list__item-text--active
                    |Мясная гастрономия
            .block__data 
              .block__data-wrapper 
                .block__data-text 
                  |24 апреля 2021
  .section--grey.section--catalog
    .container 
      .section__inner
        .news-page 
          .news-page__wrapper 
            p.news-page__text 
              |Этот повод —  аппетитные ватрушки с творогом, которые теперь доступны в этом регионе! 
            p.news-page__text 
              |Наша сладкая выпечка уже полюбилась многим покупателям: ее вкус дарит радость и наслаждение, а кому-то напоминает детство. Оцените и вы ватрушку с творогом, порадуйте домашних лакомствами к чаю и выберите свой любимый вкус! С 1 февраля спрашивайте  в фирменных магазинах «Дубки.Продукты от производителя» по следующим адресам:

          ul.news-page__list 
            - for (i = 0; i < 9; i++)
              li.news-page__item 
                .news-page__item-icon
                  +ball-svg
                p.news-page__item-text
                  |г. Волгоград, б-р Энгельса, д.19, пом. ХIII
          .news-page__button 
            .button--xl.button
              .button__wrapper
                +cursor-svg('button__wrapper-icon') 
              .button__text
                |Вернуться ко всем новостям
  .section--grey 
    .container 
      .section__inner 
        .section__wrapper 
          .section__title--m
            |Другие новости
        .news
          ul.news__list
            li.news__item 
              .news__content 
                p.news__data 
                  |24 апреля 2021
                h3.news__text
                  |Скидка на сырокопченую колбасу во всех фирменных магазинах
              .news__container
                img.news__photo(src="assets/images/news-1.jpg", alt="")
            li.news__item 
              .news__content 
                p.news__data 
                  |24 апреля 2021
                h3.news__text
                  |Продукция мясокомбината «Дубки» с успехом прошла конкурсные испытания на фестивале качества
              .news__container
                img.news__photo(src="assets/images/news-2.jpg", alt="")
            li.news__item 
              .news__content 
                p.news__data 
                  |24 апреля 2021
                h3.news__text
                  |Скидка на сырокопченую колбасу во всех фирменных магазинах
              .news__container
                img.news__photo(src="assets/images/news-3.jpg", alt="")



block footer 
  +footer({
    mod: 'catalog-grey',
  })