extends ../layouts/master.pug

block content 
  .section--grey
    .section__frame.section__frame--white
      .container 
        .block
          .block__wrapper
            h3.block__title(data-aos="fade-up") 
              |Новости
            .block__list
              ul.block-list(data-aos="fade-up") 
                li.block-list__item 
                  p.block-list__item-text 
                    |Главная
                li.block-list__item
                  .block-list__item-icon
                    +leaflet-svg 
                  p.block-list__item-text.block-list__item-text--active
                    |Новости
  .section--grey.section--catalog
    .container 
      .section__inner
        .news
          ul.news__list
            - for (i = 0; i < 3; i++)
              li.news__item(data-aos="fade-up") 
                .news__content 
                  p.news__data 
                    |24 апреля 2021
                  h3.news__text
                    |Скидка на сырокопченую колбасу во всех фирменных магазинах
                .news__container
                  img.news__photo(src="assets/images/news-1.jpg", alt="")
              li.news__item(data-aos="fade-up") 
                .news__content 
                  p.news__data 
                    |24 апреля 2021
                  h3.news__text
                    |Продукция мясокомбината «Дубки» с успехом прошла конкурсные испытания на фестивале качества
                .news__container
                  img.news__photo(src="assets/images/news-2.jpg", alt="")
              li.news__item(data-aos="fade-up") 
                .news__content 
                  p.news__data 
                    |24 апреля 2021
                  h3.news__text
                    |Скидка на сырокопченую колбасу во всех фирменных магазинах
                .news__container
                  img.news__photo(src="assets/images/news-3.jpg", alt="")
          .wrapper
            .button--s(data-aos="fade-up") 
              |Показать еще



block footer 
  +footer({
    mod: 'catalog-grey',
  })