extends ../layouts/master.pug

block content 
  .section--grey 
    .container 
      .page 
        .page__inner 
          .page__row 
            .page__col
              .page__wrapper 
                h3.page__title 
                  |Страница не найдена
                p.page__text К сожалению, такой страницы не существует.
                  |Вы можете перей в каталог акций или вернуться на главную страницу.
              .page__buttons 
                .page__buttons-wrapper
                  .button 
                    |Каталог акций
                .page__buttons-wrapper
                  .button 
                    |Главная страница
            .page__col