extends ../layouts/master.pug


block header 
  +header({
    mod: 'grey header--light',
  })

block content 
  .section--grey 
    .container 
      .page 
        .page__inner 
          .page__row 
            .page__col
              .page__wrapper 
                h3.page__title(data-aos="fade-up")  
                  |Страница не найдена
                p.page__text(data-aos="fade-up")  К сожалению, такой страницы не существует.
                  |Вы можете перей в каталог акций или вернуться на главную страницу.
              .page__buttons 
                .page__buttons-wrapper(data-aos="fade-up")
                  .button  
                    |Каталог акций
                .page__buttons-wrapper(data-aos="fade-up") 
                  .button
                    |Главная страница
            .page__col
              .page__image
                img.page__img(src="assets/images/svg/page404.svg", alt="")
  
block footer 
  +footer({
    mod: 'catalog-grey',
  })