extends ../layouts/master.pug



block content 
  .section--grey 
    .section__frame.section__frame--product
      .section__layout 
      .container 
        .section__wrapper
          ul.block-list.block-list--mobile(data-aos="fade-up")
            li.block-list__item 
              p.block-list__item-text 
                |Главная
            li.block-list__item
              .block-list__item-icon
                +leaflet-svg 
              p.block-list__item-text 
                |Акционный каталог
            li.block-list__item
              .block-list__item-icon 
                +leaflet-svg 
              p.block-list__item-text
                |Мясная гастрономия
            li.block-list__item
              .block-list__item-icon 
                +leaflet-svg 
              p.block-list__item-text.block-list__item-text--active
                |Мясная гастрономия 
          .row 
            .row__col 
              .product-card 
                .product-card__col 
                  .product-card__thumbs 
                    ul.product-card__list(data-aos="fade-up") 
                      li.product-card__item 
                        .product-card__item-thumb 
                          img.product-card__item-img(src="assets/images/product-thumb-1.png", alt="")
                      li.product-card__item 
                        .product-card__item-thumb 
                          img.product-card__item-img(src="assets/images/product-thumb-2.png", alt="")
                      li.product-card__item 
                        .product-card__item-thumb 
                          img.product-card__item-img(src="assets/images/product-thumb-2.png", alt="")
                      li.product-card__item.product-card__item--button
                        .product-card__item-thumb 
                          .product-card__item-button 
                            +cursor-svg('product-card__item-icon')

                  .product-card__video(data-aos="fade-up") 
                    .product-card__video-text
                      |Видео-обзор продукта
                    .product-card__video-wrapper
                      .video-button
                        +play-svg('video-button__icon')
                .product-card__col
                  .top-slide.top-slide--product(data-aos="fade-up") 
                    .top-slide__discont
                      .top-slide__discont-icon
                        +top-icon-svg
                      .top-slide__discont-text
                        |-30%
                    img.top-slide__image--product(src="assets/images/top-slide-1.jpg", alt="")
            .row__col
              ul.block-list.block-list--hidden(data-aos="fade-up") 
                li.block-list__item 
                  p.block-list__item-text 
                    |Главная
                li.block-list__item
                  .block-list__item-icon
                    +leaflet-svg 
                  p.block-list__item-text 
                    |Акционный каталог
                li.block-list__item
                  .block-list__item-icon 
                    +leaflet-svg 
                  p.block-list__item-text
                    |Мясная гастрономия
                li.block-list__item
                  .block-list__item-icon 
                    +leaflet-svg 
                  p.block-list__item-text.block-list__item-text--active
                    |Мясная гастрономия
              .product 
                h3.product__title(data-aos="fade-up") 
                  |Колбаса Прованс с крупным шпиком ТМ Дубки, 1 кг
                .product__wrapper 
                  .product__row 
                    .product__col
                      .product__info(data-aos="fade-up") 
                        .product__text 
                          |Артикул
                        .product__text.product__text--bold
                          |10345
                      .product__city(data-aos="fade-up") 
                        .product__text 
                          |Цена для города
                        .product__city-item
                          .product__city-name 
                            |Саратов
                          .product__city-img 
                            +arrow-svg
                    .product__col
                      .product__info(data-aos="fade-up") 
                        .product__text 
                          |Производитель
                        .product__text.product__text--bold
                          |ТМ Дубки
                      .product__price(data-aos="fade-up")  
                        .product__price-old
                          |760 ₽
                        .product__price-new
                          |610 ₽
                  .product__row--mobile 
                    .product__col--mobile
                      .product__info(data-aos="fade-up") 
                        .product__text 
                          |Артикул
                        .product__text.product__text--bold
                          |10345
                      .product__info(data-aos="fade-up") 
                        .product__text 
                          |Производитель
                        .product__text.product__text--bold
                          |ТМ Дубки
                    .product__col--mobile
                      .product__city(data-aos="fade-up") 
                        .product__text 
                          |Цена для города
                        .product__city-item
                          .product__city-name 
                            |Саратов
                          .product__city-img 
                            +arrow-svg
                      .product__price(data-aos="fade-up")  
                        .product__price-old
                          |760 ₽
                        .product__price-new
                          |610 ₽
                .product-card__video--mobile(data-aos="fade-up") 
                  .product-card__video-text 
                    |Видео-обзор продукта
                  .product-card__video-wrapper 
                    .video-button
                      +play-svg('video-button__icon')
                .product__link 
                  a.button(href="#")(data-aos="fade-up") 
                    |Купить в интернет-магазине
  .section--grey 
    .container 
      .section__inner
        .info 
          .info__inner 
            .info__description
              .info__description-container 
                p.info__description-text(data-aos="fade-up") 
                  |Сырокопченая колбаса из свинины с добавлением филе куриных грудок. Букет специй: красная паприка, перец, свежий чеснок и любисток. Идеальное украшение для праздничного стола.
                
          .info__inner 
            .info__structure
              h3.info__title(data-aos="fade-up") 
                |Состав
              .info__wrapper
                p.info__text(data-aos="fade-up") 
                  |Молоко нормализованное, закваска для творога. Количество молочнокислых микроорганизмов КОЕ в 1 г продукта в течение срока годности - не менее 106   
          .info__inner 
            .info-card 
              .info-card__row 
                .info-card__col
                  .info-card__card.info-card__card--green(data-aos="fade-up") 
                    .info-card__frame 
                      .info-card__layot
                    .info-card__container
                      .info-card__content 
                        .info-card__item.info-card__item--first 
                          p.info-card__item-text 
                            |Энергетическая ценность, кКал
                          .info-card__item-num 
                            |100
                        ul.info-card__list 
                          li.info-card__item 
                            p.info-card__item-text 
                              |Белки, г
                            .info-card__item-num 
                              |12
                          li.info-card__item 
                            p.info-card__item-text 
                              |Жиры, г
                            .info-card__item-num 
                              |34
                          li.info-card__item 
                            p.info-card__item-text 
                              |Углеводы, г
                            .info-card__item-num 
                              |67
          
                .info-card__col 
                  .info-card__card.info-card__card--yellow(data-aos="fade-up") 
                    .info-card__frame 
                      .info-card__layot
                    .info-card__container
                      .info-card__content.info-card__content--alt
                        h4.info-card__content-title
                          |На 100 гр продукта % от суточной нормы КБЖУ
                        .info-card__wrapper 
                          ul.info-card__list.info-card__list--alt
                            li.info-card__item 
                              p.info-card__item-text 
                                |Белки, г
                              .info-card__item-num 
                                |16%
                            li.info-card__item 
                              p.info-card__item-text 
                                |Жиры, г
                              .info-card__item-num 
                                |0%
                            li.info-card__item 
                              p.info-card__item-text 
                                |Углеводы, г
                              .info-card__item-num 
                                |1%
                            li.info-card__item 
                              p.info-card__item-text 
                                |кКал
                              .info-card__item-num 
                                |6%

          .info__inner 
            .conditions 
              .conditions__row 
                .conditions__col
                  h4.conditions__title(data-aos="fade-up")  
                    |Срок и условия хранения
                .conditions__col
                  .conditions__day(data-aos="fade-up")  
                    p.conditions__text 
                      |Количество суток
                    .conditions__num 
                      |4
                  .conditions__temp(data-aos="fade-up") 
                    p.conditions__text 
                      |Температура
                    .conditions__num 
                      |4±2 ºС
  .section--grey
    .container 
      .section__inner 
        .store-buttons
          .store-buttons__row 
            .store-buttons__col
              .button--xl.button.button--m(data-aos="fade-up") 
                .button__wrapper
                  +cursor-svg('button__wrapper-icon') 
                .button__text
                  |Вернуться ко всем новостям
            .store-buttons__col
              .button--xl.button.button--m-yellow(data-aos="fade-up") 
                .button__text
                  |Вернуться ко всем новостям
                .button__wrapper.button__wrapper--alt
                  +cursor-svg('button__icon') 
  .section--grey 
    .container 
      .similar-products 
        .similar-products__row 
          .similar-products__col
            h3.similar-products__title(data-aos="fade-up")  
              |Похожие товары
          .similar-products__col
            .product-card(data-aos="fade-up") 
              .product-card__item
                .product-card__item-thumb.product-card__item-thumb--black
                  .product-card__item-button 
                    +cursor-svg('product-card__item-icon product-card__item-icon--revers')
              .product-card__item
                .product-card__item-thumb.product-card__item-thumb--black
                  .product-card__item-button 
                    +cursor-svg('product-card__item-icon')
  .section--grey.section--catalog
    .container 
      .section__inner 
        .swiper-container.product-slider
          .swiper-wrapper 
            - for (i = 0; i < 6; i++)
              .swiper-slide.top-slide.top-slide--catalog(data-aos="fade-up") 
                .top-slide__discont
                  .top-slide__discont-icon
                    +top-icon-svg('catalog__icon')
                  .top-slide__discont-text.top-slide__discont-text--catalog
                    |-40%
                .top-slide__container.top-slide__container--catalog
                  .top-slide__frame
                    img.top-slide__image--catalog(src="assets/images/catalog-photo-1.jpg", alt="")
                  p.top-slide__text.top-slide__text--catalog
                    |Ветчина из Говядины ТМ Русские колбасы, 1 кг
                  .top-slide__price.top-slide__price--catalog
                    span 
                      |760 ₽
                    |610 ₽



block footer 
  +footer({
    mod: 'catalog-grey',
  })