extends ../layouts/master.pug



block header 
  +header({
    mod: 'white header--light',
  })

block content 
  .section--grey
    .section__frame.section__frame--white
      .container 
        .block
          .block__wrapper
            h3.block__title(data-aos="fade-up") 
              |Рецепты
            .block__list
              ul.block-list(data-aos="fade-up")
                li.block-list__item 
                  p.block-list__item-text 
                    |Главная
                li.block-list__item
                  .block-list__item-icon
                    +leaflet-svg 
                  p.block-list__item-text.block-list_item-text--active
                    |Рецепты
  
  .section--grey.section--catalog 
    .container 
      .section__inner 
        .recipes
          .recipes__row 
            .recipes__col
              .recipes__text(data-aos="fade-up") 
                |Тип блюда
              .recipes__select 
                .select(data-aos="fade-up")
                  select.select__select(name="type")(style="width: 147px")
                    option(value="all", selected) 
                      |Все
                    option(value="breakfast") 
                      |Завтрак
                    option(value="lunch") 
                      |Обед
                    option(value="dinner") 
                      |Ужин
            .recipes__col
              .recipes__text(data-aos="fade-up") 
                |Время готовки
              .recipes__select 
                .select(data-aos="fade-up")
                  select.select__select(name="type")(style="width: 100%")
                    option(value="all", selected) 
                      |Все
                    option(value="breakfast") 
                      |Завтрак
                    option(value="lunch") 
                      |Обед
                    option(value="dinner") 
                      |Ужин
          .section--catalog 
            .recipes__wrapper 
              .slider
                ul.recipes__list 
                  - for (i = 0; i < 9; i++)
                    li.recipes__item(data-aos="fade-up")
                      a.slider__item(href='#')
                        .slider__container
                          .slider__frame
                            img.slider__photo(src="assets/images/slider-1.jpg", alt="")
                          .slider__info 
                            .slider__time.slider__time--green
                              .slider__icon
                                +clock-svg
                              |30 мин
                            .slider__time
                              |Завтрак
                        h3.slider__title.slider__title--black
                          |Пицца с грибами и колбасой
              .wrapper 
                .button--s(data-aos="fade-up")
                  |Показать еще



block footer 
  +footer({
    mod: 'catalog-grey',
  })