extends ../layouts/master.pug

block content
  .section--grey 
    .section__frame--clear
      .section__image.section__image--recipe
      .section__row
        .container 
          .block.block--white
            h3.block__title.block__title--small(data-aos="fade-up")
              |Пицца с колбасой, сыром и помидорами
            .block__list
              ul.block-list.block-list--white(data-aos="fade-up")
                li.block-list__item 
                  p.block-list__item-text 
                    |Главная
                li.block-list__item
                  .block-list__item-icon
                    +leaflet-svg 
                  p.block-list__item-text 
                    |Акционный каталог
                li.block-list__item
                  .block-list__item-icon 
                    +leaflet-svg 
                  p.block-list__item-text.block-list__item-text--active
                    |Мясная гастрономия
            .block__data.block__data--second
              .block__data-wrapper(data-aos="fade-up")
                .slider
                  .slider__row
                    .slider__time.slider__time--green
                      .slider__icon
                        +clock-svg
                      |30 мин
                    .slider__time
                      |Завтрак

  .section--grey                
    .container 
      .section__inner 
        .recipe 
          .recipe__inner 
            .recipe__row 
              .recipe__col
                p.recipe__text.recipe__text--desktop(data-aos="fade-up")
                  |Предлагаю приготовить пиццу с колбасой, сыром и помидорами. Это самый вкусный и сытный перекус для всей семьи. Тесто для пиццы можно приготовить дрожжевое или слоёное. Колбасу можете взять варёную или копчёную, на ваше усмотрение. Для приготовления пиццы с колбасой, сыром и помидорами возьмите такие продукты.
                .recipe__wrapper 
                  h3.recipe__title(data-aos="fade-up") 
                    |Пошаговое руководство
                ul.recipe-list
                  li.recipe-list__item 
                    .recipe-list__container 
                      h4.recipe-list__title(data-aos="fade-up") 
                        |Шаг 1. Подготовка ингридиентов
                      .recipe-list__wrapper 
                        p.recipe-list__text(data-aos="fade-up")
                          |В тёплой воде растворите сахар. Насыпьте дрожжи сухие, перемешайте, укройте полотенцем и оставьте в тёплом месте на 10-15 минут для активации.
                      .recipe-list__frame(data-aos="fade-up")
                        img.recipe-list__image(src="assets/images/recipe-list-1.jpg", alt="")
                  li.recipe-list__item 
                    .recipe-list__container 
                      h4.recipe-list__title(data-aos="fade-up")
                        |Шаг 2. Подготовка ингридиентов
                      .recipe-list__wrapper 
                        p.recipe-list__text(data-aos="fade-up")
                          |Добавьте соль и небольшими порциями пшеничную муку.
                      .recipe-list__inner
                        .recipe-list__frame(data-aos="fade-up") 
                          img.recipe-list__image(src="assets/images/recipe-list-1.jpg", alt="")
                      .recipe-list__frame(data-aos="fade-up")
                        img.recipe-list__image(src="assets/images/recipe-list-1.jpg", alt="")
                  li.recipe-list__item 
                    .recipe-list__container 
                      h4.recipe-list__title(data-aos="fade-up")
                        |Шаг 3. Подготовка ингридиентов
                      .recipe-list__wrapper 
                        p.recipe-list__text(data-aos="fade-up") 
                          |После расстойки обомните на подпыленной доске. Раскатайте в пласт по размеру используемой формы для выпекания. Смажьте томатной пастой или соусом.
                      .recipe-list__frame(data-aos="fade-up")
                        img.recipe-list__image(src="assets/images/recipe-list-1.jpg", alt="")
                  li.recipe-list__item 
                    .recipe-list__container 
                      h4.recipe-list__title(data-aos="fade-up")
                        |Шаг 3. Подготовка ингридиентов
                      .recipe-list__wrapper 
                        p.recipe-list__text(data-aos="fade-up")
                          |После расстойки обомните на подпыленной доске. Раскатайте в пласт по размеру используемой формы для выпекания. Смажьте томатной пастой или соусом.
                      .recipe-list__frame(data-aos="fade-up")
                        img.recipe-list__image(src="assets/images/recipe-list-1.jpg", alt="")
                .recipe-description
                  .recipe-description__wrapper 
                    p.recipe-description__text(data-aos="fade-up")
                      |Посыпьте натёртым твёрдым сыром и отправьте в духовку. Выпекайте 40-60 минут при температуре 180 градусов.
                    p.recipe-description__text.recipe-description__text--bold(data-aos="fade-up")
                      |Пицца с колбасой, сыром и помидорами готова.
                    p.recipe-description__text.recipe-description__text--green(data-aos="fade-up") 
                      |Приятного аппетита!
                .button--xl.button.recipe__button(data-aos="fade-up")
                  .button__wrapper
                    +cursor-svg('button__wrapper-icon') 
                  .button__text
                    |Вернуться ко всем новостям

              .recipe__col
                p.recipe__text.recipe__text--mobile(data-aos="fade-up")
                  |Предлагаю приготовить пиццу с колбасой, сыром и помидорами. Это самый вкусный и сытный перекус для всей семьи. Тесто для пиццы можно приготовить дрожжевое или слоёное. Колбасу можете взять варёную или копчёную, на ваше усмотрение. Для приготовления пиццы с колбасой, сыром и помидорами возьмите такие продукты.
                .recipe__ingredients
                  .recipe__ingredients-container
                    .recipe__ingredients-content
                      h4.recipe__ingredients-title(data-aos="fade-up") 
                        |Ингридиенты
                      .recipe__ingredients-list
                        .news-page
                          ul.news-page__list(data-aos="fade-up") 
                            li.news-page__item 
                                .news-page__item-icon
                                    +leaflet-svg 
                                p.news-page__item-text
                                    |Вода – 150 мл
                            li.news-page__item 
                                .news-page__item-icon
                                    +leaflet-svg 
                                p.news-page__item-text
                                    |Сахар – 1 ч. л.
                            li.news-page__item 
                                .news-page__item-icon
                                    +leaflet-svg 
                                p.news-page__item-text
                                    |Соль – 1 ч. л.
                            li.news-page__item 
                                .news-page__item-icon
                                    +leaflet-svg 
                                p.news-page__item-text
                                    |Колбаса копчёная – 200 г
                            li.news-page__item 
                                .news-page__item-icon
                                    +leaflet-svg 
                                p.news-page__item-text
                                    |Дрожжи сухие – 1 ч.л.
                            li.news-page__item 
                                .news-page__item-icon
                                    +leaflet-svg 
                                p.news-page__item-text
                                    |Мука пшеничная – 250 г
                            li.news-page__item 
                                .news-page__item-icon
                                    +leaflet-svg 
                                p.news-page__item-text
                                    |Сыр твёрдый – 100 г
                            li.news-page__item 
                                .news-page__item-icon
                                    +leaflet-svg 
                                p.news-page__item-text
                                    |Помидоры – 250 г
                            li.news-page__item 
                                .news-page__item-icon
                                    +leaflet-svg 
                                p.news-page__item-text
                                    |Томатная паста – 90 г
                  
  .section--grey.section--hidden
    .container 
      .similar-products 
        .similar-products__row 
          .similar-products__col
            h3.similar-products__title(data-aos="fade-up") 
              |Похожие товары
          .similar-products__col
            .product-card(data-aos="fade-up")
              .product-card__item
                .product-card__item-thumb.product-card__item-thumb--black
                  .product-card__item-button 
                    +cursor-svg('product-card__item-icon product-card__item-icon--revers')
              .product-card__item
                .product-card__item-thumb.product-card__item-thumb--black
                  .product-card__item-button 
                    +cursor-svg('product-card__item-icon')
            
  .section--grey.section--catalog.section--hidden
    .container 
      .section__inner
        .slider.swider-container.slider-recipe
          .swiper-wrapper.slider__inner
            - for ( i = 0; i < 6; i++ )
              a.slider__item.swiper-slide(href='#')(data-aos="fade-up")
                .slider__container
                  .slider__frame
                    img.slider__photo(src="assets/images/slider-1.jpg", alt="")
                  .slider__info 
                    .slider__time.slider__time--green
                      .slider__icon
                        +clock-svg
                      |30 мин
                    .slider__time
                      |Завтрак
                h3.slider__title.slider__title--black
                  |Пицца с грибами и колбасой