extends ../layouts/master.pug


block header 
  +header({
    mod: 'dark',
  })

block content 
  .section--light-green
    .section__frame.section__frame--white
      .container 
        .block
          .block__wrapper
            h3.block__title(data-aos="fade-up") 
              |Арендодателям
            .block__list
              ul.block-list(data-aos="fade-up")
                li.block-list__item 
                  p.block-list__item-text 
                    |Главная
                li.block-list__item
                  .block-list__item-icon
                    +leaflet-svg 
                  p.block-list__item-text.block-list_item-text--active
                    |Арендодателям
  
  .section--grey 
    .section__inner
      .rent-frame 
        .rent-frame__layout 
          img.rent-frame__img(src="assets/images/svg/rent-1.svg", alt="")
          img.rent-frame__image(src="assets/images/svg/rent-2.svg", alt="")
          img.rent-frame__svg(src="assets/images/svg/rent-3.svg", alt="")
        .container 
          .rent 
            .rent__inner 
              .rent__row 
                .rent__col
                  .rent__content 
                    .rent__wrapper
                      h3.rent__title(data-aos="fade-up")
                        |Сеть магазинов «Дубки. Продукты от производителей» стремительно растет и развивается, чтобы быть ближе к своему потребителю.
                    p.rent__text(data-aos="fade-up")
                      |Мы находимся в постоянном поиске свободных торговых площадей.
                .rent__col
                  .rent__image(data-aos="fade-up")
                    img.rent__img(src="assets/images/svg/rent-bg.svg", alt="")

  .section--grey 
    .section__inner 
      .container 
        .offers 
          .offers__row 
            .offers__col
              .offers__wrapper 
                h3.offers__title(data-aos="fade-up")
                  |Мы будем рады, если вы предложите нам помещение, подходящее под следующие критерии:
              ul.offers-list 
                li.offers-list__item(data-aos="fade-up")
                  .offers-list__col
                    .offers-list__point 
                      .offers-list__point-img 
                        +top-icon-svg('offers-list__point-icon')
                      .offers-list__point-num
                        |1
                  .offers-list__col
                    p.offers-list__text
                      |Наличие подъездных путей к зоне разгрузки
                li.offers-list__item(data-aos="fade-up")
                  .offers-list__col
                    .offers-list__point 
                      .offers-list__point-img 
                        +top-icon-svg('offers-list__point-icon')
                      .offers-list__point-num
                        |2
                  .offers-list__col
                    p.offers-list__text
                      |Свободный доступ пешеходов и автолюбителей, наличие пешеходного и авто-трафика, наличие парковки
                li.offers-list__item(data-aos="fade-up")
                  .offers-list__col
                    .offers-list__point 
                      .offers-list__point-img 
                        +top-icon-svg('offers-list__point-icon')
                      .offers-list__point-num
                        |3
                  .offers-list__col
                    p.offers-list__text
                      |Минимальная площадь — от 30 кв. м. Максимальная площадь — 180 кв. м., желательно свободной планировки
                li.offers-list__item(data-aos="fade-up")
                  .offers-list__col
                    .offers-list__point 
                      .offers-list__point-img 
                        +top-icon-svg('offers-list__point-icon')
                      .offers-list__point-num
                        |4
                  .offers-list__col
                    p.offers-list__text
                      |Высота потолка не менее 3 метров
                li.offers-list__item(data-aos="fade-up")
                  .offers-list__col
                    .offers-list__point 
                      .offers-list__point-img 
                        +top-icon-svg('offers-list__point-icon')
                      .offers-list__point-num
                        |5
                  .offers-list__col
                    p.offers-list__text
                      |Наличие водоснабжения, канализации и отопления
                li.offers-list__item(data-aos="fade-up")
                  .offers-list__col
                    .offers-list__point 
                      .offers-list__point-img 
                        +top-icon-svg('offers-list__point-icon')
                      .offers-list__point-num
                        |6
                  .offers-list__col
                    p.offers-list__text
                      |Электроэнергия минимум 15 квт
                li.offers-list__item(data-aos="fade-up")
                  .offers-list__col
                    .offers-list__point 
                      .offers-list__point-img 
                        +top-icon-svg('offers-list__point-icon')
                      .offers-list__point-num
                        |7
                  .offers-list__col
                    p.offers-list__text
                      |Возможность размещения вывесок на фасаде и или торце помещения
            .offers__col
              .offers__container
                form.form(action="/" data-type="feedback-form") 
                  .form__item(data-aos="fade-up")
                    input.form__input(type="text" name="name" required="required" placeholder="Имя")
                  .form__item(data-aos="fade-up")
                    input.form__input(type="text" name="phone" data-parsley-phone="" placeholder="Телефон" data-mask="phone" required="required")
                  .form__item(data-aos="fade-up")
                    input.form__input(type="text" name="email" placeholder="E-mail" required="required")
                  .form__item(data-aos="fade-up")
                    input.form__input(type="text" name="addres" placeholder="Адрес помещения" required="required")
                  .form__item(data-aos="fade-up")
                    input.form__input(type="text" name="area" placeholder="Площадь" required="required")
                  .form__item(data-aos="fade-up")
                    input.form__input(type="text" name="rent" placeholder="Арендная ставка" required="required")
                  .form__item(data-aos="fade-up")
                    input.form__input(type="text" name="energy" placeholder="Электроэнергия" required="required")
                  .form__wrapper 
                    .form__row(data-aos="fade-up")
                      .form__row-wrapper
                        input(type="file" id="myfile" name="myfile").form__files
                        label(for="myfile").form__button
                          |Прикрепить файл
                      .form__text  
                        |Например, фотографии, план
                  .checkbox(data-aos="fade-up")
                    label.checkbox__label(for="checkbox")
                      input.checkbox__input(type="checkbox" id="checkbox" required="required")
                      .checkbox__box 
                        +check-svg('checkbox__icon')
                      .checkbox__text 
                        |Даю согласание на обработку 
                        a.checkbox__link(href="#") 
                          |персональных данных
                  .form__inner(data-aos="fade-up") 
                    button(type="submit").button.form__btn
                      |Отправить
                .response
                  .response__container 
                    .response__row 
                      .response__col
                        h3.response__title
                          |Отправлено
                        p.response__text
                          |Спасибо за обращение. Мы ответим на него в ближайшее время.
                      .response__col
                        .response__wrapper 
                          .button.response__btn
                            |Отправить еще
  
block footer 
  +footer({
    mod: 'catalog-grey',
  })