extends ../layouts/master.pug

block content 
  .section--light-green
    .section__frame.section__frame--white
      .container 
        .block
          .block__wrapper
            h3.block__title 
              |Арендодателям
            .block__list
              ul.block-list
                li.block-list__item 
                  p.block-list__item-text 
                    |Главная
                li.block-list__item
                  .block-list__item-icon
                    +leaflet-svg 
                  p.block-list__item-text.block-list_item-text--active
                    |Арендодателям
  
  .section--grey 
    .section__inner
      .rent-frame 
        .container 
          .rent 
            .rent__inner 
              .rent__row 
                .rent__col
                  .rent__content 
                    .rent__wrapper
                      h3.rent__title 
                        |Сеть магазинов «Дубки. Продукты от производителей» стремительно растет и развивается, чтобы быть ближе к своему потребителю.
                    p.rent__text 
                      |Мы находимся в постоянном поиске свободных торговых площадей.
                .rent__col

  .section--grey 
    .section__inner 
      .container 
        .offers 
          .offers__row 
            .offers__col
              .offers__wrapper 
                h3.offers__title 
                  |Мы будем рады, если вы предложите нам помещение, подходящее под следующие критерии:
              ul.offers-list 
                li.offers-list__item 
                  .offers-list__col
                    .offers-list__point 
                      .offers-list__point-img 
                        +top-icon-svg('offers-list__point-icon')
                      .offers-list__point-num
                        |1
                  .offers-list__col
                    p.offers-list__text
                      |Наличие подъездных путей к зоне разгрузки
                li.offers-list__item 
                  .offers-list__col
                    .offers-list__point 
                      .offers-list__point-img 
                        +top-icon-svg('offers-list__point-icon')
                      .offers-list__point-num
                        |2
                  .offers-list__col
                    p.offers-list__text
                      |Свободный доступ пешеходов и автолюбителей, наличие пешеходного и авто-трафика, наличие парковки
                li.offers-list__item 
                  .offers-list__col
                    .offers-list__point 
                      .offers-list__point-img 
                        +top-icon-svg('offers-list__point-icon')
                      .offers-list__point-num
                        |3
                  .offers-list__col
                    p.offers-list__text
                      |Минимальная площадь — от 30 кв. м. Максимальная площадь — 180 кв. м., желательно свободной планировки
                li.offers-list__item 
                  .offers-list__col
                    .offers-list__point 
                      .offers-list__point-img 
                        +top-icon-svg('offers-list__point-icon')
                      .offers-list__point-num
                        |4
                  .offers-list__col
                    p.offers-list__text
                      |Высота потолка не менее 3 метров
                li.offers-list__item 
                  .offers-list__col
                    .offers-list__point 
                      .offers-list__point-img 
                        +top-icon-svg('offers-list__point-icon')
                      .offers-list__point-num
                        |5
                  .offers-list__col
                    p.offers-list__text
                      |Наличие водоснабжения, канализации и отопления
                li.offers-list__item 
                  .offers-list__col
                    .offers-list__point 
                      .offers-list__point-img 
                        +top-icon-svg('offers-list__point-icon')
                      .offers-list__point-num
                        |6
                  .offers-list__col
                    p.offers-list__text
                      |Электроэнергия минимум 15 квт
                li.offers-list__item 
                  .offers-list__col
                    .offers-list__point 
                      .offers-list__point-img 
                        +top-icon-svg('offers-list__point-icon')
                      .offers-list__point-num
                        |7
                  .offers-list__col
                    p.offers-list__text
                      |Возможность размещения вывесок на фасаде и или торце помещения
            .offers__col
              .offers__container
                form.form(action="/") 
                  .form__item 
                    input.form__input(type="text" name="name" placeholder="Имя")
                  .form__item 
                    input.form__input(type="text" name="phone" placeholder="Телефон")
                  .form__item 
                    input.form__input(type="text" name="email" placeholder="E-mail")
                  .form__item 
                    input.form__input(type="text" name="addres" placeholder="Адрес помещения")
                  .form__item 
                    input.form__input(type="text" name="area" placeholder="Площадь")
                  .form__item 
                    input.form__input(type="text" name="rent" placeholder="Арендная ставка")
                  .form__item 
                    input.form__input(type="text" name="energy" placeholder="Электроэнергия")
                  .form__wrapper 
                    .form__row 
                      .form__row-wrapper
                        button.form__button
                          |Прикрепить файлы
                      .form__text  
                        |Например, фотографии, план
                  .checkbox 
                    label.checkbox__label 
                      input.checkbox__input(type="checkbox")
                      .checkbox__box 
                        +check-svg('checkbox__icon')
                      .checkbox__text 
                        |Даю согласание на обработку 
                        a.checkbox__link(href="#") 
                          |персональных данных
                  .form__inner 
                    .button.form__btn
                      |Отправить
                .response
                  .response__container 
                    .response__row 
                      .response__col
                        h3.response__title
                          |Отправлено
                        p.response__text
                          |Спасибо за обращение. Мы ответим на него в ближайшее время.
                      .response__col
                        .response__wrapper 
                          .button.response__btn
                            |Отправить еще