extends ../layouts/master.pug

block content 
  .section--grey
    .section__frame.section__frame--white
      .container 
        .block
          .block__wrapper
            h3.block__title 
              |Результат по­иска
            .block__list
              ul.block-list
                li.block-list__item 
                  p.block-list__item-text 
                    |Главная
                li.block-list__item
                  .block-list__item-icon
                    +leaflet-svg 
                  p.block-list__item-text.block-list__item-text--active
                    |Результат по­иска

  .section--grey 
    .section__inner 
      .container 
        .search 
          .search__inner 
            form.search-form(action="/")  
              .search-form__row 
                .search-form__col 
                  input.search-form__input(type="text" name="search" placeholder="Что вы хотите найти?")
                .search-form__col   
                  .button.search-form__button
                    |Поиск
          .search__wrapper 
            .search__result
              |Найдено 268 товаров
          .catalog 
            ul.catalog__list 
              - for (i = 0; i < 9; i++)
                li.catalog__item
                  .top-slide.top-slide--catalog
                    .top-slide__discont
                      .top-slide__discont-icon
                        +top-icon-svg('catalog__icon')
                      .top-slide__discont-text.top-slide__discont-text--catalog
                        |-40%
                    .top-slide__container.top-slide__container--catalog
                      .top-slide__frame
                        img.top-slide__image--catalog(src="assets/images/catalog-photo-1.jpg", alt="")
                      p.top-slide__text.top-slide__text--catalog
                        |Ветчина из Говядины ТМ Русские колбасы, 1 кг
                      .top-slide__price.top-slide__price--catalog
                        span 
                          |760 ₽
                        |610 ₽