extends ../layouts/master.pug


block header 
  +header({
    mod: 'dark',
  })

block content 
  .section--grey
    .section__frame.section__frame--white
      .container 
        .block
          .block__wrapper
            h3.block__title(data-aos="fade-up")  
              |Результат по­иска
            .block__list
              ul.block-list(data-aos="fade-up") 
                li.block-list__item 
                  p.block-list__item-text 
                    |Главная
                li.block-list__item
                  .block-list__item-icon
                    +leaflet-svg 
                  p.block-list__item-text.block-list__item-text--active
                    |Результат по­иска

  .section--grey 
    .section__inner 
      .container 
        .search 
          .search__inner 
            form.search-form(action="/")  
              .search-form__row 
                .search-form__col(data-aos="fade-up") 
                  input.search-form__input(type="text" name="search" placeholder="Что вы хотите найти?")
                .search-form__col(data-aos="fade-up")   
                  .button.search-form__button
                    |Поиск
          .search__wrapper 
            .search__result(data-aos="fade-up") 
              |Найдено 268 товаров
          .search__container
            .search__undefiend 
              .search__text 
                |Подходящих товаров нет
          .search__catalog
            .product-announcement-list
              .product-announcement-list__list
                mixin product-announcement-1
                  a.product-announcement.product-announcement--responsive(href='#')
                    .product-announcement__frame
                      img.product-announcement__img(src='assets/images/meat.jpg')
                    .product-announcement__bottom
                      .product-announcement__title-wrapper
                        .product-announcement__title
                          |Ветчина из Говядины ТМ Русские колбасы, 1 кг Русские колбасы, 1 кг Русские колбасы, 1 кгВетчина из Говядины ТМ Русские колбасы, 1 кг Русские колбасы, 1 кг Русские колбасы, 1 кг
                      .product-announcement__price
                        .product-announcement__price-text.product-announcement__price-text--old
                          |760 ₽
                        .product-announcement__price-text
                          |610 ₽
                    .product-announcement__label
                      .product-announcement__label-background
                        +top-icon-svg
                      .product-announcement__label-text
                        |-20%
                        .product-announcement__label-subtext
                          |3 по 1
                mixin product-announcement-2
                  a.product-announcement.product-announcement--responsive(href='#')
                    .product-announcement__frame
                      img.product-announcement__img(src='assets/images/catalog-photo-1.jpg')
                    .product-announcement__bottom
                      .product-announcement__title-wrapper
                        .product-announcement__title
                          |Ветчина из Говядины ТМ
                      .product-announcement__price
                        .product-announcement__price-text.product-announcement__price-text--old
                          |760 ₽
                        .product-announcement__price-text
                          |610 ₽
                    .product-announcement__label
                      .product-announcement__label-background
                        +top-icon-svg
                      .product-announcement__label-text
                        |-30%
                - for (let i=0; i<9; i++)
                  .product-announcement-list__item(data-aos='fade-up')
                    +product-announcement-1
                  .product-announcement-list__item(data-aos='fade-up')
                    +product-announcement-2

  
block footer 
  +footer({
    mod: 'catalog-grey',
  })
