extends ../layouts/master.pug


block content 
  .section--grey
    .section__frame.section__frame--white
      .container 
        .block
          .block__wrapper
            h3.block__title(data-aos="fade-up")  
              |Где купить
            .block__list
              ul.block-list(data-aos="fade-up") 
                li.block-list__item 
                  p.block-list__item-text 
                    |Главная
                li.block-list__item
                  .block-list__item-icon
                    +leaflet-svg 
                  p.block-list__item-text.block-list__item-text--active
                    |Где купить
    
  .section--grey 
    .section__inner 
      .container 
        .stores-list 
          .stores-list__inner 
            .stores-list__row 
              .stores-list__col
                .map-select 
                  .map-select__container 
                    .map-select__row(data-aos="fade-up") 
                      .map-select__col
                        .map-select__text 
                          |Город
                      .map-select__col
                        .select 
                          select.select__select(name="city")(style="width: 100%")
                            option(value="saratov", selected) 
                              |Саратов
                            option(value="moscov") 
                              |Москва
                            option(value="spb") 
                              |Санкт-Питербург
                            option(value="voronezh") 
                              |Воронеж
              .stores-list__col
                .map-tabs--default
                  .map-tabs__wrapper
                    .map-tabs__container 
                      .map-tabs__row(data-aos="fade-up") 
                        .map-tabs__item 
                          .map-tabs__button.map-tabs__button--active
                            |На карте
                        .map-tabs__item 
                          .map-tabs__button
                            |Списком
            .addres 
              .addres__inner 
                ul.addres__list 
                  - for (i = 0; i < 3; i++)
                    li.addres__item(data-aos="fade-up") 
                      .addres__container 
                        .addres__row 
                          .addres__col
                            .addres__name 
                              .addres__store 
                                |В магазине самообслуживание
                              h3.addres__title 
                                |р.п. Мокроус, ул. Победы, д. 8 СО
                          .addres__col
                            ul.addres-list
                              li.addres-list__item
                                .addres__addres 
                                  .addres__icon 
                                    +clock-svg('addres__clock')
                                  .addres__text 
                                    |пнд—вс  |  9—18
                    li.addres__item(data-aos="fade-up") 
                      .addres__container 
                        .addres__row 
                          .addres__col
                            .addres__name 
                              h3.addres__title 
                                |р.п. Мокроус, ул. Победы, д. 8 СО
                          .addres__col
                            ul.addres-list
                              li.addres-list__item
                                .addres__addres 
                                  .addres__icon 
                                    +clock-svg('addres__clock')
                                  .addres__text 
                                    |пнд—вс  |  9—18
                              li.addres-list__item
                                .addres__addres 
                                  .addres__icon 
                                    +clock-svg('addres__clock')
                                  .addres__text 
                                    |пнд—вс  |  9—18
                .wrapper(data-aos="fade-up") 
                  .button--s
                    |Показать еще
      

block footer 
  +footer({
    mod: 'catalog-grey',
  })