extends ../layouts/master.pug



block header 
  +header({
    mod: 'white header--light',
  })

block content 
  .section--grey
    .section__frame.section__frame--white
      .container 
        .block
          .block__wrapper
            h3.block__title(data-aos="fade-up")  
              |Где купить
            .block__list
              ul.block-list(data-aos="fade-up") 
                li.block-list__item 
                  p.block-list__item-text 
                    |Главная
                li.block-list__item
                  .block-list__item-icon
                    +leaflet-svg 
                  p.block-list__item-text.block-list__item-text--active
                    |Где купить
  .section--grey 
    .container 
      .map 
        .map__inner 
          .map__container
            .map-tabs
              .map-tabs__wrapper
                .map-tabs__container 
                  .map-tabs__row(data-aos="fade-up")  
                    .map-tabs__item 
                      .map-tabs__button.map-tabs__button--active
                        |На карте
                    .map-tabs__item 
                      .map-tabs__button
                        |Списком
            ul.placemarks  
              li.placemarks__item 
                .placemarks__ballon 
                  .map-balloon--alt
                    .map-balloon__container 
                      .map-balloon__store  
                        |В магазине самообслуживание
                      .map-balloon__addres 
                        |г. Саратов, ул. 
                        br
                        |Красноармейская, д. 13 а
                      .map-balloon__time
                        .map-balloon__text  
                          |пнд—вс  |  9—18
                        .map-balloon__text  
                          |пнд—вс  |  9—18
                .placemarks__coordinates 
                  .placemarks__latitude
                    |51.596075
                  .placemarks__longitude
                    |46.029688
              li.placemarks__item 
                .placemarks__ballon
                  .map-balloon--alt
                    .map-balloon__container 
                      .map-balloon__store  
                        |В магазине самообслуживание
                      .map-balloon__addres 
                        |г. Саратов, ул. 
                        br
                        |Красноармейская, д. 13 а
                      .map-balloon__time
                        .map-balloon__text  
                          |пнд—вс  |  9—18
                .placemarks__coordinates 
                  .placemarks__latitude
                    |51.492406
                  .placemarks__longitude
                    |46.108394
              li.placemarks__item 
                .placemarks__ballon 
                  .map-balloon.map-balloon.map-balloon--alt
                    .map-balloon__container 
                      .map-balloon__store  
                        |В магазине самообслуживание
                      .map-balloon__addres 
                        |г. Саратов, ул. 
                        br
                        |Красноармейская, д. 13 а
                      .map-balloon__time
                        .map-balloon__text  
                          |пнд—вс  |  9—18
                .placemarks__coordinates 
                  .placemarks__latitude
                    |51.527775
                  .placemarks__longitude
                    |45.995724
              li.placemarks__item 
                .placemarks__ballon 
                  .map-balloon--alt
                    .map-balloon__container 
                      .map-balloon__store  
                        |В магазине самообслуживание
                      .map-balloon__addres 
                        |г. Саратов, ул. 
                        br
                        |Красноармейская, д. 13 а
                      .map-balloon__time
                        .map-balloon__text  
                          |пнд—вс  |  9—18
                .placemarks__coordinates 
                  .placemarks__latitude
                    |51.540679
                  .placemarks__longitude
                    |45.994837
            .map__list
              .map-select 
                .map-select__inner
                  .map-select__container 
                    .map-select__row(data-aos="fade-up") 
                      .map-select__col
                        .map-select__text
                          |Город
                      .map-select__col
                        .select
                          select.select__select(name="city")(style="width: 100%")
                            option(value="saratov", selected) 
                              |Саратов
                            option(value="moscov") 
                              |Москва
                            option(value="spb") 
                              |Санкт-Питербург
                            option(value="voronezh") 
                              |Воронеж
              ul.map-list(data-aos="fade-up") 
                - for (i = 0; i < 6; i++)
                  li.map-list__item
                    .map-list__wrapper
                      .map-balloon
                        .map-balloon__container 
                          .map-balloon__store  
                            |В магазине самообслуживание
                          .map-balloon__addres 
                            |г. Саратов, ул. 
                            br
                            |Красноармейская, д. 13 а
                          .map-balloon__time
                            .map-balloon__text  
                              |пнд—вс  |  9—18
            #map(data-aos="fade-up") 
  
block footer 
  +footer({
    mod: 'catalog-grey',
  })