extends ../layouts/master.pug



block header 
  +header({
    mod: 'dark',
  })

block content 
  .section--grey
    .section__frame.section__frame--white
      .container 
        .block
          .block__wrapper
            h3.block__title(data-aos="fade-up")  
              |Где купить
            .block__list
              ul.block-list(data-aos="fade-up") 
                li.block-list__item 
                  p.block-list__item-text 
                    |Главная
                li.block-list__item
                  .block-list__item-icon
                    +leaflet-svg 
                  p.block-list__item-text.block-list__item-text--active
                    |Где купить
  .section--grey 
    .container 
      .map 
        .map__inner 
          .map__container
            .map-tabs
              .map-tabs__wrapper
                .map-tabs__container 
                  .map-tabs__row(data-aos="fade-up")  
                    .map-tabs__item 
                      .map-tabs__button.map-tabs__button--active
                        |На карте
                    .map-tabs__item 
                      .map-tabs__button
                        |Списком
            .placemarks
              -
                var mapData = {
                  startLocation: 'Самара',
                  geoPoints: [
                    {
                      coordinates: [
                        55, 33
                      ],
                      location: 'Самара',
                      address: 'address',
                      schedule: [
                        'schedule',
                        'schedule',
                        'schedule',
                      ],
                      label: 'label',
                    },
                    {
                      coordinates: [
                        55.1, 33
                      ],
                      location: 'Самара',
                      address: 'address',
                      schedule: [
                        'schedule',
                      ],
                    },
                    {
                      coordinates: [
                        55, 33.1
                      ],
                      location: 'Воронеж',
                      address: 'address',
                      schedule: [
                        'schedule',
                        'schedule',
                      ],
                      label: 'label',
                    },
                    {
                      coordinates: [
                        55.2, 33.1
                      ],
                      location: 'Воронеж',
                      address: 'address',
                      schedule: [
                        'schedule',
                      ],
                    },
                    {
                      coordinates: [
                        55, 33.2
                      ],
                      location: 'Воронеж',
                      address: 'address',
                      schedule: [
                        'schedule',
                        'schedule',
                        'schedule',
                      ],
                      label: 'label',
                    },
                  ],
                }
              |#{JSON.stringify(mapData)}
            .map__list
              .map-select 
                .select-wrapper
                  .map-select__inner
                    .map-select__container 
                      .map-select__row(data-aos="fade-up") 
                        .map-select__col
                          .map-select__text
                            |Город
                        .map-select__col
                          .select
                            select.select__select(name="city")(style="width: 100%")
                              option(value="saratov", selected) 
                                |Саратов
                              option(value="moscov") 
                                |Москва
                              option(value="spb") 
                                |Санкт-Питербург
                              option(value="voronezh") 
                                |Воронеж
                              option(value="saratov") 
                                |Саратов
                              option(value="moscov") 
                                |Москва
                              option(value="spb") 
                                |Санкт-Питербург
                              option(value="voronezh") 
                                |Воронеж
                              option(value="saratov") 
                                |Саратов
                              option(value="moscov") 
                                |Москва
                              option(value="spb") 
                                |Санкт-Питербург
                              option(value="voronezh") 
                                |Воронеж
              ul.map-list(data-aos="fade-up") 
                each geoPoint in mapData.geoPoints
                  if (geoPoint.location === mapData.startLocation)
                    li.map-list__item
                      .map-list__wrapper
                        .map-balloon
                          .map-balloon__container 
                            if ('label' in geoPoint)
                              .map-balloon__store  
                                |#{geoPoint.label}
                            .map-balloon__addres 
                              |#{geoPoint.address}
                            .map-balloon__times
                              each scheduleItem in geoPoint.schedule
                                .map-balloon__time
                                  |#{scheduleItem}
            #map(data-aos="fade-up") 
  
block footer 
  +footer({
    mod: 'catalog-grey',
  })
