extends ../layouts/master.pug

block content 
  .section--grey
    .section__frame.section__frame--white
      .container 
        .block
          .block__wrapper
            h3.block__title 
              |Где купить
            .block__list
              ul.block-list
                li.block-list__item 
                  p.block-list__item-text 
                    |Главная
                li.block-list__item
                  .block-list__item-icon
                    +leaflet-svg 
                  p.block-list__item-text.block-list__item-text--active
                    |Где купить
  .section--grey 
    .container 
      .map 
        .map__inner 
          .map__container
            .map-tabs 
              .map-tabs__container 
                .map-tabs__row
                  .map-tabs__item 
                    .map-tabs__button
                      |На карте
                  .map-tabs__item 
                    .map-tabs__button
                      |Списком
            #map
            