extends ../layouts/master.pug



block header 
  +header({
    mod: 'dark',
  })

block content 
  .section--grey
    .section__frame.section__frame--white
      .container 
        .block
          .block__wrapper
            h3.block__title(data-aos="fade-up")  
              |Где купить
            .block__list
              ul.block-list(data-aos="fade-up") 
                li.block-list__item 
                  p.block-list__item-text 
                    |Главная
                li.block-list__item
                  .block-list__item-icon
                    +leaflet-svg 
                  p.block-list__item-text.block-list__item-text--active
                    |Где купить
  .section--grey 
    .container 
      .map 
        .map__inner 
          .map__container
            .map-tabs
              .map-tabs__wrapper
                .map-tabs__container 
                  .map-tabs__row(data-aos="fade-up")  
                    .map-tabs__item 
                      .map-tabs__button.map-tabs__button--active
                        |На карте
                    .map-tabs__item 
                      .map-tabs__button
                        |Списком
            .map__list
              .map-select 
                .select-wrapper
                  .map-select__inner
                    .map-select__container 
                      .map-select__row(data-aos="fade-up") 
                        .map-select__col
                          .map-select__text
                            |Город
                        .map-select__col
                          .select
                            select.select__select(name="city" data-map-select='')(style="width: 100%")
              ul.map-list(data-map-list='' data-aos="fade-up")
            #map(data-aos="fade-up") 
  
block footer 
  +footer({
    mod: 'catalog-grey',
  })
