extends ../layouts/master.pug

block header

block content
  .test.header
    -
      var data = [
        'catalog-toggle',
        'location-toggle',
        'search-toggle',
        'menu-toggle',
        'location-close',
        'search-close',
      ]
    each button in data
      button(data-modal-button=button) 123
