extends ../layouts/master.pug



block variables



block header
block footer



block content
  .container
    .stocks
      .stocks__list
        - for (let i = 0; i < 17; i++)
          .stocks__item
            a.stock(href='#')
              .stock__layout
                img.stock__background(src='assets/images/stock-1.jpeg')
                .stock__mark
                  +stock-mark-svg.stock__mark-svg
                  .stock__mark-content
                    .stock__mark-amount
                      |23
                    .stock__mark-text
                      |позиции
                      br
                      |по акции
              h3.stock__title
                .stock__title-link
                  |Мясная гастрономия
          .stocks__item
            .stock
              .stock__layout
                img.stock__background(src='assets/images/stock-1.jpeg')
                .stock__mark
                  +stock-mark-svg.stock__mark-svg
                  .stock__mark-content
                    .stock__mark-amount
                      |23
                    .stock__mark-text
                      |позиции
                      br
                      |по акции
              h3.stock__title
                a.stock__title-link(href='#')
                  |Мясная гастрономия
              ul.stock__list
                li.stock__item
                  a.stock__item-link(href='#')
                    |Вареные колбасы
                li.stock__item
                  a.stock__item-link(href='#')
                    |Ветчина
                li.stock__item
                  a.stock__item-link(href='#')
                    |Деликатесы
          .stocks__item
            .stock
              .stock__layout
                img.stock__background(src='assets/images/stock-1.jpeg')
                .stock__mark
                  +stock-mark-svg.stock__mark-svg
                  .stock__mark-content
                    .stock__mark-amount
                      |23
                    .stock__mark-text
                      |позиции
                      br
                      |по акции
              h3.stock__title
                a.stock__title-link(href='#')
                  |Мясная гастрономия
              ul.stock__list.stock__list--row
                .stock__col
                  li.stock__item
                    a.stock__item-link(href='#')
                      |Вареные колбасы
                  li.stock__item
                    a.stock__item-link(href='#')
                      |Ветчина
                  li.stock__item
                    a.stock__item-link(href='#')
                      |Деликатесы
                  li.stock__item
                    a.stock__item-link(href='#')
                      |Копченые колбасы
                .stock__col
                  li.stock__item
                    a.stock__item-link(href='#')
                      |Паштеты
                  li.stock__item
                    a.stock__item-link(href='#')
                      |Сардельки
                  li.stock__item
                    a.stock__item-link(href='#')
                      |Сосиски

