extends ../layouts/master.pug



block variables



block header


block content

  //- a.product-announcement.product-announcement--responsive(href='#')
  //-   .product-announcement__frame
  //-     img.product-announcement__img(src='assets/images/meat.jpg')
  //-   .product-announcement__bottom
  //-     .product-announcement__title
  //-       .product-announcement__title-line
  //-         |Ветчина из Говядины ТМ
  //-       .product-announcement__title-line
  //-         |Русские колбасы, 1 кг
  //-       .product-announcement__title-line.product-announcement__title-line--crop
  //-     .product-announcement__price
  //-       .product-announcement__price-text.product-announcement__price-text--old
  //-         |760 ₽
  //-       .product-announcement__price-text
  //-         |610 ₽
  //-   .product-announcement__label
  //-     .product-announcement__label-background
  //-       +top-icon-svg
  //-     .product-announcement__label-text
  //-       |-20%
  //-       .product-announcement__label-subtext
  //-         |3 по 1

  //-   .select.select--default
  //-     select
  //-       option(value="saratov")
  //-         |Саратов
  //-       option(value="moscov") 
  //-         |Москва
  //-       option(value="spb") 
  //-         |Санкт-Питербург
  //-       option(value="voronezh") 
  //-         |Воронеж
  //-       option(value="saratov") 
  //-         |Саратов
  //-       option(value="moscov") 
  //-         |Москва
  //-       option(value="spb") 
  //-         |Санкт-Питербург
  //-       option(value="voronezh") 
  //-         |Воронеж
  //-       option(value="saratov") 
  //-         |Саратов
  //-       option(value="moscov") 
  //-         |Москва
  //-       option(value="spb") 
  //-         |Санкт-Питербург
  //-       option(value="voronezh") 
  //-         |Воронеж
  



block footer



//- 
  шапка

  (default)
  фон
    прозрачный
  эл-ты
    на светлом

  (конкретные страницы)
  --dark
    эл-ты
      на темном

  (y > 0)
  --scroll

    --down
      translateY(-100%)

    --up
      фон
        белый
      эл-ты
        на белом

