extends ../layouts/master.pug



block variables



block header


block content
  .test
    .test__frame
      img.test__img(src='assets/images/meat.jpg')
    .test__bottom
      .test__title
        |title
      .test__price
        |price
    .test__label
      .test__label-background
        +top-icon-svg
      .test__label-text
        |text

  //- .test
  //-   .select.select--default
  //-     select
  //-       option(value="saratov")
  //-         |Саратов
  //-       option(value="moscov") 
  //-         |Москва
  //-       option(value="spb") 
  //-         |Санкт-Питербург
  //-       option(value="voronezh") 
  //-         |Воронеж
  //-       option(value="saratov") 
  //-         |Саратов
  //-       option(value="moscov") 
  //-         |Москва
  //-       option(value="spb") 
  //-         |Санкт-Питербург
  //-       option(value="voronezh") 
  //-         |Воронеж
  //-       option(value="saratov") 
  //-         |Саратов
  //-       option(value="moscov") 
  //-         |Москва
  //-       option(value="spb") 
  //-         |Санкт-Питербург
  //-       option(value="voronezh") 
  //-         |Воронеж
  



block footer



//- 
  шапка

  (default)
  фон
    прозрачный
  эл-ты
    на светлом

  (конкретные страницы)
  --dark
    эл-ты
      на темном

  (y > 0)
  --scroll

    --down
      translateY(-100%)

    --up
      фон
        белый
      эл-ты
        на белом

