extends ../layouts/master.pug



block header



block content
  .test
    |test



block footer

//- 
  шапка

  (default)
  фон
    прозрачный
  эл-ты
    на светлом

  (конкретные страницы)
  --dark
    эл-ты
      на темном

  (y > 0)
  --scroll

    --down
      translateY(-100%)

    --up
      фон
        белый
      эл-ты
        на белом

