// шрифты
$ff-main: 'CeraPro', sans-serif;
$ff-alt: 'TTRamillas', serif;

// colors
$color-green: #009035;
$color-light-green: #62b944;
$color-white: #fff;
$color-yellow: #ffe401;
$color-banner-yellow: #FFF283;
$color-grey: #f5f5f5;
$color-light-grey: #A7B7A2;
$color-catalog-grey: #E5E5E5;
$color-border-white: rgba($color-white, 0.2);
$color-grey-white: #f6f6f6;
$color-black: #2e322c;

// grid
$grid-pad-d: 60px;
$grid-pad-m: 15px;

$grid-gap-m: 15px;
$grid-gap-d: 20px;

$grid-length-m: 4;
$grid-length-d: 18;

$grid-col-m: "((100vw - #{$grid-gap-m} * #{$grid-length-m - 1} - #{$grid-pad-m * 2}) / #{$grid-length-m})";
$grid-col-d: "((100vw - #{$grid-gap-d} * #{$grid-length-d - 1} - #{$grid-pad-d * 2}) / #{$grid-length-d})";

$grid-part-d: "(#{$grid-col-d} + #{$grid-gap-d})";
$grid-pard-m: "(#{$grid-col-m} + #{$grid-gap-m})";

// миксин для параметров шрифта
// начало
$fs: 32px;

html {
  font-size: $fs;
}

@mixin fsl($font-size, $line-height) {
  font-size: unquote("#{($font-size * 1px / $fs)}rem");
  line-height: unquote("#{$line-height}%");
}

// breakpoints
$breakpoint-m: 768px;
$breakpoint-t: 1024px;
$breakpoint: 1280px;
$breakpoint-l: 1366px;
$breakpoint-ll: 1440px;
$breakpoint-xl: 1680px;
$breakpoint-xxl: 1920px;
