// подключение шрифтов
// TT Ramillas
@font-face {
  font-family: 'TTRamillas';
  src: url('../fonts/TTRamillas-Bold.otf') format("otf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'TTRamillas';
  src: url('../fonts/TTRamillas-Black.otf') format("otf");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
// CeraPro
@font-face {
  font-family: 'CeraPro';
  src: url('../fonts/CeraPro-Regular.woff') format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'CeraPro';
  src: url('../fonts/CeraPro-RegularItalic.woff') format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'CeraPro';
  src: url('../fonts/CeraPro-Bold.woff') format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'CeraPro';
  src: url('../fonts/CeraPro-BoldItalic.woff') format("woff");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

// остальные стили
// сгенерированный svg спрайт
@import "_sprites";
// глобальные переменные, миксины
@import "helpers/*";
// внешние стили (например, библиотек)
@import "vendors/*";
// базовые, общие стили
@import "base/*";
// модули/компоненты/блоки(бэм)
@import "modules/*";
