mixin footer(opt={})
  footer.footer(class=(opt.mod ? `footer--${opt.mod}` : ''))
    .footer__frame
      .footer__layout
      .container
        .footer__content 
          .footer__top 
            nav.footer__nav(data-aos="fade-up") 
              ul.footer__list 
                li.footer__item
                  a.footer__link(href="#")
                    |Акционный каталог
                li.footer__item
                  a.footer__link(href="#")
                    |Где купить
                li.footer__item
                  a.footer__link(href="#")
                    |Поставщикам
                li.footer__item
                  a.footer__link(href="#")
                    |Арендодателям
                li.footer__item
                  a.footer__link(href="#")
                    |О компании
                li.footer__item
                  a.footer__link(href="#")
                    |Новости
                li.footer__item
                  a.footer__link(href="#")
                    |Рецепты
                li.footer__item
                  a.footer__link(href="#")
                    |Вакансии
                li.footer__item
                  a.footer__link(href="#")
                    |Контакты
            .footer__social
              .social(data-aos="fade-up")
                ul.social__list
                  li.social__item
                    a.social__row(href='#')
                      .social__col
                        .social__img
                          +instagram-svg('footer__icon')
                      .social__col
                        .social__link
                          |Instagram
                  li.social__item
                    a.social__row(href='#')
                      .social__col
                        .social__img(href="#") 
                          +vk-svg('footer__icon')
                      .social__col
                        .social__link(href="#")
                          |Вконтакте
                  li.social__item
                    a.social__row(href='#')
                      .social__col
                        .social__img(href="#") 
                          +facebook-svg('footer__icon')
                      .social__col
                        .social__link(href="#")
                          |Facebook
                  li.social__item
                    a.social__row(href='#')
                      .social__col
                        .social__img(href="#") 
                          +classmates-svg('footer__icon')
                      .social__col
                        .social__link(href="#")
                          |Одноклассники
          .footer__bottom(data-aos="fade-up")
            .footer__docs
              .footer__corp
                |Сделано в 
                a.footer__author(href="#")  
                  |CloudMill
              .footer__corp
                |© Дубки. Продукты от производителя. 2021
            .footer__contact
              .footer__text 
                |По вопросам качества продукции
              .footer__media
                .footer__media-item
                  a.footer__phone(href="#") 
                    |8 800 333-82-54
                .footer__media-item
                  a.footer__mail(href="#") 
                    |info@dubki-producty.ru

