mixin header()
  header.header
    .container
      .header__row
        .header__catalog
          .header__catalog-button(data-modal-button='catalog-toggle')
            .header__catalog-text
              |Акционный каталог
            .header__catalog-icon
              +arrow-svg
        .header__store
          a.header__store-button(href='#')
            .header__store-text 
              |Интернет-магазин
            .header__store-icon
              +cursor-svg
        .header__logo
          a.header__logo-link(href="#")
            +logo-svg
        .header__city
          .header__city-button(data-modal-button='location-toggle')
            .header__city-text 
              |Саратов
            .header__city-icon
              +arrow-svg('header__arrow')
        .header__nav
          a.header__nav-link(href="#") 
            |Где купить
        .header__search
          .header__search-button(data-modal-button='search-toggle')
            +search-svg('header__search-icon')
        .header__button
          .header__button-button(data-modal-button='menu-toggle')
            .header__button-image
        //- .nav-modal
          .nav-modal__content
            .nav-modal__top
              ul.nav-modal__list
                li.nav-modal__item
                  a.nav-modal__link(href="index.html")
                    |Главная
                li.nav-modal__item
                  a.nav-modal__link(href="action-catalog.html")
                    |Акционный каталог
                li.nav-modal__item
                  a.nav-modal__link(href="catalog.html")
                    |Каталог
                li.nav-modal__item
                  a.nav-modal__link(href="recipes.html")
                    |Рецепты
                li.nav-modal__item
                  a.nav-modal__link(href="recipe-1.html")
                    |Рецепт
                li.nav-modal__item
                  a.nav-modal__link(href="news.html")
                    |Новости
                li.nav-modal__item
                  a.nav-modal__link(href="news-1.html")
                    |Новость
                li.nav-modal__item
                  a.nav-modal__link(href="product.html")
                    |Карточка товара
                li.nav-modal__item
                  a.nav-modal__link(href="about.html")
                    |О компании
                li.nav-modal__item
                  a.nav-modal__link(href="jobs.html")
                    |Вакансии
                li.nav-modal__item
                  a.nav-modal__link(href="provider.html")
                    |Арендодателям
                li.nav-modal__item
                  a.nav-modal__link(href="rent.html")
                    |Арендодателям 2
            .nav-modal__bottom
              .footer__text 
                |По вопросам качества продукции
              .footer__media
                .footer__media-item
                  a.footer__phone(href="#") 
                    |8 800 333-82-54
                .footer__media-item
                  a.footer__mail(href="#") 
                    |info@dubki-producty.ru
        .menu-modal
        .catalog-modal
        .search-modal
          button(data-modal-button='search-close')
        .location-modal
          button(data-modal-button='location-close')
