mixin header()
  header.header
    .container
      .header__row
        .header__catalog(data-aos="fade-up")
          .header__catalog-button
            .header__catalog-text
              |Акционный каталог
            .header__catalog-icon
              +arrow-svg('header__catalog-arrow')
           
        .header__store(data-aos="fade-up")
          a.header__store-button.header__store-button--dark(href='#')
            .header__store-text 
              |Интернет-магазин
            .header__store-icon
              +cursor-svg('header__store-svg')
        .header__logo(data-aos="fade-up")
          a.header__logo-link(href="#")
            +logo-svg
        .header__city
          .header__city-button(data-aos="fade-up")
            .header__city-text
              |Саратов
            .header__city-icon
              +arrow-svg('header__arrow')
        .header__nav
          a.header__nav-link(href="#")(data-aos="fade-up") 
            |Где купить
        .header__search(data-aos="fade-up")
          .header__search-button 
            +search-svg('header__search-icon')
        .header__button(data-aos="fade-up")
          .button-modal.header__button-button
            .button-modal__image
        .nav-modal
          .nav-modal__wrapper 
            .header__city--mobile
              .header__city-button(data-aos="fade-up")
                .header__city-text
                  |Саратов
                .header__city-icon
                  +arrow-svg('header__arrow')
          .nav-modal__row 
            .nav-modal__item
              .header-catalog
                .header__catalog--mobile
                  .header__catalog-button
                    .header__catalog-text
                      |Акционный каталог
                    .header__catalog-icon
                      +arrow-svg('header__catalog-arrow')
                  .header-catalog__dropdown   
                    .header-catalog__section
                      .header-catalog__section-button
                        .header-catalog__section-text
                          |Бакалея
                        +arrow-svg('header-catalog__section-icon')
                      .header-catalog__section-dropdown
                        ul.header-catalog__links 
                          - for (i = 0; i < 5; i++)
                            li.header-catalog__item 
                              a.header-catalog__link(href="#")
                                |Вафли
                    .header-catalog__section
                      .header-catalog__section-button
                        .header-catalog__section-text
                          |Замороженные полуфабрикаты
                        +arrow-svg('header-catalog__section-icon')
                      .header-catalog__section-dropdown
                        ul.header-catalog__links 
                          - for (i = 0; i < 5; i++)
                            li.header-catalog__item 
                              a.header-catalog__link(href="#")
                                |Вафли
                    .header-catalog__section
                      .header-catalog__section-button
                        .header-catalog__section-text
                          |Кондитерские изделия
                        +arrow-svg('header-catalog__section-icon')
                      .header-catalog__section-dropdown
                        ul.header-catalog__links 
                          li.header-catalog__item 
                            a.header-catalog__link(href="#")
                              |Вафли
                          li.header-catalog__item 
                            a.header-catalog__link(href="#")
                              |Зефир, мармелад, пастила
                          li.header-catalog__item 
                            a.header-catalog__link(href="#")
                              |Конфеты вес
                          li.header-catalog__item 
                            a.header-catalog__link(href="#")
                              |Конфеты наборы
                          li.header-catalog__item 
                            a.header-catalog__link(href="#")
                              |Крекер
                          li.header-catalog__item 
                            a.header-catalog__link(href="#")
                              |Печенье
                          li.header-catalog__item 
                            a.header-catalog__link(href="#")
                              |Пряник
                          li.header-catalog__item 
                            a.header-catalog__link(href="#")
                              |Торты, пирожное
                          li.header-catalog__item 
                            a.header-catalog__link(href="#")
                              |Шоколад
                    .header-catalog__section
                      .header-catalog__section-button
                        .header-catalog__section-text
                          |Кондитерские изделия
                        +arrow-svg('header-catalog__section-icon')
                      .header-catalog__section-dropdown
                        ul.header-catalog__links 
                          li.header-catalog__item 
                            a.header-catalog__link(href="#")
                              |Вафли
                          li.header-catalog__item 
                            a.header-catalog__link(href="#")
                              |Зефир, мармелад, пастила
                          li.header-catalog__item 
                            a.header-catalog__link(href="#")
                              |Конфеты вес
                          li.header-catalog__item 
                            a.header-catalog__link(href="#")
                              |Конфеты наборы
                          li.header-catalog__item 
                            a.header-catalog__link(href="#")
                              |Крекер
                          li.header-catalog__item 
                            a.header-catalog__link(href="#")
                              |Печенье
                          li.header-catalog__item 
                            a.header-catalog__link(href="#")
                              |Пряник
                          li.header-catalog__item 
                            a.header-catalog__link(href="#")
                              |Торты, пирожное
                          li.header-catalog__item 
                            a.header-catalog__link(href="#")
                              |Шоколад
                    .header-catalog__section
                      .header-catalog__section-button
                        .header-catalog__section-text
                          |Кондитерские изделия
                        +arrow-svg('header-catalog__section-icon')
                      .header-catalog__section-dropdown
                        ul.header-catalog__links 
                          li.header-catalog__item 
                            a.header-catalog__link(href="#")
                              |Вафли
                          li.header-catalog__item 
                            a.header-catalog__link(href="#")
                              |Зефир, мармелад, пастила
                          li.header-catalog__item 
                            a.header-catalog__link(href="#")
                              |Конфеты вес
                          li.header-catalog__item 
                            a.header-catalog__link(href="#")
                              |Конфеты наборы
                          li.header-catalog__item 
                            a.header-catalog__link(href="#")
                              |Крекер
                          li.header-catalog__item 
                            a.header-catalog__link(href="#")
                              |Печенье
                          li.header-catalog__item 
                            a.header-catalog__link(href="#")
                              |Пряник
                          li.header-catalog__item 
                            a.header-catalog__link(href="#")
                              |Торты, пирожное
                          li.header-catalog__item 
                            a.header-catalog__link(href="#")
                              |Шоколад
                    .header-catalog__section
                      .header-catalog__section-button
                        .header-catalog__section-text
                          |Кондитерские изделия
                        +arrow-svg('header-catalog__section-icon')
                      .header-catalog__section-dropdown
                        ul.header-catalog__links 
                          li.header-catalog__item 
                            a.header-catalog__link(href="#")
                              |Вафли
                          li.header-catalog__item 
                            a.header-catalog__link(href="#")
                              |Зефир, мармелад, пастила
                          li.header-catalog__item 
                            a.header-catalog__link(href="#")
                              |Конфеты вес
                          li.header-catalog__item 
                            a.header-catalog__link(href="#")
                              |Конфеты наборы
                          li.header-catalog__item 
                            a.header-catalog__link(href="#")
                              |Крекер
                          li.header-catalog__item 
                            a.header-catalog__link(href="#")
                              |Печенье
                          li.header-catalog__item 
                            a.header-catalog__link(href="#")
                              |Пряник
                          li.header-catalog__item 
                            a.header-catalog__link(href="#")
                              |Торты, пирожное
                          li.header-catalog__item 
                            a.header-catalog__link(href="#")
                              |Шоколад
                    .header-catalog__section
                      .header-catalog__section-button
                        .header-catalog__section-text
                          |Кондитерские изделия
                        +arrow-svg('header-catalog__section-icon')
                      .header-catalog__section-dropdown
                        ul.header-catalog__links 
                          li.header-catalog__item 
                            a.header-catalog__link(href="#")
                              |Вафли
                          li.header-catalog__item 
                            a.header-catalog__link(href="#")
                              |Зефир, мармелад, пастила
                          li.header-catalog__item 
                            a.header-catalog__link(href="#")
                              |Конфеты вес
                          li.header-catalog__item 
                            a.header-catalog__link(href="#")
                              |Конфеты наборы
                          li.header-catalog__item 
                            a.header-catalog__link(href="#")
                              |Крекер
                          li.header-catalog__item 
                            a.header-catalog__link(href="#")
                              |Печенье
                          li.header-catalog__item 
                            a.header-catalog__link(href="#")
                              |Пряник
                          li.header-catalog__item 
                            a.header-catalog__link(href="#")
                              |Торты, пирожное
                          li.header-catalog__item 
                            a.header-catalog__link(href="#")
                              |Шоколад
                    .header-catalog__section
                      .header-catalog__section-button
                        .header-catalog__section-text
                          |Кондитерские изделия
                        +arrow-svg('header-catalog__section-icon')
                      .header-catalog__section-dropdown
                        ul.header-catalog__links 
                          li.header-catalog__item 
                            a.header-catalog__link(href="#")
                              |Вафли
                          li.header-catalog__item 
                            a.header-catalog__link(href="#")
                              |Зефир, мармелад, пастила
                          li.header-catalog__item 
                            a.header-catalog__link(href="#")
                              |Конфеты вес
                          li.header-catalog__item 
                            a.header-catalog__link(href="#")
                              |Конфеты наборы
                          li.header-catalog__item 
                            a.header-catalog__link(href="#")
                              |Крекер
                          li.header-catalog__item 
                            a.header-catalog__link(href="#")
                              |Печенье
                          li.header-catalog__item 
                            a.header-catalog__link(href="#")
                              |Пряник
                          li.header-catalog__item 
                            a.header-catalog__link(href="#")
                              |Торты, пирожное
                          li.header-catalog__item 
                            a.header-catalog__link(href="#")
                              |Шоколад
                    .header-catalog__section
                      .header-catalog__section-button
                        .header-catalog__section-text
                          |Кондитерские изделия
                        +arrow-svg('header-catalog__section-icon')
                      .header-catalog__section-dropdown
                        ul.header-catalog__links 
                          li.header-catalog__item 
                            a.header-catalog__link(href="#")
                              |Вафли
                          li.header-catalog__item 
                            a.header-catalog__link(href="#")
                              |Зефир, мармелад, пастила
                          li.header-catalog__item 
                            a.header-catalog__link(href="#")
                              |Конфеты вес
                          li.header-catalog__item 
                            a.header-catalog__link(href="#")
                              |Конфеты наборы
                          li.header-catalog__item 
                            a.header-catalog__link(href="#")
                              |Крекер
                          li.header-catalog__item 
                            a.header-catalog__link(href="#")
                              |Печенье
                          li.header-catalog__item 
                            a.header-catalog__link(href="#")
                              |Пряник
                          li.header-catalog__item 
                            a.header-catalog__link(href="#")
                              |Торты, пирожное
                          li.header-catalog__item 
                            a.header-catalog__link(href="#")
                              |Шоколад
                    .header-catalog__section
                      .header-catalog__section-button
                        .header-catalog__section-text
                          |Кондитерские изделия
                        +arrow-svg('header-catalog__section-icon')
                      .header-catalog__section-dropdown
                        ul.header-catalog__links 
                          li.header-catalog__item 
                            a.header-catalog__link(href="#")
                              |Вафли
                          li.header-catalog__item 
                            a.header-catalog__link(href="#")
                              |Зефир, мармелад, пастила
                          li.header-catalog__item 
                            a.header-catalog__link(href="#")
                              |Конфеты вес
                          li.header-catalog__item 
                            a.header-catalog__link(href="#")
                              |Конфеты наборы
                          li.header-catalog__item 
                            a.header-catalog__link(href="#")
                              |Крекер
                          li.header-catalog__item 
                            a.header-catalog__link(href="#")
                              |Печенье
                          li.header-catalog__item 
                            a.header-catalog__link(href="#")
                              |Пряник
                          li.header-catalog__item 
                            a.header-catalog__link(href="#")
                              |Торты, пирожное
                          li.header-catalog__item 
                            a.header-catalog__link(href="#")
                              |Шоколад
                    .header-catalog__section
                      .header-catalog__section-button
                        .header-catalog__section-text
                          |Кондитерские изделия
                        +arrow-svg('header-catalog__section-icon')
                      .header-catalog__section-dropdown
                        ul.header-catalog__links 
                          li.header-catalog__item 
                            a.header-catalog__link(href="#")
                              |Вафли
                          li.header-catalog__item 
                            a.header-catalog__link(href="#")
                              |Зефир, мармелад, пастила
                          li.header-catalog__item 
                            a.header-catalog__link(href="#")
                              |Конфеты вес
                          li.header-catalog__item 
                            a.header-catalog__link(href="#")
                              |Конфеты наборы
                          li.header-catalog__item 
                            a.header-catalog__link(href="#")
                              |Крекер
                          li.header-catalog__item 
                            a.header-catalog__link(href="#")
                              |Печенье
                          li.header-catalog__item 
                            a.header-catalog__link(href="#")
                              |Пряник
                          li.header-catalog__item 
                            a.header-catalog__link(href="#")
                              |Торты, пирожное
                          li.header-catalog__item 
                            a.header-catalog__link(href="#")
                              |Шоколад
                    .header-catalog__section
                      .header-catalog__section-button
                        .header-catalog__section-text
                          |Кондитерские изделия
                        +arrow-svg('header-catalog__section-icon')
                      .header-catalog__section-dropdown
                        ul.header-catalog__links 
                          li.header-catalog__item 
                            a.header-catalog__link(href="#")
                              |Вафли
                          li.header-catalog__item 
                            a.header-catalog__link(href="#")
                              |Зефир, мармелад, пастила
                          li.header-catalog__item 
                            a.header-catalog__link(href="#")
                              |Конфеты вес
                          li.header-catalog__item 
                            a.header-catalog__link(href="#")
                              |Конфеты наборы
                          li.header-catalog__item 
                            a.header-catalog__link(href="#")
                              |Крекер
                          li.header-catalog__item 
                            a.header-catalog__link(href="#")
                              |Печенье
                          li.header-catalog__item 
                            a.header-catalog__link(href="#")
                              |Пряник
                          li.header-catalog__item 
                            a.header-catalog__link(href="#")
                              |Торты, пирожное
                          li.header-catalog__item 
                            a.header-catalog__link(href="#")
                              |Шоколад
                    .header-catalog__section
                      .header-catalog__section-button
                        .header-catalog__section-text
                          |Кондитерские изделия
                        +arrow-svg('header-catalog__section-icon')
                      .header-catalog__section-dropdown
                        ul.header-catalog__links 
                          li.header-catalog__item 
                            a.header-catalog__link(href="#")
                              |Вафли
                          li.header-catalog__item 
                            a.header-catalog__link(href="#")
                              |Зефир, мармелад, пастила
                          li.header-catalog__item 
                            a.header-catalog__link(href="#")
                              |Конфеты вес
                          li.header-catalog__item 
                            a.header-catalog__link(href="#")
                              |Конфеты наборы
                          li.header-catalog__item 
                            a.header-catalog__link(href="#")
                              |Крекер
                          li.header-catalog__item 
                            a.header-catalog__link(href="#")
                              |Печенье
                          li.header-catalog__item 
                            a.header-catalog__link(href="#")
                              |Пряник
                          li.header-catalog__item 
                            a.header-catalog__link(href="#")
                              |Торты, пирожное
                          li.header-catalog__item 
                            a.header-catalog__link(href="#")
                              |Шоколад
            .nav-modal__item
              .header__store--mobile
                a.header__store-button(href='#')(data-aos="fade-up")
                  .header__store-text 
                    |Интернет-магазин
                  .header__store-icon
                    +cursor-svg
            .nav-modal__item
              .header__nav--mobile
                a.header__nav-link(href="#")(data-aos="fade-up") 
                  |Где купить
          .nav-modal__content
            .nav-modal__top
              ul.nav-modal__list
                -
                  var data = [
                    {
                      title: 'Главная',
                      href: 'index.html',
                    },
                    {
                      title: 'Акционный каталог',
                      href: 'action-catalog.html',
                    },
                    {
                      title: 'Каталог',
                      href: 'catalog.html',
                    },
                    {
                      title: 'Карточка товара',
                      href: 'product.html',
                    },
                    {
                      title: 'О компании',
                      href: 'about.html',
                    },
                    {
                      title: 'Где купить (карта)',
                      href: 'stores.html',
                    },
                    {
                      title: 'Где купить (список)',
                      href: 'stores-list.html',
                    },
                    {
                      title: 'Новости',
                      href: 'news.html',
                    },
                    {
                      title: 'Новость',
                      href: 'news-1.html',
                    },
                    {
                      title: 'Рецепты',
                      href: 'recipes.html',
                    },
                    {
                      title: 'Рецепт',
                      href: 'recipe-1.html',
                    },
                    {
                      title: 'Арендодателям',
                      href: 'rent.html',
                    },
                    {
                      title: 'Поставщикам',
                      href: 'provider.html',
                    },
                    {
                      title: 'Вакансии',
                      href: 'jobs.html',
                    },
                    {
                      title: 'Контакты',
                      href: 'contacts.html',
                    },
                    {
                      title: 'Результат по­иска',
                      href: 'search.html',
                    },
                    {
                      title: '404',
                      href: 'page404.html',
                    },
                  ]
                each page in data
                  li.nav-modal__item
                    a.nav-modal__link(href=page.href)
                      |#{page.title}
            .nav-modal__bottom
              .footer__text 
                |По вопросам качества продукции
              .footer__media
                .footer__media-item
                  a.footer__phone(href="#") 
                    |8 800 333-82-54
                .footer__media-item
                  a.footer__mail(href="#") 
                    |info@dubki-producty.ru
        .modal-search.modal-search--city
          .container
            .modal-search__container 
              .modal-search__row 
                .modal-search__col
                  h4.modal-search__title 
                    |Выбрать 
                    br.modal-search__line
                    |город
                  .modal-search__form
                    form.search-form(action="/")  
                      input.search-form__input.search-form__input--modal(type="text" name="search" placeholder="Саратов")
                .modal-search__col
                  .modal-search__button
                    .button-modal.button-modal--active(data-fancybox-close='1')
                      .button-modal__image
        .modal-search.modal-search--catalog
          .container
            .modal-search__container 
              .modal-search__row 
                .modal-search__col
                  h4.modal-search__title 
                    |Поиск 
                    br.modal-search__line
                    |по каталогу
                  form.search-form(action="/") 
                    .search-form__row.search-form__row--modal
                      .search-form__col--modal
                        input.search-form__input.search-form__input--modal(type="text" name="search" placeholder="Что вы хотите найти?")
                      .search-form__col--modal 
                        .button
                          |Поиск
                .modal-search__col
                  .modal-search__button-catalog
                    .button-modal.button-modal--active(data-fancybox-close='1')
                      .button-modal__image
        .catalog-modal
          .catalog-modal__frame
            .catalog-modal__row
              .catalog-modal__col
                .catalog-modal__frame.catalog-modal__frame--sub
                  .catalog-modal__container
                    ul.catalog-modal__list
                      -
                        var categories = [
                          'Бакалея',
                          'Замороженные полуфабрикаты',
                          'Консервы',
                          'Мясо замороженное',
                          'Овощи',
                          'Рыба',
                          'Соусы',
                          'Чай, кофе',
                          'Мясная гастрономия',
                          'Вода, напитки',
                          'Кондитерские изделия',
                          'Молочные продукты',
                          'Мясо охлажденное',
                          'Приправы',
                          'Снеки',
                          'Хлебобулочные изделия',
                          'Бакалея',
                          'Замороженные полуфабрикаты',
                          'Консервы',
                          'Мясо замороженное',
                          'Овощи',
                          'Рыба',
                          'Соусы',
                          'Чай, кофе',
                          'Мясная гастрономия',
                          'Вода, напитки',
                          'Кондитерские изделия',
                          'Молочные продукты',
                          'Мясо охлажденное',
                          'Приправы',
                          'Снеки',
                          'Хлебобулочные изделия',
                        ]
                      - var activeCategory = 10
                      each category, index in categories
                        li.catalog-modal__list-item(data-tabs-id=1 data-tabs-button=(index + 1) data-tabs-active=(index === activeCategory ? '' : undefined))
                          .catalog-modal__list-link
                            |#{category}
              .catalog-modal__col
                .catalog-modal__container
                  -
                    var subCategories = [
                      'Вафли',
                      'Зефир, мармелад, пастила',
                      'Конфеты вес',
                      'Конфеты наборы',
                      'Крекер',
                      'Печенье',
                      'Пряник',
                      'Торты, пирожное',
                      'Шоколад',
                    ]
                  each category, index in categories
                    ul.catalog-modal__list.catalog-modal__list--sub(data-tabs-id=1 data-tabs-tab=(index + 1) data-tabs-active=(index === activeCategory ? '' : undefined))
                      - for (let i=0; i<(Math.ceil(Math.random() * categories.length)); i++)
                        li.catalog-modal__list-item
                          a.catalog-modal__list-link(href="#")
                            |#{subCategories[i]}


                  
