mixin header()
  header.header
    .container
      .header__row
        .header__catalog
          .header__catalog-button(data-modal-button='catalog-toggle')
            .header__catalog-text
              |Акционный каталог
            .header__catalog-icon
              +arrow-svg
        .header__store
          a.header__store-button(href='#')
            .header__store-text 
              |Интернет-магазин
            .header__store-icon
              +cursor-svg
        .header__logo
          a.header__logo-link(href="#")
            +logo-svg
        .header__city
          .header__city-button(data-modal-button='location-toggle')
            .header__city-text 
              |Саратов
            .header__city-icon
              +arrow-svg('header__arrow')
        .header__nav
          a.header__nav-link(href="#") 
            |Где купить
        .header__search
          .header__search-button(data-modal-button='search-toggle')
            +search-svg('header__search-icon')
        .header__button
          .header__button-button(data-modal-button='menu-toggle')
            .header__button-image
        .nav-modal
          .nav-modal__content
            .nav-modal__top
              ul.nav-modal__list
                -
                  var data = [
                    {
                      title: 'Главная',
                      href: 'index.html',
                    },
                    {
                      title: 'Акционный каталог',
                      href: 'action-catalog.html',
                    },
                    {
                      title: 'Каталог',
                      href: 'catalog.html',
                    },
                    {
                      title: 'Карточка товара',
                      href: 'product.html',
                    },
                    {
                      title: 'О компании',
                      href: 'about.html',
                    },
                    {
                      title: 'Где купить (карта)',
                      href: 'stores.html',
                    },
                    {
                      title: 'Где купить (список)',
                      href: 'stores-list.html',
                    },
                    {
                      title: 'Новости',
                      href: 'news.html',
                    },
                    {
                      title: 'Новость',
                      href: 'news-1.html',
                    },
                    {
                      title: 'Рецепты',
                      href: 'recipes.html',
                    },
                    {
                      title: 'Рецепт',
                      href: 'recipe-1.html',
                    },
                    {
                      title: 'Арендодателям',
                      href: 'rent.html',
                    },
                    {
                      title: 'Поставщикам',
                      href: 'provider.html',
                    },
                    {
                      title: 'Вакансии',
                      href: 'jobs.html',
                    },
                    {
                      title: 'Контакты',
                      href: 'contacts.html',
                    },
                    {
                      title: 'Результат по­иска',
                      href: 'search.html',
                    },
                    {
                      title: '404',
                      href: 'page404.html',
                    },
                  ]
                each page in data
                  li.nav-modal__item
                    a.nav-modal__link(href=page.href)
                      |#{page.title}
            .nav-modal__bottom
              .footer__text 
                |По вопросам качества продукции
              .footer__media
                .footer__media-item
                  a.footer__phone(href="#") 
                    |8 800 333-82-54
                .footer__media-item
                  a.footer__mail(href="#") 
                    |info@dubki-producty.ru
        .menu-modal
        .catalog-modal
        .search-modal
          button(data-modal-button='search-close')
        .location-modal
          button(data-modal-button='location-close')
